<h2>Thank you for booking your service with Audi</h2>

<h3>What happens next?</h3>

<p>You will recieve a booking confirmation email.</p>


<div ng-if="osb.user.facilities.option =='dropOff' || osb.user.facilities.option =='whileYouWait' || osb.user.facilities.option =='courtesyVehicle' || osb.user.facilities.option =='courtesyLift' || osb.user.facilities.option =='collectionDelivery'">

	<p>Please bring your vehicle ({{osb.car.vrm}}) to <strong>{{osb.dealer.details.name}}</strong> on  <strong>{{osb.user.selectedDateTime.date | date: "EEE d MMM" }}</strong><span ng-if="osb.user.selectedDateTime.timeSlot"> at <strong>{{osb.user.selectedDateTime.timeSlot | timeFormatedAmPM}}</strong></span>.</p>

</div>


<div ng-if="osb.user.facilities.option =='courtesyVehicle' || ">


	<p>Your car ({{osb.car.vrm}}) will be picked up on <strong>{{osb.user.selectedDateTime.date | date: "EEE d MMM" }}</strong>.  <strong>{{osb.dealer.details.name}}</strong> will be in touch to arrange a suitable time within the next 48 hours.</p>


</div>
