<div ng-controller="dateTimeCtrl">
   <h2>Select your preferred date and time</h2>

   <div class="panel panel-default">
      
      <div class="panel-body">
         <div class="row ">
            <div class="col-xs-5 nopadding-right  nopadding-right ">
                 <br />  <br />  <h2>Delivery and collection options</h2>
               <ul class="nav nav-tabs tabs-left">
                  <li ng-class="{'active': isSelectedCourtesyOption(option.code)}" ng-repeat="option in courtesyOptions">

    

                     <a ng-click="selectCourtesyOption(option.code)" >
                     <div class="row">
                        <div class="col-xs-2">

                             <span  class="icon icon-checkmark icon-xs icon-border icon-success" ng-show="isSelectedCourtesyOption(option.code)"></span>
                        </div>
                          <div class="col-xs-10">

                             <span class="text-link"  ng-bind-html="option.title | to_trusted"></span>
                           </div>
                        </div>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="col-xs-7 nomargin-left grey padding-top-10" style="min-height:450px">
               <!--starting-day="1" -->

               <div ng-show="user.facilities.showDatePicker=='loaded'">
                  <div ng-show="user.facilities.option == 'collectionDelivery'">
                     <div class="panel panel-default">
                        <div class="panel-body">
                           <h3>Nearest postcode area</h3>
                           <div class="row">
                              <div class="col-xs-6">
                                 <select  class="form-control" ng-model="user.colDelPostcodeArea" required ng-options="postCode for postCode in dealer.facilities.colDelPostcodeAreas" ng-change="filterDatesOnPostcodeArea()">
                                 </select>
                              </div>
                              <div class="col-xs-6">
                                 <button class="btn" ng-class="{disabled: !user.colDelPostcodeArea, 'btn-primary':!user.colDelPostcodeArea,'btn-secondary':user.colDelPostcodeArea}" ng-click="filterDatesOnPostcodeArea()">Show me available dates</button>
                              </div>
                           </div>
                           <div ng-if="!user.colDelPostcodeArea">
                              <hr />
                              <p>Your chosen Centre may be able to collect your Audi, and drop your car back once the work is complete.</p>
                              
                              <p>To see if you are eligible for this service please select a postcode area above.</p>
                              
                              <p>If your postcode is not on the list your Centre will endeavour to accommodate your request.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="datePicker" ng-show="(user.facilities.option != 'collectionDelivery') || (user.facilities.option == 'collectionDelivery' && user.colDelPostcodeArea)">
                    
                     <datepicker
                     id="datePicker"
                     ng-change="dateSelected(user.selectedDateTime.date)"
                     date-disabled="disabledDate(date, mode)"
                     ng-model="user.selectedDateTime.date"
                     min="minDate"
                     max-mode="day"
                     starting-day="1"
                     show-weeks="false"
                     class="datePicker"
                     ></datepicker>
                     <br /><br />
                  </div>
                  
                  <div ng-show="user.selectedDateTime.date">
                     <div ng-switch="user.facilities.option" >
                        <!-- dropOff -->
                        <div ng-switch-when="dropOff">
                           <div class="panel panel-default">
                              <div class="panel-body">
                                 <h3>Preferred drop off time</h3>
                                 
                                 <select class="form-control" ng-model="user.selectedDateTime.timeSlot" required ng-options="timeSlot.time as timeSlot.time | timeFormatedAmPM for timeSlot in dealer.selectedDay.availableTimes">
                                 </select>
                              </div>
                           </div>
                           <div class="panel panel-default">
                              <div class="panel-body">
                                 <h3>Dropping off your car</h3>
                                 <p>If you don’t require any alternative transport, simply drop your car off at your chosen Centre and your service advisor will let you know when it will be ready for collection.</p>
                              </div>
                           </div>
                        </div>
                        <!-- whileYouWait -->
                        <div ng-switch-when="whileYouWait">
                           <div class="panel panel-default">
                              <div class="panel-body">
                                 <h3>Preferred drop off time</h3>
                                 
                                 <select  class="form-control" ng-model="user.selectedDateTime.timeSlot" required ng-options="timeSlot.time as timeSlot.time for timeSlot in dealer.selectedDay.availableTimes">
                                    </select><!-- | -->
                                 </div>
                              </div>
                              <div class="panel panel-default" >
                                 <div class="panel-body">
                                    <div class="row clearfix">
                                    <h3 class="pull-left">Estimated waiting time</h3>

                                    <span class="pull-right">{{  totalTimeRequired() |  timeAsHoursMinutes }}</span>
                                 </div>
                                    <p>Enjoy complimentary refreshments in our comfortable seating area, read our selection of newspapers and magazines or browse the latest Audi models and accessories in the showroom.</p>
                                 </div>
                              </div>
                           </div>
                           <!-- courtesyVehicle -->
                           <div ng-switch-when="courtesyVehicle">
                              <div class="panel panel-default">
                                 <div class="panel-body">
                                    <h3>Courtesy car terms and conditions</h3>
                                    <ul>
                                       <li>Must be at least 21 years of age</li>
                                       <li>Must not have more than 6 points</li>
                                       <li>Must hold a valid UK driving license</li>
                                    </ul>
                                    <p>Note that specific terms and conditions vary by Centre, however your Centre will confirm eligibility within 48 hours.</p>
                                 </div>
                                 
                              </div>
                           </div>
                           <div ng-switch-when="collectionDelivery">
                              <div class="panel panel-default" ng-if="user.colDelPostcodeArea">
                                 <div class="panel-body">
                                    
                                    <p>Your chosen Centre may be able to collect your Audi, and drop your car back once the work is complete.</p>
                                    
                                    <p>To see if you are eligible for this service please select a postcode area above.</p>
                                    
                                    <p>If your postcode is not on the list your Centre will endeavour to accommodate your request.</p>
                                 </div>
                              </div>
                           </div>
                           <!-- courtesyLift -->
                           <div ng-switch-when="courtesyLift">
                              <div class="panel panel-default">
                                 <div class="panel-body">
                                    <h3>Organising your lift</h3>
                                    
                                    {{dealer.facilities.courtesyLiftCopy}}
                                 </div>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div ng-hide="dealer.selectedDay.availableTimes">
                     <div class="panel panel-default" ng-if="dealer.selectedDay.availableTimes">
                        <div class="panel-body">
                           <h3>Please select a date above</h3>
                        </div>
                     </div>
                  </div>
                  
                  <div ng-show="user.facilities.showDatePicker=='loading'">
                     <div class="panel panel-default">
                        <div class="panel-body">
                           <h3>Searching booking system</h3>
                           <p>This may take a moment</p>
                           <span audi-loader></span>
                        </div>
                     </div>
                  </div>
                  <div ng-show="user.facilities.showDatePicker=='noDates'">
                     <div class="panel panel-default">
                        <div class="panel-body">
                           <h3>No dates for the selected option.</h3>
                           <p>Please select another option from the left.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>