<div ng-controller="selectCentreCtrl" class="selectCentre">
    
    <h2 >Select a centre</h2>
    
    
    <div class="panel panel-default">
       
        <div class="panel-heading clearfix">
                <span
            class="pull-right  myAudiExtendedNormal"
            ng-model="location"
            ng-if="osb.dealers.length > 0">
            <i class="glyphicon glyphicon-map-marker"></i>
            {{osb.user.searchLocation | uppercase}}
                </span>

                    <p  class="ng-scope warning"
                    ng-if="osb.dealers.length < 1">
                    <strong>
                    {{osb.user.postcode }}
                    </strong>
                    postcode or location you are searching for is not found. <br/>
                    Please try another postcode or location.
                    </p>

            </div>
           
                    <ul class="list-group">
                        <li id="{{dealer.dealerCode}}"
                            ng-class="{'active': centre.showWindow,'noOnlineBooking': !dealer.osbAvailable}"
                            ng-cloak class="list-group-item"
                            ng-repeat="dealer in osb.dealers">
                            <div class="row" ng-class="{'loadingOpacity': dealer.loadingData}">
                                <div class="col-xs-2">
                                    <div class="pull-left miles">

                                        <h4 class="myAudiExtendedBold dealerText">{{dealer.distance | number:1 }} </h4>
                                        <span class="dealerText"> miles </span>
                                    </div>
                                    <span class="chevronRight pull-right"></span>
                                </div>
                                <div class="col-xs-5">
                                    <h4 class="myAudiExtendedBold dealerText dealersName">{{dealer.name}}</h4>
                                    
                                </div>
                                <div class="col-xs-5 centreButtons">
                                    <div class="pull-right">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <button
                                                class="btn btn-tertiary pull-left"
                                                ng-click="osb.viewDealer(dealer)"
                                                ng-disabled="loadingData">
                                                More Details
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button ng-if="dealer.osbAvailable"
                                                class="btn btn-primary pull-right"
                                                ng-click="selectDealer(dealer)"
                                                ng-disabled="loadingData">
                                                Select Centre
                                                </button>
                                                <div ng-if="!dealer.osbAvailable" class="pull-right dealerNoBookText" style="width:106px; display:block;">Online booking is not available</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span ng-if="dealer.loadingData" audi-loader></span>
                        </li>
           </ul>

    
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <form
                        class="new-location-search-form pull-right"
                        name="searchCenterLocatorForm"
                        ng-submit="centreSearch(newLocation)"
                        novalidate>
                        <div
                            class="form-group"
                            xng-class="{ 'has-error' : (searchCenterLocatorForm.newLocation.$invalid &&  searchCenterLocatorForm.newLocation.$hadFocus}">
                            <div class="form-inline">
                                <label
                                    class="myAudiExtendedBold locationLabel"
                                    for="newLocation">
                                    Check another area
                                </label>
                                
                                <input
                                class="form-control "
                                formatted
                                id="newLocation"
                                maxlength="35"
                                name="newLocation"
                                ng-disabled="loadingData"
                                ng-model="newLocation"
                                placeholder="Enter postcode or town"
                                required
                                sa-focus
                                type="formatted text"/>
                                
                                <button
                                class="btn btn-tertiary"
                                ng-disabled="loadingData"
                                type="submit">
                                Find a Centre
                                </button>
                                <label
                                    class="warningMessage"
                                    for="newLocation"
                                    id="locate-centre-results-error"
                                    ng-hide="searchCenterLocatorForm.$valid"
                                    ng-if="warning">
                                    {{warningMessage}}
                                </label>
                                <label
                                    class="warningMessage no-margins"
                                    for="newLocation"
                                    id="locate-centre-results-no-entry"
                                    ng-if="searchCenterLocatorForm.newLocation.$hadFocus &&searchCenterLocatorForm.$invalid">
                                    Please enter location to search.
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>