<div ng-controller="servicesCtrl">
<h2>Select the service(s) you require</h2>

    <div class="panel panel-default" ng-repeat="group in serviceObject">
        <div class="panel-heading clearfix">
           
            <h3 class="panel-title pull-left" ng-bind-html="group.title | to_trusted"></h3>
               
            <a  class="pull-right" ng-if="group.code =='bookService'" ng-click="compareServices()">Compare the different types of service</a>

        </div>
        <div class="panel-body">

    <div  ng-if="isServiceOptionAvailable(item)" ng-repeat="item in group.items">
            <div class="row">
                <div class="col-xs-1">
                    <input type="checkbox" id="check_{{item.serviceCode}}"  ng-model="item.checked" ng-change="serviceItemCheckbox(group,item)" />
                </div>
                <div class="col-xs-7">
                    <label for="check_{{item.serviceCode}}"><strong>{{item.title}}</strong></label>
                    <p>{{item.text}}</p>

                <div ng-if="item.serviceCode=='GEN'" >
                        <div class="row" ng-show="osb.user.genInvestigationText">
                            <div class="col-xs-10">
                                <p class="well well-sm">{{osb.user.genInvestigationText}}</p>
                            </div>
                            <div class="col-xs-2">
                                <button  class="btn btn-tertiary pull-right" ng-click="editGenInvestigationText()">Edit</button>
                            </div>
                        </div>
                </div>

                </div>
                <div class="col-xs-2">
                  <span ng-if="item.price && item.price!='FREE'">&pound;</span>{{item.price}}
                </div>
                <div class="col-xs-2" ng-if="item.moreDetails">
                    <a class="btn btn-tertiary" ng-click="loadDetailsModal(group,item)">More details</a>
                </div>
            </div>

            <hr ng-if="!$last"/>
</div>
        </div>
    </div>

</div>
