        <div class="panel panel-default" >
               <div class="row">
                  <div class="col-xs-5">
                     <form role="form">
                        <div class="form-group">
                           <label for="UsersPostcode">Location</label>
                           <input class="form-control"  type="text" id="UsersPostcode" placeholder="Postcode / Town / City" ng-model="osb.user.postcode" />
                        </div>
                        <label for="carReg">Car Registration</label>
                        <div class="input-group" ng-if="!car.model">
                           <input class="form-control" type="text" id="group"  placeholder="Registration" ng-model="osb.user.vrm" />
                          
                        </div>


                  </form>
               </div>
            </div>
          </div>