<div ng-controller="yourDetailsCtrl">
        <h2 >Your details</h2>
    
<form
		role="form"
		name="personalInfoForm"
		id="personalInfoForm"
		novalidate
		>



		<!--<div class="btn" ng-click="validateDetailsForm()">validateDetailsForm</div> -->
           
            
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">About you</h3>
			 <div class="pull-right">Fields marked with * are required</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-7">
						
						<div
							class="form-group"
							ng-class="{
							'has-error': fieldHasError('personalInfoForm','title'),
							'has-success': fieldHasSuccess('personalInfoForm','title'),
							'has-feedback': fieldHasFeedback('personalInfoForm','title')
							}"
							>
							<label for="profile-title">Title *</label>
							<select
								id="profile-title"
								name="title"
								class="form-control form-control-title"
								ng-model="osb.user.profileData.title"
								ng-options="t for t in  ['Mr', 'Mrs', 'Miss','Ms','Dame', 'Dr', 'Lady', 'Lord','Prof', 'Sir']"
								required
								sa-focus

                                analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/title'
                                }"
							></select>
							<div sal-form-feedback-icons form-name="personalInfoForm" field-name="title"></div>
						</div>
						
						<div
							class="form-group"
							ng-class="{
							'has-error': fieldHasError('personalInfoForm','forename'),
							'has-success': fieldHasSuccess('personalInfoForm','forename'),
							'has-feedback': fieldHasFeedback('personalInfoForm','forename')
							}"
							>
							<label for="profile-forename">First name*</label>
							<input
							id="profile-forename"
							name="forename"
							type="text"
							class="form-control"
							placeholder=""
							ng-model="osb.user.profileData.forename"
							maxlength="60"
							ng-maxlength="60"
							ng-pattern="/^[a-zA-Z '\-]{2,}$/"
							required
							sa-focus
                            analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/forename'
                                }"
							>
							<div sal-form-feedback-icons form-name="personalInfoForm" field-name="forename"></div>
							<label
								id="personalInfoForm-error-forename"
								class="control-label error"
								for="profile-forename"
								ng-show="fieldHasError('personalInfoForm','forename')"
								>
								Please enter your first name, which must contain 2 or more characters
							</label>
						</div>
						<div
							class="form-group"
							ng-class="{
							'has-error': fieldHasError('personalInfoForm','surname'),
							'has-success': fieldHasSuccess('personalInfoForm','surname'),
							'has-feedback': fieldHasFeedback('personalInfoForm','surname')
							}">
							<label for="profile-forename">Surname *</label>
							<input
							id="profile-surname"
							name="surname"
							type="text"
							class="form-control"
							placeholder=""
							ng-model="osb.user.profileData.surname"
							maxlength="60"
							ng-minlength="2"
							ng-maxlength="60"
							required
							sa-focus
                                analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/surname'
                                }"
                                >
							<div sal-form-feedback-icons form-name="personalInfoForm" field-name="surname"></div>
							<label
								class="control-label error"
								for="profile-surname"
								ng-show="fieldHasError('personalInfoForm','surname')">
								Please enter your surname, which must contain 2 or more characters
							</label>
						</div>
						<label for="personalInfoForm-email">Email *</label>
						<div
							class="form-group"
							ng-class="{
							'has-error': fieldHasError('personalInfoForm','email'),
							'has-success': fieldHasSuccess('personalInfoForm','email'),
							'has-feedback': fieldHasFeedback('personalInfoForm','email')
							}"
							>
							<input
							id="personalInfoForm-email"
							name="email"
							type="email"
							class="form-control"
							placeholder=""
							maxlength="60"
							ng-model="osb.user.profileData.email"
							ng-minlength="2"
							ng-maxlength="60"
							sa-focus
							required
                                analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/email'
                                }"
							>
							<div sal-form-feedback-icons form-name="personalInfoForm" field-name="email"></div>
							<label
								id="personalInfoForm-error-email"
								class="control-label error"
								for="personalInfoForm-email"
								ng-show="fieldHasError('personalInfoForm','email') && !personalInfoForm.email.$error.emailUsed"
								>
								Please enter a valid email address
							</label>
							
						</div>







						<label for="personalInfoForm-homeTel">Main phone number *</label>
						<div
							class="form-group"
							ng-class="{
							'has-error': fieldHasError('personalInfoForm','homeTel') && (personalInfoForm.homeTel.$viewValue != ''),
							'has-success': fieldHasSuccess('personalInfoForm','homeTel') && (personalInfoForm.homeTel.$viewValue != ''),
							'has-feedback': fieldHasFeedback('personalInfoForm','homeTel') && (personalInfoForm.homeTel.$viewValue != '')
							}">
							<input
							class="form-control"
							id="personalInfoForm-homeTel"
							name="homeTel"
							ng-model="osb.user.profileData.phone"
							ng-pattern="/^0[0-9]{10,}$/"
							placeholder="02081234567"
							sa-focus
							type="text"
                            required
                                analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/homeTel'
                                }"
                                >
							<div
								field-name="homeTel"
								form-name="personalInfoForm"
								ng-show="personalInfoForm.homeTel.$viewValue != ''"
								sal-form-feedback-icons>
							</div>
							<label
								class="control-label error"
								for="addr-line2"
								id="personalInfoForm-error-homeTel"
								ng-show="fieldHasError('personalInfoForm','homeTel') || personalInfoForm.homeTel.$error.pattern && (personalInfoForm.homeTel.$viewValue != '')">
								Phone number must begin with 0 and consist of at least 11 digits
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Your address</h3>
			</div>
			<div class="panel-body">
				



















                <div class="row">
                    <div class="col-xs-12">

                        <!-- Lookup address by postcode - step 1 -->
                        <ng-form
                            role="form"
                            name="addrLookup1"

                            ng-show="sections.address.lookupForm.step1.visible"
                            novalidate
                            >
                            


                            <div class="row">
                               <div class="col-xs-3">
                                    <label for="addr-lookup-postcode">Postcode *</label>
                                </div>
                            </div>
                            <div class="row">
                               <div class="col-xs-3">
                                        <div
                                        class="form-group"
                                        ng-class="{
                                        'has-error': fieldHasError('addrLookup1','postcode'),
                                        'has-success': fieldHasSuccess('addrLookup1','postcode'),
                                        'has-feedback': fieldHasFeedback('addrLookup1','postcode')
                                        }"
                                        >
                                        <input
                                        id="addr-lookup-postcode"
                                        name="postcode"
                                        type="text"
                                        class="form-control"
                                        placeholder=""
                                        ng-model="osb.user.postcode"
                                        ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
                                        required
                                            analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/postcode'
                                }"
                                        >
                                        <div sal-form-feedback-icons form-name="addrLookup1" field-name="postcode"></div>
                                    </div>

                                <div
                                class="form-group has-error"
                                ng-show="fieldHasError('addrLookup1','postcode')"
                                >
                                <label
                                    id="addrLookup1-error-postcode-required"
                                    class="control-label error"
                                    for="addr-lookup-postcode"
                                    ng-show="fieldHasError('addrLookup1','postcode') && !addrLookup1.postcode.$error.pattern"
                                    >
                                    Please enter your postcode.
                                </label>
                                <label
                                    id="addrLookup1-error-postcode"
                                    class="control-label error"
                                    for="addr-lookup-postcode"
                                    ng-show="fieldHasError('addrLookup1','postcode') && addrLookup1.postcode.$error.pattern"
                                    >
                                    Please enter a valid postcode.
                                </label>
                            </div>



                                </div>

                                 <div class="col-xs-9">

                                    <div class="form-group">
                            
                                        <input
                                        id="sectionAddress-lookup1-submitBtn"
                                        type="button"
                                        ng-click="doLookupAddressStep1()"
                                        class="btn btn-primary"
                                        value="Find my address"
                                            analytics-on="click"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/addressLookupBtn'
                                }"
                                        >
                                        <a
                                            id="sectionAddress-lookup1-editBtn"
                                            ng-click="editAddrManualClick()"
                                            ng-hide="sections.address.lookupForm.step2.visible"
                                            style="margin-left:10px"
                                        >Edit address manually</a>
                                        <a
                                            id="sectionAddress-lookup1-editBtn"
                                            ng-click="editAddrManualFromLookupClick()"
                                            ng-show="sections.address.lookupForm.step2.visible"
                                            style="margin-left:10px"
                                        >Edit address manually</a>
                                     
                                
                                    </div>
                                </div>
                            </div>
                        

                         
                       </ng-form>



                        
                        <!-- Lookup address by postcode - step 2 -->
                        <ng-form
                            role="form"
                            name="addrLookup2"
                            ng-show="sections.address.lookupForm.step2.visible"
                            >
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="form-group">
                                        <select
                                            class="form-control"
                                             ng-init="sections.address.lookupForm.selectedAddr=''"
                                            size="8"
                                            autocomplete="off"
                                            name="selectAddr"
                                            ng-model="sections.address.lookupForm.selectedAddr"
                                            ng-options="a.full for a in sections.address.lookupForm.foundAddresses track by a.ID"
                                            xsa-focus-on="focusAddrSelect"
                                            ng-change="doLookupAddressStep2()"

                                        ></select>
                                    </div>
                                   
                                </div>
                            </div>
                        </ng-form>
                        <!-- Edit address manually -->
                        <ng-form
                            role="form"
                            name="addrEditForm"
                            ng-show="sections.address.editForm.visible"
                            ng-submit="editSectionSave('address')"
                            novalidate
                            >
                            <div class="col-xs-7">
                            <label for="addr-house">House name / number *</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('addrEditForm','address1'),
                                'has-success': fieldHasSuccess('addrEditForm','address1'),
                                'has-feedback': fieldHasFeedback('addrEditForm','address1')
                                }"
                                >
                                <input
                                id="addr-house"
                                type="text"
                                name="address1"
                                class="form-control"
                                placeholder=""
                                ng-model="osb.user.profileData.address1"
                                ng-pattern="/^[0-9a-zA-Z ',\-]+$/"
                                required
                                sa-focus
                                  analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/address1'
                                }"
                                >
                                <div sal-form-feedback-icons form-name="addrEditForm" field-name="address1"></div>
                                <label
                                    id="addrEditForm-error-address1-required"
                                    class="control-label error"
                                    for="addr-house"
                                    ng-show="fieldHasError('addrEditForm','address1') && !addrEditForm.address1.$error.pattern"
                                    >
                                    Please enter your house name / number
                                </label>
                                <label
                                    id="addrEditForm-error-address1"
                                    class="control-label error"
                                    for="addr-house"
                                    ng-show="fieldHasError('addrEditForm','address1') && addrEditForm.address1.$error.pattern"
                                    >
                                    Allowed characters: letters, numbers, spaces, hyphens and apostrophes
                                </label>
                            </div>
                            <label for="addr-line2">Address line 2</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('addrEditForm','address2') && (addrEditForm.address2.$viewValue != ''),
                                'has-success': fieldHasSuccess('addrEditForm','address2') && (addrEditForm.address2.$viewValue != ''),
                                'has-feedback': fieldHasFeedback('addrEditForm','address2') && (addrEditForm.address2.$viewValue != '')
                                }"
                                >
                                <input
                                id="addr-line2"
                                type="text"
                                name="address2"
                                class="form-control"
                                placeholder=""
                                ng-model="osb.user.profileData.address2"
                                ng-pattern="/^[0-9a-zA-Z ',\-]+$/"
                                sa-focus
                                  analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/address2'
                                }"
                                >
                                <div
                                    sal-form-feedback-icons
                                    ng-show="addrEditForm.address2.$viewValue != ''"
                                    form-name="addrEditForm"
                                field-name="address2"></div>
                                <label
                                    id="addrEditForm-error-address2"
                                    class="control-label error"
                                    for="addr-line2"
                                    ng-show="fieldHasError('addrEditForm','address2') && addrEditForm.address2.$error.pattern && (addrEditForm.address2.$viewValue != '')"
                                    >
                                    Allowed characters: letters, numbers, spaces, hyphens and apostrophes
                                </label>
                            </div>
                            <label for="addr-city">City *</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('addrEditForm','city'),
                                'has-success': fieldHasSuccess('addrEditForm','city'),
                                'has-feedback': fieldHasFeedback('addrEditForm','city')
                                }"
                                >
                                <input
                                id="addr-city"
                                type="text"
                                name="city"
                                class="form-control"
                                placeholder=""
                                ng-model="osb.user.profileData.city"
                                ng-pattern="/^[a-zA-Z '\-]{2,}$/"
                                required
                                sa-focus
                                  analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/city'
                                }"
                                >
                                <div sal-form-feedback-icons form-name="addrEditForm" field-name="city"></div>
                                <label
                                    id="addrEditForm-error-city-required"
                                    class="control-label error"
                                    for="addr-city"
                                    ng-show="fieldHasError('addrEditForm','city') && !addrEditForm.city.$error.pattern"
                                    >
                                    Please enter the city
                                </label>
                                <label
                                    id="addrEditForm-error-city"
                                    class="control-label error"
                                    for="addr-city"
                                    ng-show="fieldHasError('addrEditForm','city') && addrEditForm.city.$error.pattern"
                                    >
                                    Minimum 2 characters. Allowed characters: letters, spaces, hyphens and apostrophes
                                </label>
                            </div>
                            <label for="addr-county">County</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('addrEditForm','county') && (addrEditForm.county.$viewValue != ''),
                                'has-success': fieldHasSuccess('addrEditForm','county') && (addrEditForm.county.$viewValue != ''),
                                'has-feedback': fieldHasFeedback('addrEditForm','county') && (addrEditForm.county.$viewValue != '')
                                }"
                                >
                                <input
                                id="addr-county"
                                type="text"
                                name="county"
                                class="form-control"
                                placeholder=""
                                ng-model="osb.user.profileData.county"
                                ng-pattern="/^[a-zA-Z ]*$/"
                                sa-focus
                                  analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/county'
                                }"
                                >
                                <div
                                    sal-form-feedback-icons
                                    ng-show="addrEditForm.county.$viewValue != ''"
                                    form-name="addrEditForm"
                                field-name="county"></div>
                                <label
                                    id="addrEditForm-error-county"
                                    class="control-label error"
                                    for="addr-county"
                                    ng-show="fieldHasError('addrEditForm','county') && addrEditForm.county.$error.pattern && (addrEditForm.county.$viewValue != '')"
                                    >
                                    Allowed characters: letters and spaces
                                </label>
                            </div>
                            <label for="addr-postcode">Postcode *</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('addrEditForm','postcode'),
                                'has-success': fieldHasSuccess('addrEditForm','postcode'),
                                'has-feedback': fieldHasFeedback('addrEditForm','postcode')
                                }"
                                >
                                <input
                                id="addr-postcode"
                                type="text"
                                name="postcode"
                                class="form-control"
                                placeholder=""
                                ng-model="osb.user.profileData.postcode"
                                ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
                                required
                                sa-focus
                                  analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/postcode'
                                }"
                                >
                                <div sal-form-feedback-icons form-name="addrEditForm" field-name="postcode"></div>
                                <label
                                    id="addrEditForm-error-postcode-required"
                                    class="control-label error"
                                    for="addr-postcode"
                                    ng-show="fieldHasError('addrEditForm','postcode') && !addrEditForm.postcode.$error.pattern"
                                    >
                                    Please enter your postcode
                                </label>
                                <label
                                    id="addrEditForm-error-postcode"
                                    class="control-label error"
                                    for="addr-postcode"
                                    ng-show="fieldHasError('addrEditForm','postcode') && addrEditForm.postcode.$error.pattern"
                                    >
                                    Please enter a valid postcode
                                </label>
                            </div>
                            <div class="form-group">
                                <p>
                             
                                <a
                                    id="sectionAddress-edit-lookupBtn"
                                    ng-click="goToLookupClick()"
                                    style="margin-left:10px"
                                >Go to postcode lookup</a>
                                </p>
                            
                            </div>
                             </div>

                        </ng-form>
                    </div>
                </div>
      
  

































			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">About your car</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-7">
					<label for="current-mileage">Current mileage (optional):</label>
					<!-- ng-options="t for t in ['Under 5,000','5,000 - 10,000']" -->
{{osb.user.currentMileage}}
<select name="currentMileage" id="current-mileage"  ng-model="osb.user.currentMileage" required
                        sa-focus class="form-control form-control-current-mileage"
                                 analytics-on="focus"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/mileage'
                                }"
                        >
    <option value="">Current Mileage</option>
    <option value="5000">Under 5,000 miles</option>
    <option value="10000">5,000 - 10,000 miles</option>
    <option value="15000">10,000 - 15,000 miles</option>
    <option value="20000">15,000 - 20,000 miles</option>
    <option value="25000">20,000 - 25,000 miles</option>
    <option value="30000">25,000 - 30,000 miles</option>
    <option value="40000">35,000 - 40,000 miles</option>
    <option value="45000">40,000 - 45,000 miles</option>
    <option value="50000">45,000 - 50,000 miles</option>
    <option value="55000">50,000 - 55,000 miles</option>
    <option value="60000">55,000 - 60,000 miles</option>
    <option value="65000">60,000 - 65,000 miles</option>
    <option value="70000">65,000 - 70,000 miles</option>
    <option value="75000">70,000 - 75,000 miles</option>
    <option value="80000">75,000 - 80,000 miles</option>
    <option value="85000">80,000 - 85,000 miles</option>
    <option value="90000">85,000 - 90,000 miles</option>
    <option value="95000">90,000 - 95,000 miles</option>
    <option value="100000">95,000 - 100,000 miles</option>
    <option value="110000">Over 100,000 miles</option>
</select>




				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Get the latest from Audi</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<p>By giving Audi your contact details, you're agreeing that Volkswagen Group UK Ltd (trading as Audi UK), our Authorised Dealer Network, or our agents, may contact you from time to time, by email, post, or telephone regarding our other Audi products, services and offers which may be of interest to you. We may also contact you for market research purposes.</p>
					
					<p>We do not sell or share your information with third-parties.</p>
					
					<p>If you <strong>do not</strong> wish to receive information about Audi products, services and offers please select the relevant box:</p>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" ng-model="osb.user.marketingByPost" ng-true-value="0" ng-false-value="1"     analytics-on="click"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/marketingByPost/{{osb.user.marketingByPost}}'
                                }" >Post
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" ng-model="osb.user.marketingByTelephone" ng-true-value="0" ng-false-value="1"   analytics-on="click"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/marketingByTelephone/{{osb.user.marketingByTelephone}}'
                                }">Telephone
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox"  ng-model="osb.user.marketingByEmail" ng-true-value="0" ng-false-value="1"  analytics-on="click"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/marketingByEmail/{{osb.user.marketingByEmail}}'
                                }" >Email
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" ng-model="osb.user.marketingBySMS" ng-true-value="0" ng-false-value="1" analytics-on="click"
                                analytics-properties="{
                                    url:'/osb/wizard/your-details/fields/marketingBySMS/{{osb.user.marketingBySMS}}'
                                }">SMS
						</label>
					</div>
					<p>View our <a href="#">Privacy Policy</a></p>
				</div>
			</div>
		</div>
	</div>
</form>
</div>