div.parsys_column .section {
	overflow:hidden;
	width: 100%;
	height: 100%;
}

.cq-notification {
	background: #e3e3e3;
	border-bottom: 1px solid #999;
	color: #333;
	padding: 10px;
	position: fixed; 
	top: 0px;
	width: 100%;
	p {
		padding: 0px; 
		margin: 0px;
	}
	.close {
		background: #333;
		border-bottom: 1px solid #e3e3e3;
		color: #e3e3e3;
		display: block;
		font-size: 14px;
		position: absolute;
		padding: 12px;
		top:0;
		right: 0;
		opacity: 1;
		&:hover {
			@include gradient-vertical($btn-primary-end-color, $btn-primary-start-color);
			background: #444;
		}
	}
}

.cq-notification.hide {
	top: -100px;
	transition: top 1s linear 1s;
}