#heroWrapper
{
	overflow:hidden;
	position:relative;
	a {
		text-decoration:none;
	}

	.container:first-child {
		max-width:1400px;
		min-width:972px;
		position:relative;
		width:auto;
		img {
			top:0;
			transform:scale(1.2);
			width:100%;
		}
	}

	.innerHeroContainer {
		bottom:0;
		left:0;
		margin:auto;
		overflow:hidden;
		position:absolute;
		right:0;
		top:0;
		> a {
			display:block;
			height:600px;
			width:auto;
		}
		.containers {
			padding:30px;
		}
	}
}
