.ilightbox-wrapper {
	height: 100% !important;
	width : 100% !important;
	.video {
		height: 100% !important;
		width: 100% !important;
		> div {
			height: 100% !important;
			width: 100% !important;
		}
	}
}

.lightBoxFooter {
	color:#FFF;
	padding:10px;
	position:relative;
	h2 {
		@extend .myAudiExtendedNormal;
		color:#FFF;
		font-size:14px;
	}
	ul {
		@extend .myAudiExtendedNormal;
		list-style:none;
		li {
			color:#8B8E96;
			float:left;
			font-size:12px;
			padding-left:25px;
		}
		li:hover,
		li:hover a {
			color:#FFF;
		}
		li:before {
			font-family:'icomoon';
			speak:none;
		}
		li.info:before {
			content: '\e6f7';
		}
		li.share:before {
			content: '\e75e';
		}
		li.lightboxCta:before {
			content: '\e70a';
		}
		li a {
			display:inline-block;
			margin-left:3px;
			text-decoration:none;
		}
	}
}