.modelCarousel {
    margin-bottom: 40px;
    ul li {
        background : none;
    }
    .spinner-hide .audi-loader {
        visibility: hidden;
    }
    .carTypes {
        span {
            cursor: pointer;
        }
    }
    .groups {
        li a {
            text-decoration: none;
            p {
                @extend .myAudiExtendedNormal;
            }
        }
    }
    ul.classificationNodes {
        list-style: none;
        margin: 0 auto;
        overflow:hidden;
        li {
            float: left;
            position: relative;
            display: block;
            &.active {
                border-bottom: 1px solid #BE1331;
                a {
                    color: #BE1331;
                }
            }
            a {
                line-height: 20px;
                padding: 10px 15px;
                position: relative;
                display: block;
                text-decoration: none;
            }
        }
    }
    .classificationNodes > li.indicator {
        -webkit-transition-property: margin-left;
        -moz-transition-property: margin-left;
        -o-transition-property: margin-left;
        -ms-transition-property: margin-left;
        transition-property: margin-left;
        -webkit-transition-timing-function: linear;
        -moz-transition-timing-function: linear;
        -o-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        -ms-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        -o-transition-delay: 0;
        -ms-transition-delay: 0;
        transition-delay: 0;
    }
    .carCarousel {
        display: block;
        position: relative;
        padding: 5px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1400px;
        width: 100%;
        text-align: center;
        font-family: audiType_extended_normal, Verdana, Geneva, sans-serif;
    }
    .carCarousel ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .carCarousel li {
        display: block;
        float: left;
        margin: 5px;
        padding: 0;
    }
    .carCarousel li img {
        display: block;
        margin: 0;
    }
    .carCarousel li img:hover {
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
    .modelLabel {
        float: left;
        left: 34px;
        position: relative
    }
    .carCarousel .microfiche-controls .microfiche-button {
        .ie8 & {
            background-image: url(../../../apps/modelCarousel/imgs/arrows_small.png);
        }
        background-image: url(../../../apps/modelCarousel/imgs/arrows.png);
        display: block;
        position: absolute;
        width: 35px;
        /* 20px; */

        height: 60px;
        /* 20px; */

        left: 50%;
        top: 50%;
        margin-left: -17px;
        margin-top: -24px;
        background-size: 70px 120px;
        background-repeat: no-repeat;
        background-color: white;
        opacity:0.8;
        border: 0;
    }
    .carCarousel .microfiche-controls .microfiche-prev-button {
        background-position: 0 0;
        left: 18px;
        top: 50px
    }
    .carCarousel .microfiche-controls .microfiche-next-button {
        background-position: 100% 0;
        left: 99%;
        top: 50px
    }
    .carCarousel .microfiche-controls .microfiche-prev-button:disabled {
        background-position: 0 100%;
    }
    .carCarousel .microfiche-controls .microfiche-next-button:disabled {
        background-position: 100% 100%;
    }
}

.modelCarousel.carouselOff {
    > div:first-child {
        margin:0 -60px;
        padding:0 20px;
        border-bottom:1px solid #F2F2F2;
    }
    .classificationNodes {
        li.active {
            border-bottom:2px solid #BE1331;
        }
    }
    .carCarousel {
        .row {
            border-bottom:1px solid #F2F2F2;
            a {
                display:block;
                img {
                    height:120px;
                    width:240px;
                }
                .modelLabel {
                    float:none;
                    left:0px;
                    text-align:center;
                }
            }
        }
    }
}
