//Grid Styles
.containerGrid {
	.promoBlock {
		display:block;
		text-decoration:none;
	}

	//Container Wrapper
	.containerWrapper {
		margin-bottom:20px;
		overflow:hidden;
		position:relative;
	}

	//Play Button
	.playVideo {
		@include transitions(background-color 0.3s);
	}

	.playVideo {
		background-color:#000;
		position:absolute;
		z-index:98;
		> div {
			background-image:url('/etc/audi-ui/global/img/play.png');
			background-position:15px 13px;
			background-repeat:no-repeat;
			display:table-cell;
			height:40px;
			width:40px;
		}

		p {
			@extend .myAudiExtendedNormal;
			@include transitions((max-width 0.3s, opacity 0.3s));
			color:#FFF;
			display:table-cell;
			font-size:14px;
			height:40px;
			max-width:0;
			@include opacityValue(0);
			vertical-align:middle;
			white-space:nowrap;

			span {
				padding-right:13px;
			}
		}
	}

	//Default Image States
	img {
		@include scaled(1.12);
		@include transitions(transform 0.3s);
		@include opacityValue(1);	

		//Prevent CSS3 flickering	
		-webkit-backface-visibility:hidden;
		width:100%;
	}
	//Hover States
	a:hover {
		img {
			@include scaled(1);
			@include transitions(transform 0.3s);
			@include opacityValue(0.7);
		}
		.playVideo {
			@include transitions(background-color 0.3s);
			background-color:#CC0033;
			p {
				@include transitions((max-width 0.3s, opacity 0.3s 0.1s));
				max-width:200px;
				@include opacityValue(1);
			}
		}
	}
}

//Cross Component Styles
#heroWrapper,
.containerGrid {

	//Hover Styles
	a:hover .cta.whiteText,
	.cta.whiteText:hover {
		color:#E0E6E8;
	}
	a:hover .cta.blackText,
	.cta.blackText:hover {
		color:$audi-red-color;
	}

	//Containers
	.containers {
		height:auto;
		margin:20px;
		padding:20px;
		position:absolute;
		width:auto;
		z-index:97;
	}
	.darkContainer {
		@extend .containers;
		background-color:#000;
		@include opacityValue (0.85);
		.ctaSm,
		.headlineSm {
			@extend .myAudiExtendedNormal;
		}
	}
	.lightContainer {
		@extend .containers;
		background-color:#FFF;		
		@include opacityValue (0.9);
	}
	.containerOff {
		@extend .containers;		
		background-color:transparent;
		margin:0;
	}

	//Multiple Links - Container
	.multipleLinks {
		ul {
			list-style:none;
			margin:0;
			padding:0;

			li {
				margin-bottom:10px;
			}

			li:first-of-type {
				padding-top:20px;
			}
		}
		
		> h3:last-of-type {
			margin-bottom:0px;
			padding-bottom:20px;
		}
	}
	.darkContainer.multipleLinks {
		> ul li:first-of-type {
			border-top:1px solid #8B8E96;
		}
	}
	.lightContainer.multipleLinks {
		> ul li:first-of-type {
			border-top:1px solid #B3B3B3;
		}
	}

	//Positioning
	.positionTR{
		right:0;
		top:0;
	}
	.positionTL {
		left:0;
		top:0;
	}
	.positionBR {
		bottom:0;
		right:0;
	}
	.positionBL {
		bottom:0;
		left:0;
	}
	.positionCL {
		left:0;
		margin:0 20px;
		top:50%;
		transform: translate(0%, -50%);
	}
	.positionCR {
		margin:0 20px;
		top:50%;
		right:0;
		transform: translate(0%, -50%);
	}
	//Headlines
	.headlineXs {
		@extend .myAudiExtendedNormal;
		font-size:12px;
	}
	.headlineSm {
		@extend .myAudiExtendedBold;
		font-size:16px;
	}
	.headlineMd {
		@extend .myAudiExtendedBold;
		font-size:22px;
	}
	.headlineLg {
		@extend .myAudiExtendedBold;
		font-size:32px;
	}

	//Call To Actions
	.cta {
		@extend .link-bullet;
		margin-bottom:0;
	}

	.ctaXs {
		@extend .cta;
		@extend .myAudiExtendedNormal;
		font-size:12px;
	}
	.ctaSm {
		@extend .cta;
		@extend .myAudiExtendedBold;
		font-size:16px;
	}
	.ctaMd {
		@extend .cta;
		@extend .myAudiExtendedBold;
		font-size:22px;
	}
	.ctaLg {
		@extend .cta;
		@extend .myAudiExtendedBold;
		font-size:32px;
	}
	h2.cta {
		margin-bottom: 20px;
	}
	h2.cta:before {
		display: none;
	}
	.link-bullet:before {
		border-width:5px 0 5px 8px;
		margin-right:8px;
	}

	//Colours
	.blackText {
		color:#000;
	}
	.whiteText {
		color:#FFF;
	}
}

//Call To Action Animation - Homepage Specific
@-webkit-keyframes transition {
	0% {
		background-position: -300px 0;
	}
	100% {
		background-position: 971px 0;
	}
}

//iLightBox Styling
// .video {
// 	height: 300px !important;
// 	width : 500px !important;

// 	> div {
// 		height: 300px !important;
// 		width:500px !important;
// 	}
// }

.lightBoxFooter {
	color:#FFF;
	padding:15px 10px;
	position:relative;
	h2 {
		@extend .myAudiExtendedNormal;
		color:#FFF;
		font-size:14px;
	}
	ul {
		@extend .myAudiExtendedNormal;
		list-style:none;
		li {
			color:#8B8E96;
			float:left;
			font-size:12px;
			padding-left:25px;
		}
		li:hover,
		li:hover a {
			color:#FFF;
		}
		li:before {
			font-family:'icomoon';
			speak:none;
		}
		li.info:before {
			content: '\e6f7';
		}
		li.share:before {
			content: '\e75e';
		}
		li.lightboxCta:before {
			content: '\e70a';
		}
		li a {
			display:inline-block;
			margin-left:3px;
			text-decoration:none;
		}
	}
}
