<h2>Enter your details below to create your myAudi account</h2>
<form name="signup" id="signup" method="post">
	<div class="table">
		<div class="row">
			<label for="signup-firstname">First Name*</label>
			<input type="text" id="signup-firstname" maxlength="120"/>
			<span class="error"></span>
		</div>
		<div class="row">
			<label for="signup-surname">Surname*</label>
			<input type="text" id="signup-surname" maxlength="120"/>
			<span class="error"></span>
		</div>
		<div class="row">
			<label for="signup-email">Email address*</label>
			<input type="email" id="signup-email" maxlength="120"/>
			<span class="error"></span>
		</div>
	</div>
</form>