<div class="col-xs-12" ng-show="isForgotPasswordFormVisible()">
	<h2>Enter your email below to reset password</h2>
	<form
		name="forgotPasswordForm"
		ng-submit="forgotPasswordFormSubmit()"
		novalidate
		role="form">
		<div class="row">
			<div class="col-xs-12">
				<label
					class="control-label"
					for="forgotPasswordForm-email">
					Email address
				</label>
			</div>
		</div>
		<div 
			class="form-group row"
			ng-class="{
				'has-error':    fieldHasError('forgotPasswordForm', 'email'),
				'has-success':  fieldHasSuccess('forgotPasswordForm', 'email'),
				'has-feedback': fieldHasFeedback('forgotPasswordForm', 'email')
			}">
			<div class="col-xs-12 form-group">
				<input
					class="form-control"
					id="forgotPasswordForm-email"
					name="email"
					ng-change="resetFieldErrors('forgotPasswordForm', 'email')"
					ng-model="model.email"
					placeholder="example@email.com"
					required
					sal-focus
					type="email">
				<div sal-form-feedback-icons form-name="forgotPasswordForm" field-name="email"></div>
				<label
					class="control-label error"
					for="forgotPasswordForm-email"
					ng-show="fieldHasError('forgotPasswordForm', 'email')">
					<span ng-if="getErrorCode() != 414">
						Please enter a valid email
					</span>
					<span ng-if="getErrorCode() == 414">
						The email you have entered does not match any of our records, please try again
					</span>
				</label>
			</div>
			<div class="col-xs-12">
				<input
					class="btn btn-primary"
					id="forgotPasswordForm-submitBtn"
					type="submit"
					value="Reset password">
			</div>
		</div>
	</form>
</div>
<div class="col-xs-12" ng-show="isSuccessMessageVisible()" id="forgotPassword-messageSent">
	<h2>Password Reset</h2>
	<p>Instructions on how to reset your password have been sent to {{model.email}}</p>
</div>
