<div class="col-xs-12" ng-show="isResetPasswordFormVisible()" >

	<h2>
		Hi {{ model.forename }},
		<span ng-if="isPasswordExpiredMode()">your password expired</span>
		<span ng-if="!isPasswordExpiredMode()">enter your new password below</span>
	</h2>

	<p ng-if="isPasswordExpiredMode()">For security purposes, your current password is set to expire <strong>every 180 days</strong>. Please change it to continue</p>

	<div class="form-group has-error" ng-if="getErrorCode() == 313 && resetPasswordForm.$pristine">
		<label class="control-label">You cannot reuse an old password.</label>
	</div>

	<form
		role="form"
		name="resetPasswordForm"
		ng-submit="resetPasswordFormSubmit()"
		novalidate
		>

		<div ng-show="getErrorCode() == 107" class="form-group has-error">
			<label class="control-label">Reset Password verification key was invalid.</label>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<label class="control-label" for="password">
					<span ng-if="isPasswordExpiredMode()">Choose a <strong>new</strong> password</span>
					<span ng-if="!isPasswordExpiredMode()">Password</span>
				</label>
			</div>
		</div>
		<div
			class="row form-group"
			ng-class="{
				'has-error': fieldHasError('resetPasswordForm', 'password'),
				'has-success': fieldHasSuccess('resetPasswordForm', 'password'),
				'has-feedback': fieldHasFeedback('resetPasswordForm', 'password')
			}"
			>
			<div class="col-xs-8">
				<input
					type="password"
					class="form-control"
					name="password"
					maxlength="24"
					ng-model="model.password"
					id="password"
					placeholder="Password"
					required
					sal-password-popover="passwordPopoverContent"
					popover-html-unsafe="{{passwordPopoverContent}}"
					popover-placement="right"
					popover-trigger="focus"
					popover-append-to-body
					sal-password-validate=""
					sal-focus
				/>
				<div sal-form-feedback-icons form-name="resetPasswordForm" field-name="password"></div>
				<label
					class="control-label error"
					for="password"
					ng-show="fieldHasError('resetPasswordForm', 'password')"
					>
					Please enter a valid password
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<label class="control-label" for="passwordConfirm">
					<span ng-if="isPasswordExpiredMode()">Repeat <strong>new</strong> password</span>
					<span ng-if="!isPasswordExpiredMode()">Repeat password</span>
				</label>
			</div>
		</div>

		<div
			class="row form-group"
			ng-class="{
				'has-error': fieldHasError('resetPasswordForm', 'passwordConfirm'),
				'has-success': fieldHasSuccess('resetPasswordForm', 'passwordConfirm'),
				'has-feedback': fieldHasFeedback('resetPasswordForm', 'passwordConfirm')
			}"
			>
			<div class="col-xs-8">
				<input
					type="password"
					class="form-control"
					name="passwordConfirm"
					maxlength="24"
					id="passwordConfirm"
					placeholder="Password"
					ng-model="model.passwordConfirm"
					sal-password-repeat="model.password"
					sal-focus
					required
				/>
				<div sal-form-feedback-icons form-name="resetPasswordForm" field-name="passwordConfirm"></div>

				<label
					class="control-label error"
					for="myaudilogin-signup-passwordConfirm"
					ng-show="(resetPasswordForm.passwordConfirm.$hadFocus || resetPasswordForm.submitted) && !model.passwordConfirm.length > 0"
					>
					Please re-enter a password
				</label>

				<label
					class="control-label error"
					for="myaudilogin-signup-passwordConfirm"
					ng-show="(resetPasswordForm.passwordConfirm.$hadFocus || resetPasswordForm.submitted) && resetPasswordForm.passwordConfirm.$error.different && model.passwordConfirm.length > 0"
					>
					Passwords don't match
				</label>

			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<button type="submit" class="btn btn-primary">
					<span ng-if="isPasswordExpiredMode()">Set new password</span>
					<span ng-if="!isPasswordExpiredMode()">Reset password</span>
				</button>
			</div>
		</div>
	</form>

	<div id="existing-or-new-user">
		Remember your password?
		<a href="" ng-mousedown="goToLogin()">
			Log in
		</a>
	</div>
</div>

<div class="col-xs-10" ng-show="isLoadingMessageVisible()">
	<div class="row message-area">
		<div class="col-xs-3">
			<span class="icon icon-cog icon-sm icon-border"></span>
		</div>
		<div class="col-xs-9">
			<span class="title">Checking your details ...</span>
		</div>
	</div>
</div>

<div ng-show="getErrorCode() == 103">
	<div class="col-xs-12">
		<h2>Your password reset link has expired.</h2>
		<p>Please enter your email below to request a new link</p>
		<a href="" ng-click="resendPasswordResetEmail()" class="btn btn-lg btn-primary">Reset password</a>
	</div>
</div>

<div ng-show="getErrorCode() == 104">
	<div class="col-xs-12">
		<h2>The password reset link is invalid.</h2>
	</div>
</div>

<div ng-show="resetPasswordEmailResent">
	<div class="col-xs-12">
		<h2>Password Reset</h2>
		<p>Instructions on how to reset your password have been sent to {{model.email}}</p>
	</div>
</div>
