<!doctype html>
<html lang="en" ng-app="audiApps" id="ng-app"  xmlns:ng="http://angularjs.org">
<head>
  <meta charset="utf-8">
  <title>Audi model manager</title>


<!-- base styles -->
     <link rel="stylesheet" href="/audi-ui/css/sass/style.css">

      <!-- app styles -->
     <link rel="stylesheet" href="/audi-ui/css/apps/shortlist/css/shortlist.css">
</head>
<body>

  
<!-- AUDI HEADER -->
<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Audi</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>



<!-- // AUDI HEADER -->


<!-- MAIN APP WRAPPER -->


    <!-- inline style that will be CMS driven (so can not be in css files) -->
 <!--   {{shortlistModels}}
                  <li class="remove" ng-repeat="model in shortlistModels" class="configcode_a4limo">
            <a class="infoPanel" href="a4-saloon.html">
              <div class="itemTitle">{{model.name}}</div>
              
              <div class="fromPrice"> Starting from 
                          
                          £{{otrPriceMin | number:0}}
              </div>
              <img width="124" height="50" data-thumbnailhover="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/A4-Saloon_front.png" src="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/A4-Saloon_side.png" class="png">

            </a>
            <div class="shortListCnt">
              <a  ng-click="shortlistService.removeModel(model.configCode)" href="#">
                <span class="btn"><i></i></span>
                <span class="addRemoveLabel">Remove from shortlist</span>
              </a>
            </div>
          </li> -->

<div class="carShortlist shortListWrapper">  
    <a class="shotlistBtn"> My shortlist </a> 
   
        

 
  <div class="container-fluid">
              <div class="row">
                <div class="col-xs-5">
           
                  <h2>MODELS</h2>
      <ul>    
        
        
        
        <li>
            <a class="infoPanel" href="rs4-avant.html">
              <div class="itemTitle">a1sb</div>
              
              <div class="fromPrice"> Starting from 
                          
                          £55,630
              </div>
              <img width="124" height="50" data-thumbnailhover="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/RS4-Avant_front.png" src="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/RS4-Avant_side.png" class="png">

            </a>
    
            <div class="render-shortlist-button" range="A1" configcode="a1sb" />
          </li>
        
              
            <li>
            <a class="infoPanel" href="a4-saloon.html">
              <div class="itemTitle">A4 Saloon</div>
              
              <div class="fromPrice"> Starting from 
                          
                          £24,150
              </div>
              <img width="124" height="50" data-thumbnailhover="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/A4-Saloon_front.png" src="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/A4-Saloon_side.png" class="png">

            </a>
      
            <div class="render-shortlist-button" range="A4" configcode="a4limo" />
          </li>
        
            <li>
            <a class="infoPanel" href="a4-avant.html">
              <div class="itemTitle">A4 Avant</div>
              
              <div class="fromPrice"> Starting from 
                          
                          £25,450
              </div>
              <img width="124" height="50" data-thumbnailhover="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/A4-Avant_front.png" src="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/A4-Avant_front.png" class="png">

            </a>
    
            <div class="render-shortlist-button" range="A4" configcode="a4avant" />
          </li>
        
            <li>
            <a class="infoPanel" href="a4-allroad-quattro.html">
              <div class="itemTitle">A4 allroad quattro</div>
              
              <div class="fromPrice"> Starting from 
                          
                          £32,000
              </div>
              <img width="124" height="50" data-thumbnailhover="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/A4-allroad_front.png" src="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/A4-allroad_side.png" class="png">

            </a>

            <div class="render-shortlist-button" range="A4" configcode="a4aq" />
          </li>
        
            <li>
            <a class="infoPanel" href="s4-saloon.html">
              <div class="itemTitle">S4 Saloon</div>
              
              <div class="fromPrice"> Starting from 
                          
                          £38,910
              </div>
              <img width="124" height="50" data-thumbnailhover="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/S4-Saloon_front.png" src="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/S4-Saloon_side.png" class="png">

            </a>
              <div class="render-shortlist-button" range="A4" configcode="s4limo" />
          
          </li>
        
            <li>
            <a class="infoPanel" href="s4-avant.html">
              <div class="itemTitle">S4 Avant</div>
              
              <div class="fromPrice"> Starting from 
                          
                          £38,910
              </div>
              <img width="124" height="50" data-thumbnailhover="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/S4-Avant_front.png" src="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/S4-Avant_side.png" class="png">

            </a>
            <div class="render-shortlist-button" range="A4" configcode="s4avant" />
            
          </li>
        
            <li>
            <a class="infoPanel" href="rs4-avant.html">
              <div class="itemTitle">RS 4 Avant</div>
              
              <div class="fromPrice"> Starting from 
                          
                          £55,630
              </div>
              <img width="124" height="50" data-thumbnailhover="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/RS4-Avant_front.png" src="http://cdn.audi.co.uk/dam/7_days/ModelsThumbs/RS4-Avant_side.png" class="png">

            </a>
    
            <div class="render-shortlist-button" range="A4" configcode="rs4avant" />
          </li>
          
            
      
            </ul>
              </div>
             <div class="col-xs-5">



              <h2>SHORTLIST</h2>
        


              </div>
            </div>
          </div>
            </div> 
        
</div>




<!-- AUDI FOOTER -->
<div id="footer" style="margin-top:300px">
      <div class="container">
        <p class="text-muted">Audi footer.</p>
      </div>
    </div>
<div class="carShortlist shortListWrapper" >  
    <a class="shotlistBtn"> My shortlist </a> 
    <div class="vehicleCarouselHolder"  >
        <div class="vehicleCarousel" id="carShortlistDataInjector"  ng-controller="shortListCtrl"> 
            <div>
  shortlist: {{shortlist}}
               <ul> 
      
                  <li ng-repeat="model in shortlist | reverse" class="render-shortlist" range="A4" configcode="{{model.configCode}}">{{model}} - {{model.configCode}}</li>
                  
                    <li  ng-show="shortlist.length < 1" class="emtpyItem"></li>
                    <li  ng-show="shortlist.length < 2" class="emtpyItem"></li>
                    <li  ng-show="shortlist.length < 3" class="emtpyItem"></li>
                    <li  ng-show="shortlist.length < 4" class="emtpyItem"></li>
                    <li  ng-show="shortlist.length < 5" class="emtpyItem"></li>
                    <li  ng-show="shortlist.length < 6" class="emtpyItem"></li>
                    
                    
                </ul>

            </div> 
        </div>
    </div>
</div>
<!-- // AUDI FOOTER -->





<!-- standard APP INCLUDES -->

  <script src="/audi-ui/lib/jquery/jquery-1.10.2.js"></script>
  <script src="/audi-ui/lib/bootstrap/js/bootstrap.min.js"></script>

  <script src="/audi-ui/lib/angular/angular.js"></script>
  <script src="/audi-ui/lib/angular/angular-resource.min.js"></script>
    <script src="/audi-ui/lib/angular/angular-cookies.min.js"></script>
  <script src="/audi-ui/lib/angular/angular-animate.min.js"></script>

  <!--myaudi-login -->
<script src="/audi-ui/apps/shortlist/ngapp-shortlist.js"></script>

  
  

</body>
</html>
