@import "../../../../global/styles/scss/partials/_includesForApps";

#audi-header {
	ul {
		li {
			a {
				text-decoration:none;
			}
			a:hover {
				text-decoration:underline;
			}
		}
	}

	.header-top-wrapper {
		padding:5px 0;
		background-color:#222;
		min-height:52px;
		.header-top {
			@include transitions(width 0.4s);
			width:100%;
			> li {
				@include transitions(opacity 0.4s);
				@extend .link-bullet;
				padding:10px;
				position:relative;
				a {
					font-size:11px;
					color: #FFF;
				}
				a:hover {
					text-decoration:underline;
				}
			}
			li.link-bullet:before {
				margin-right:3px;
			}					
			.search {
				padding:0;
				position:absolute;
				right:8px;
				top:5px;
				.search-form {
					display:inline-block;
					.search-field {
						@include transitions((background-color  0.1s, width 0.4s ease-out));
						background-color:transparent;				
						background-image:url('/etc/audi-ui/global/img/search_default.png');
						background-position: 5px center;
						background-repeat: no-repeat;
						background-size: 20px 20px;
						border:none;
						border-radius:5px;
						cursor:pointer;
						height:30px;
						outline:none;
						padding:0 0 0 34px;
						position:relative;
						width:0;
					}
					.search-submit {
						display:none;
					}
					.search-field:focus {
						background-color: #FFF;
						background-image:url('/etc/audi-ui/global/img/search_focus.png');
						background-position: 5px center;
						background-repeat: no-repeat;
						background-size: 20px 20px;
						cursor: text;
						outline: 0;
						width: 230px;
					}
				}
			}			
			.search:before {
				border:none;
			}			
		}
		.header-top.search-transition {
			li {
				@include transitions(opacity 0.4s);
				@include opacityValue (0);
			}
			.search {
				@include opacityValue (1);
			}
		}	
	}

	.header-bottom-wrapper {
		background-color: #FFF;
		border-bottom: 1px solid #E0E6E8;	
		.col-xs-4 {
			a {
				margin:23px 0;
			}
		}	
		.col-xs-8 {
			z-index:1000;
		}
		.header-bottom {
			> li  {
				> a {		
					color:#555;
					padding:30px 20px;
				}
				> a:hover {
					color:#222;
				}
			}
			> li:first-child a {
				padding-left:0;
			}
			> li.open {
				> a:first-child {
					color:#222;
					.caret {
					  border-bottom:$caret-width-base solid;
					  border-left: $caret-width-base solid transparent;
					  border-right:$caret-width-base solid transparent;
					  border-top:0;
					  display:inline-block;
					  height:0;
					  margin-left:2px;
					  vertical-align:middle;
					  width:0;
					}
				}
			}
		}
	}

	.header-bottom,
	.header-top {
		margin:0;
		> li {
			display:inline-block;
			> a {
				@extend .myAudiExtendedNormal;
			}
		}
		li a:hover {
			text-decoration:none;
		}
	}

	.contentGrid {
		h2, h3 {
			color:#41464C;
		}
		h3 {
			font-size:13px;
		}
		h3 {
			font-size:12px;
		}
		a:hover {
			text-decoration:none;
		}
		.contentBlock {
			a:first-child {
				display:block;
				overflow:hidden;
				img {
					float:left;
					margin-right:15px;
				}
				> .contentInfo {
					color:#888;
					float:left;
					width:250px;
					h2 {
						color:#222;
						font-size:16px;
						margin-bottom:5px;
					}
					p {
						margin-bottom:7px;
					}				
				}
			}
			a:first-child:hover {
				.contentInfo {
					h2 {
						color:$audi-red-color;
					}
					p {
						color:#888;
					}
				}
			}
			.callToAction {
				margin-left:151px;
				h3 {
					margin-bottom:3px;
				}
				a {
					@extend .myAudiExtendedNormal;
					color:#8B8E96;
					font-size:12px;
				}
				a:hover{
					color:$audi-red-color;
				}
				a {
					border-width:5px 0 5px 7px;
					margin-right:3px;
				}
			}
		}
		.contentLinks {
			margin-top:20px;
			padding:20px 0;
			ul {
				margin:0 auto;
				padding:0;
				text-align:center;
				li {
					display:inline-block;
					padding:0 30px;
					position:relative;
				}
				li:first-child:before {
					content: '';
				}
				li:before {
					content: '\00B7';
					font-size:30px;
					position:absolute;
					left:-7px;
					top:-15px;
				}
			}
		}
		.osbForm {
			background-color:#F8F8F8;
			.panel-body {
				padding:35px;
				form {
					text-align:center;
					.form-group {
						display:inline-block;
						margin-left:30px;
						width:25%;
						.control-label {
							float:left;
						}
						input {
							clear:both;
						}
					}
					.form-group:first-child {
						margin-left:0;
					}
				}
			}
		}
	}
}
.menuDim {
	@include transitions(opacity 0.3s);
	background-color:#000;
	height:100vh;
	@include opacityValue (0);
	position: absolute;
	width:100%;
	&.dim-on {
		@include opacityValue (0.12);
		z-index:998;
	}
}

//Yamm overides
.navbar-default {
	.navbar-nav .open > a,
	.navbar-nav .open > a:focus,
	.navbar-nav .open > a:hover {
		background-color:#FFF;
	}
}

