@import "bootstrap/bootstrap.scss";

@font-face {
	font-family: 'audi-type-normal';
	src: url('/audi-ui/fonts/AudiTypeV03-Normal.eot?#iefix') format('embedded-opentype'), 
	     url('/audi-ui/fonts/AudiTypeV03-Normal.woff') format('woff'), 
	     url('/audi-ui/fonts/AudiTypeV03-Normal.ttf')  format('truetype'),
	     url('/audi-ui/fonts/AudiTypeV03-Normal.svg#audi-type-normal') format('svg');
	}
	
@font-face {
	font-family: 'audi-type-bold';
	src: url('/audi-ui/fonts/AudiTypeV03-Bold.eot?#iefix') format('embedded-opentype'), 
	     url('/audi-ui/fonts/AudiTypeV03-Bold.woff') format('woff'), 
	     url('/audi-ui/fonts/AudiTypeV03-Bold.ttf')  format('truetype'),
	     url('/audi-ui/fonts/AudiTypeV03-Bold.svg#audi-type-normal') format('svg');
	}

html, body {
	width:  100%;
	height: 100%;
	font-family: audi-type-normal, verdana, sans-serif;
}
html{
    position: relative;
  min-height: 100%;
}


#footer {

  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}



/* buttons */

/* fade animation */

.btn {
	transition: all 0.1s;
}

/* primary - red button */

.btn.btn-primary {
	  background: -moz-linear-gradient(50% 100% 90deg,rgba(207, 41, 65, 1) 63.99%,rgba(244, 75, 105, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(207, 41, 65, 1) 63.99%, rgba(244, 75, 105, 1) 100%);
  background: -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0.6399,rgba(207, 41, 65, 1) ),color-stop(1,rgba(244, 75, 105, 1) ));
  background: -o-linear-gradient(90deg, rgba(207, 41, 65, 1) 63.99%, rgba(244, 75, 105, 1) 100%);
  background: -ms-linear-gradient(90deg, rgba(207, 41, 65, 1) 63.99%, rgba(244, 75, 105, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CF2941', endColorstr='#F44B69' ,GradientType=0)";
  background: linear-gradient(0deg, rgba(207, 41, 65, 1) 63.99%, rgba(244, 75, 105, 1) 100%);
  border-style: Solid;
  border-color: #D12445;
  border-color: rgba(209, 36, 69, 1);
  border-width: 1px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F44B69',endColorstr='#CF2941' , GradientType=0);
  &:hover {
  	   background : -moz-linear-gradient(50% 100% 90deg,rgba(199, 38, 65, 1) 0%,rgba(172, 25, 63, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(199, 38, 65, 1) 0%, rgba(172, 25, 63, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(199, 38, 65, 1) ),color-stop(1,rgba(172, 25, 63, 1) ));
  background : -o-linear-gradient(90deg, rgba(199, 38, 65, 1) 0%, rgba(172, 25, 63, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(199, 38, 65, 1) 0%, rgba(172, 25, 63, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#C72641', endColorstr='#AC193F' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(199, 38, 65, 1) 0%, rgba(172, 25, 63, 1) 100%);
  border-style : Solid;
  border-color : #D12445;
  border-color : rgba(209, 36, 69, 1);
  border-width : 1px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AC193F',endColorstr='#C72641' , GradientType=0);
  }
}

.btn-tertiary {
	background: rgba(255,255,255,0.3);
	border: 1px solid rgba(0,0,0,0.4);
	&:hover {
		background: rgba(255,255,255,0.4)
	}
}







