<div id="details">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-11">
                <h2>{{centre.name}}</h2>
            </div>
            <div class="col-xs-1">
                <button type="button" class="close" ng-click="close()">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <location-map map="map" height="200"/>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-4 centreContact">

                <div>
                    <h3 class="no-margins">Address</h3>
                    <p ng-bind-html="centre.address | address" class="no-margins"></p>
                    <p ng-bind-html="centre.postcode | uppercase"></p>
                </div>
                <div ng-if="centre.telephone">
                    <h3 class="no-margins">Main phone</h3>
                    <a class="no-underline" href="#">
                        <strong class="myAudiExtendedNormal">{{centre.telephone}}<br /><br /></strong>
                    </a>
                </div>
              <!--   <div ng-if="centre.fax">
                    <h3 class="no-margins">Main fax</h3>
                    <a href="#">
                        <strong class="myAudiExtendedNormal">{{centre.fax}}<br /><br /></strong>
                    </a>
                </div> -->
                <div class="centreEmail" ng-if="centre.email">
                    <h3 class="no-margins">Email</h3>
                    <a class="no-underline" href="mailto:{{centre.email}}?Subject=Test%20Email">
                        <strong class="myAudiExtendedNormal">{{centre.email}}<br /><br /></strong>
                    </a>
                </div>
                <div ng-if="centre.url">
                    <h3 class="no-margins">Web</h3>
                    <a class="no-underline" href="http://{{centre.url}}" target="_blank">
                        <strong class="myAudiExtendedNormal">{{centre.url}}<br /><br /></strong>
                    </a>
                </div>
                <div ng-if="centre.dealerManager">
                    <h3 class="no-margins">Head Of Business</h3>
                    <strong class="myAudiExtendedNormal">{{centre.dealerManager}}</strong>
                </div>
            </div>
            <div class="col-xs-4 centreTelephone" ng-if="centre.salesHours.length">
                <h3>Sales</h3>
                <centre-status times="centre.salesHours"></centre-status>
                <ul class="list-unstyled openingHours">
                    <li ng-repeat="sh in centre.salesHours"><span>{{sh.days}}</span>{{sh.hours}}</li>
                </ul>
                <!-- <div class="row">
                    <div class="col-xs-6">
                        <div nxg-if="centre.email">
                            <h4 class="no-margins">Sales phone</h4>
                            <a href="#" class="no-underline">
                                <strong>01604 590 450<br /><br /></strong>
                            </a>
                        </div>
                        <div nxg-if="centre.email">
                            <h4 class="no-margins">Sales fax</h4>
                            <a href="#" class="no-underline">
                                <strong>01604 590 451<br /><br /></strong>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div> -->
            </div>
            <div class="col-xs-4 centreTelephone" ng-if="centre.serviceHours.length">
                <h3>Servicing</h3>
                <centre-status times="centre.serviceHours"></centre-status>
                <ul class="list-unstyled openingHours">
                    <li ng-repeat="sh in centre.serviceHours"><span>{{sh.days}}</span> {{sh.hours}}</li>
                </ul>
                <!-- <div class="row">
                    <div class="col-xs-6">
                        <div nxg-if="centre.email">
                            <h4 class="no-margins">Service phone</h4>
                            <a href="#" class="no-underline">
                                <strong>01604 590 400<br /><br /></strong>
                            </a>
                        </div>
                        <div nxg-if="centre.email">
                            <h4 class="no-margins">Service fax</h4>
                            <a href="#" class="no-underline">
                                <strong>01604 590 401<br /><br /></strong>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div nxg-if="centre.email">
                            <h4 class="no-margins">Parts phone</h4>
                            <a href="#" class="no-underline">
                                <strong>01604 590 420<br /><br /></strong>
                            </a>
                        </div>
                        <div nxg-if="centre.email">
                             <h4 class="no-margins">Parts fax</h4>
                            <a href="#" class="no-underline">
                                <strong>01604 590 421<br /><br /></strong>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="modal-footer" ng-if="showBackToResults">
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-tertiary pull-left" ng-click="viewCentreList()">Back</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary pull-right" ng-click="selectCentre(centre)">Select Centre</button>
            </div>
        </div>
    </div>
</div>