<div id="error">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-11">                
            </div>
            <div class="col-xs-1">
                <button type="button" class="close" ng-click="close()">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">                    
            </div>
            <div class="col-xs-8 text-center"> 
                <p>
                    The service is currently unavailable. Please try again later.
                </p>                   
            </div>
            <div class="col-xs-2">                    
            </div>                
        </div>
      
    </div>
</div>