<div id="centre-search-loading">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-2">                    
            </div>
            <div class="col-xs-8 text-center"> 
                <h2 ng-bind-html="loadingMessage"></h2>                   
            </div>
            <div class="col-xs-2">                    
            </div>                
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">                    
               <span audi-loader /> 
            </div>
        </div>
    </div>
</div>