<div id="search">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-11">
                <h2>Locate an Audi Centre</h2>
            </div>
            <div class="col-xs-1">
                <button type="button" class="close" ng-click="close()">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body" ng-class="{'loadingState' : loadingData}">
        <div class="row">
            <div class="col-xs-12">
                <form 
                    class="location-search-form" 
                    name="searchCenterLocatorForm" 
                    ng-submit="centreSearch(location)" 
                    novalidate>
                    <div 
                        class="form-group" 
                        ng-class="{ 'has-error' : searchCenterLocatorForm.location.$invalid && searchCenterLocatorForm.location.$hadFocus}"> 
                        <label class="accessibility">Location</label>
                        <input 
                            class="form-control"
                            formatted
                            id="location"  
                            maxlength="35" 
                            name="location" 
                            ng-disabled="loadingData"
                            ng-model="location" 
                            placeholder="Town or Post code"    
                            required 
                            sa-focus
                            type="formatted text">
                       <!--  <div 
                            class="feedback-icons" 
                            ng-show="searchCenterLocatorForm.location.$invalid && searchCenterLocatorForm.location.$hadFocus">
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div> -->                                               
                        <button 
                            class="btn btn-primary" 
                            ng-disabled="loadingData"
                            type="submit"
                            ng-click="searchCenterLocatorForm.location.$hadFocus = true"> 
                            Search
                        </button>

                        <div class="row">
                            <div class="col-xs-12">
                                <label 
                                    class="warningMessage"
                                    for="location"
                                    id="locate-centre-error"
                                    ng-show="searchCenterLocatorForm.$invalid" 
                                    ng-hide="searchCenterLocatorForm.location.$hadFocus && searchCenterLocatorForm.location.$invalid"
                                    ng-if="warning">
                                    {{warningMessage}}
                                </label>
                                <label 
                                    class="warningMessage no-margins"
                                    for="newLocation"
                                    id="locate-centre-no-entry" 
                                    ng-if="searchCenterLocatorForm.location.$hadFocus && searchCenterLocatorForm.location.$invalid">
                                    Please enter location to search.
                                </label>
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div>