<div class="modal-header">
	<h1>Get the latest from Audi</h1>
</div>

<div class="modal-body">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

	<div class="clearfix">
		<button class="btn btn-primary pull-left" ng-click="signupConfirm(false)">Yes, keep me informed</button>
		<button class="btn btn-primary pull-right" ng-click="signupConfirm(true)">No, I'm not interested</button>
	</div>
</div>