<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-12">
			<h2>Enter your details below to create an account</h2>
		</div>
	</div>
	<form
		id="myaudilogin-signup-form"
		method="post"
		name="signupForm"
		ng-submit="signupFormSubmit()"
		novalidate
		role="form">
		<div class="row">
			<div class="col-xs-12">
				<label class="control-label" for="myaudilogin-signup-title">Title</label>
			</div>
		</div>
		<div
			class="row form-group"
			ng-class="{
				'has-error':    fieldHasError('signupForm', 'title'),
				'has-success':  fieldHasSuccess('signupForm', 'title'),
				'has-feedback': fieldHasFeedback('signupForm', 'title')
			}">
			<div class="col-xs-12">
				<select
					class="form-control form-control-signup-title"
					id="myaudilogin-signup-title"
					name="title"
					ng-change="fieldChanged('signupForm', 'title')"
					ng-model="regForm.title"
					required
					sal-focus
					value="1">
					<option value="">Select</option>
					<option value="Mr">Mr</option>
					<option value="Ms">Ms</option>
					<option value="Miss">Miss</option>
					<option value="Mrs">Mrs</option>
				</select>
				<div sal-form-feedback-icons form-name="signupForm" field-name="title"></div>
				<label
					class="control-label error"
					for="myaudilogin-signup-title"
					ng-show="fieldHasError('signupForm', 'title')">
					<span
						id="signupForm-error-title-required"
						ng-show="!getServerError('title')">
						Please select a title from the drop down menu
					</span>
					<span
						id="signupForm-error-title-serverMessage"
						ng-show="getServerError('title')">
						{{getServerError('title')}}
					</span>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<label class="control-label" for="myaudilogin-signup-forename">First name</label>
			</div>
		</div>
		<div
			class="row form-group"
			ng-class="{
				'has-error':    fieldHasError('signupForm', 'forename'),
				'has-success':  fieldHasSuccess('signupForm', 'forename'),
				'has-feedback': fieldHasFeedback('signupForm', 'forename')
			}">
			<div class="col-xs-12">
				<input
					class="form-control form-control-signup-forename"
					id="myaudilogin-signup-forename"
					maxlength="60"
					name="forename"
					ng-change="fieldChanged('signupForm', 'forename')"
					ng-maxlength="60"
					ng-minlength="2"
					ng-model="regForm.forename"
					ng-pattern="/^[a-zA-Z\-\']*$/"
					placeholder="First name"
					required 
					sal-focus
					type="text">
				<div sal-form-feedback-icons form-name="signupForm" field-name="forename"></div>
				<label
					class="control-label error"
					for="myaudilogin-signup-forename"
					ng-show="fieldHasError('signupForm', 'forename')">
					<span ng-show="!getServerError('forename')">
						<span
							id="signupForm-error-forename-invalidChars"
							ng-show="signupForm.forename.$error.pattern == true">
							You have used invalid characters, please try again
						</span>
						<span
							id="signupForm-error-forename-required"
							ng-show="signupForm.forename.$error.pattern == false">
							Please enter your first name, which must contain 2 or more characters
						</span>
					</span>
					<span
						id="signupForm-error-forename-serverMessage"
						ng-show="getServerError('forename')">
						{{getServerError('forename')}}
					</span>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<label class="control-label" for="myaudilogin-signup-surname">Last name</label>
			</div>
		</div>
		<div
			class="row form-group"
			ng-class="{
				'has-error':    fieldHasError('signupForm', 'surname'),
				'has-success':  fieldHasSuccess('signupForm', 'surname'),
				'has-feedback': fieldHasFeedback('signupForm', 'surname')
			}">
			<div class="col-xs-12">
				<input
					class="form-control form-control-signup-surname"
					id="myaudilogin-signup-surname"
					maxlength="60"
					name="surname"
					ng-change="fieldChanged('signupForm', 'surname')"
					ng-maxlength="60"
					ng-minlength="2"
					ng-model="regForm.surname"
					ng-pattern="/^[a-zA-Z\-\']*$/"
					placeholder="Last name" 
					required 
					sal-focus
					type="text">
				<div sal-form-feedback-icons form-name="signupForm" field-name="surname"></div>
				<label
					class="control-label error"
					for="myaudilogin-signup-surname"
					ng-show="fieldHasError('signupForm', 'surname')">
					<span ng-show="!getServerError('surname')">
						<span
							id="signupForm-error-surname-invalidChars"
							ng-show="signupForm.surname.$error.pattern == true">
							You have used invalid characters, please try again
						</span>
						<span
							id="signupForm-error-surname-required"
							ng-show="signupForm.surname.$error.pattern == false">
							Please enter your last name, which must contain 2 or more characters
						</span>
					</span>
					<span
						id="signupForm-error-surname-serverMessage"
						ng-show="getServerError('surname')">
						{{getServerError('surname')}}
					</span>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<label class="control-label" for="myaudilogin-signup-email">Email <small>(a verification email will be sent to this address)</small></label>
			</div>
		</div>
		<div
			class="row form-group"
			ng-class="{
				'has-error':    fieldHasError('signupForm', 'email'),
				'has-success':  fieldHasSuccess('signupForm', 'email'),
				'has-feedback': fieldHasFeedback('signupForm', 'email')
			}">
			<div class="col-xs-12">
				<input
					class="form-control form-control-signup-email"
					id="myaudilogin-signup-email"
					maxlength="60"
					name="email"
					ng-change="fieldChanged('signupForm', 'email')"
					ng-maxlength="60"
					ng-model="regForm.email"
					ng-minlength="2"
					ng-model-options="{ debounce: 1000 }" 
					placeholder="Email address" 
					required
					sal-email-unique
					sal-focus
					type="email">
				<div sal-form-feedback-icons form-name="signupForm" field-name="email"></div>
				<label
					class="control-label error"
					for="myaudilogin-signup-email"
					ng-show="fieldHasError('signupForm', 'email')">
					<span ng-show="!getServerError('email')">
						<span
							id="signupForm-error-email-invalid"
							ng-show="!signupForm.email.$error.emailUsed">
							Please enter a valid email address
						</span>
						<span
							id="signupForm-error-email-used"
							ng-show="signupForm.email.$error.emailUsed">
	                    	This email address is already in use, would you like to 
	                    	<a ui-sref="account.forgotpassword">reset the password</a>
	                    	?
						</span>
					</span>
					<span
						id="signupForm-error-email-serverMessage"
						ng-show="getServerError('email')">
						{{getServerError('email')}}
					</span>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<label class="control-label" for="myaudilogin-signup-password">Choose a password</label>
			</div>
		</div>
		<div
			class="row form-group"
			ng-class="{
				'has-error':    fieldHasError('signupForm', 'password'),
				'has-success':  fieldHasSuccess('signupForm', 'password'),
				'has-feedback': fieldHasFeedback('signupForm', 'password')
			}">
			<div class="col-xs-12">
				<input
					class="form-control form-control-signup-password"
					id="myaudilogin-signup-password"
					maxlength="60"
					name="password"
					ng-change="fieldChanged('signupForm', 'password')"
					ng-model="regForm.password"
					placeholder="Example: Password12"
					popover-append-to-body
					popover-html-unsafe="{{passwordPopoverContent}}"
					popover-placement="right"
					popover-trigger="focus"
					required
					sal-focus 
					sal-password-popover="passwordPopoverContent"
					sal-password-validate=""
					type="password">
				<div sal-form-feedback-icons form-name="signupForm" field-name="password"></div>
				<label
					class="control-label error"
					for="myaudilogin-signup-password"
					ng-show="fieldHasError('signupForm', 'password')">
					<span
						id="signupForm-error-password-invalid"
						ng-show="!getServerError('password')">
						Please enter a valid password
					</span>
					<span
						id="signupForm-error-password-serverMessage"
						ng-show="getServerError('password')">
						{{getServerError('password')}}
					</span>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<label class="control-label" for="myaudilogin-signup-password-confirm">Repeat password</label>
			</div>
		</div>
		<div
			class="row form-group"
			ng-class="{
				'has-error':    fieldHasError('signupForm', 'passwordConfirm'),
				'has-success':  fieldHasSuccess('signupForm', 'passwordConfirm'),
				'has-feedback': fieldHasFeedback('signupForm', 'passwordConfirm')
			}">
			<div class="col-xs-12">
				<input
					class="form-control form-control-signup-password-confirm"
					id="myaudilogin-signup-password-confirm"
					maxlength="60"
					name="passwordConfirm"
					ng-change="fieldChanged('signupForm', 'passwordConfirm')"
					ng-model="regForm.passwordConfirm"
					placeholder="Example: Password12"
					required
					sal-password-focus
					sal-password-repeat="regForm.password"
					type="password">		
				<div sal-form-feedback-icons form-name="signupForm" field-name="passwordConfirm"></div>
				<label
					class="control-label error"
					for="myaudilogin-signup-passwordConfirm"
					ng-show="fieldHasError('signupForm', 'passwordConfirm')">
					<span ng-show="!getServerError('passwordConfirm')">
						<span
							id="signupForm-error-passwordConfirm-invalid"
							ng-if="!signupForm.passwordConfirm.$error.different">
							Please enter a valid password
						</span>
						<span
							id="signupForm-error-passwordConfirm-different"
							ng-if="signupForm.passwordConfirm.$error.different">
							Passwords don't match, please try again
						</span>
					</span>
					<span
						id="signupForm-error-passwordConfirm-serverMessage"
						ng-show="getServerError('passwordConfirm')">
						{{getServerError('passwordConfirm')}}
					</span>
				</label>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-12">
				<small>
					By submitting this form you agree to the  
					<a href="/footer/secondary/terms-and-conditions.html" target="_blank">
						yourAudi terms and conditions
					</a>.
					I also confirm that I am over 16.
				</small>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4">
				<button 
					class="btn btn-primary button-submit"
					id="myaudilogin-signup-submit"
					type="submit">
					Create account
				</button>
			</div>
		</div>		
	</form>
	<div id="existing-or-new-user">
		Already have an account?
		<a href="" ng-mousedown="goToLogin()">
			Log in
		</a>
	</div>
</div>
