<div class="col-xs-12" ng-controller="signupCtrl">

	<h2>As requested, we have re-sent your verification email.</h2>

	<p>We have sent an email to {{user.email}}.<br>
	Please check your email and follow the instructions.<br>
	You will need do this within 24 hours or the link will expire.</p>

	
	<div id="existing-or-new-user">
		Already a member? go to the <a ui-sref="account.login">login page</a>
	</div>
<div>