<div id="signupConfirm" class="col-xs-12" ng-controller="signupCtrl">
	<h2>Congratulations, your account is nearly ready</h2>
	<p>We have sent a verification email to <strong>{{user.email}}</strong>.</p>
	<p>Please check your email, including your spam folder and follow the instructions.</p>
	<p>You account needs to be verified within 24 hours or your verification link will expire.</p>
<div>