<div class="container selectRangeModel">
	<div class="row changeRange">
		<div class="col-xs-12">
			<h3>{{range.rangeName}} selected</h3>
			<button class="btn btn-default btn-secondary" ng-click="backToRanges()">Change</button>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<h2>Please choose a model</h2>
		</div>
		<div class="col-xs-6">
			<a href="/content/audi/fleet-sales/small-business/small-business.html" class="pull-right">Buy a company car</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 text-center">
			<span class="glyphicon glyphicon-refresh rotate360 loading" ng-show="loadingRangeData"></span>
		</div>
	</div>

</div>