<div class="container selectRangeModel">
	<div class="row">
		<div class="col-xs-6">
			<h2>Please choose a range</h2>
		</div>
		<div class="col-xs-6">
			<a href="/content/audi/fleet-sales/small-business/small-business.html" class="pull-right">Buy a company car</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 text-center">
			<span class="glyphicon glyphicon-refresh rotate360 loading" ng-show="loadingRangeData"></span>
		</div>
	</div>

	<div class="row rangeRow" style="margin-bottom:20px;" ng-repeat-start="rows in carRangeRows">
		<div class="col-xs-3 thumbnail rangeoption" ng-repeat="range in rows" ng-click="selectRange(range)" ng-class="{selected: range.rangeName == selectedRange.rangeName}">
			<div class="car-image" style="background-image: url({{range.imageSpritePath}});"></div>
			<div class="caption">
				<h3>{{range.rangeName}}</h3>
			</div>
			<button
				class="btn btn-default btn-tertiary"
				ng-show="selectedRange.rangeName == range.rangeName"
				ng-click="deselectRange($event)"
			>
				Close
			</button>
		</div>
	</div>

	<div class="row" ng-repeat="range in rows" ng-if="selectedRange.rangeName == range.rangeName" ng-repeat-end>
		<div class="col-xs-12 modelsRowContainer" ng-class="{leftCorner: $first, rightCorner: $last && !$first}">
			<div  class="row modelsRow" ng-repeat="rows in selectedRangeModelRows">
				<div class="col-xs-3"
					ng-click="selectModel(model)"
					ng-repeat="model in rows"
					data-model="model"
					analytics-on="click"
					analytics-properties="{
						financeCalculatorFilters: 'FC:' + model.name
					}">
					<div class="thumbnail" ng-class="{loadingOpacity: model.name == selectedModel.name}">
						<div class="car-image" style="background-image: url({{model.imageSpritePath}});"></div>
						<div class="caption">
							<h3>{{model.name}}</h3>
						</div>
					</div>
					<div class="loader" ng-if="model.name == selectedModel.name">
						<span audi-loader ng-if="model.name == selectedModel.name"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>