<div class="feedback-icons">
	<span
		class="glyphicon glyphicon-ok form-control-feedback"
		ng-show="isValid()"
		></span>
	<span
		class="glyphicon glyphicon-remove form-control-feedback"
		ng-show="isInvalid()"
		></span>
</div>