<div id="map_canvas">
	<google-map 
		center="map.center" 
		draggable="true" 
		zoom="map.zoom">
		<marker  
			idkey="1" 
			coords="marker.coords" 
			options="marker.options">
			<window 
				isIconVisibleOnClick="false"
				show="true">
				<div class="container" style="width:500px">
				   <div class="row">
				        <h3>Northampton Audi</h3>
					   	<div class="col-xs-6">		        
							<address>
								Weedon Rd<br />
								Northampton<br/>
								NN5 5DH
							</address>
						</div>
						<div class="col-xs-6">
							<h4>Useful numbers</h4>
							<small>
								<ul class="list-unstyled">
									<li>
										<strong>Main Telephone:</strong>  
										<a href="tel:01604 269981">01604 269981</a>
									</li>
									<li>
										<strong>Main Fax:</strong>  
										<a href="tel:01604 269981">01604 269981</a>
									</li>
									<li>
										<strong>Sales Telephone:</strong>  
										<a href="tel:01604 269981">01604 269981</a>
									</li>
									<li>
										<strong>Sales Fax:</strong>  
										<a href="tel:01604 269981">01604 269981</a>
									</li>
									<li>
										<strong>Parts Telephone:</strong> 
										<a href="tel:01604 269981">01604 269981</a>
									</li>
									<li>
										<strong>Parts Fax:</strong>  
										<a href="tel:01604 269981">01604 269981</a>
									</li>
									<li>
										<strong>Service Telephone:</strong>  
										<a href="tel:01604 269981">01604 269981</a>
									</li>
									<li>
										<strong>Service Fax:</strong>  
										<a href="tel:01604 269981">01604 269981</a>
									</li>
								</ul>
							</small>
						</div>
					</div>
					<div class="row">
						<h4>Opening hours</h4>
					   	<div class="col-xs-6">
		                	<h5>Sales hours:</h5>
		                	<span class="badge alert-success">Open</span> 
							<ul>
								<li>Mon-Fri 08:30 - 18:00</li>
								<li>Sat 08:30 - 17:00</li>
							</ul>
						</div>
						<div class="col-xs-6">
		      				<h5>Service hours:</h5>
		      				<span class="badge">Closed</span>
							<ul>
								<li>Mon-Fri 08:30 - 18:00</li>
								<li>Sat 08:00 - 12:00</li>
							</ul>
						</div>
					</div>
				</div>
			</window>
		</marker>
	</google-map>
</div>