<div id="myCentres">
	<h2>My Centres</h2>
	<div class="row">
	 	<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
				<h3 class="page-header">My centre</h3>
					<button 
						centre-locator 
						class="btn btn-primary" 
						ng-model="centrelocator">
						{{centrelocator.name}}
					</button>
					<button 
						centre-locator search="true" 
						class="btn btn-primary" 
						ng-model="centrelocator">
						Change
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3 class="page-header">Servicing centre</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3 class="page-header">Selling centre</h3>
					{{map.center}}
					<google-map 
						center="map.center" 
						draggable="true" 
						zoom="map.zoom">
				</div>
			</div>
		</div>
	</div>
</div>