@import "../../../../global/styles/scss/partials/_includesForApps";

.btn {
	font-family:'audiType_normal', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		@include opacity(.35);
	}
}
.btn-primary {
	@include gradient-vertical($btn-primary-start-color, $btn-primary-end-color);

	&:hover {
		@include gradient-vertical($btn-primary-end-color, $btn-primary-start-color);
		border-color:$btn-primary-border;
	}
}
.btn-secondary {
	@include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
	@include gradient-vertical($btn-secondary-start-color, $btn-secondary-end-color);

	&:hover {
		@include gradient-vertical($btn-secondary-end-color, $btn-secondary-start-color);
		border-color:$btn-secondary-border;
	}
}
.btn-tertiary {
	@include button-variant($btn-tertiary-color, $btn-tertiary-bg, $btn-tertiary-border);
	@include gradient-vertical($btn-tertiary-start-color, $btn-tertiary-end-color);

	&:hover {
		@include gradient-vertical($btn-tertiary-end-color, $btn-tertiary-start-color);
		border-color:$btn-tertiary-border;
	}
	&.active {
		@include gradient-vertical($btn-secondary-end-color, $btn-secondary-start-color);
		border-color:$btn-secondary-border;
		color:#FFFFFF;
	}
}

// Button Sizes
.btn-xs {
	@include button-size($padding-xs-vertical, $padding-xs-horizontal, $btn-font-size-xs, $line-height-small, $btn-border-radius-xs);
}
.btn-sm {
	// line-height: ensure proper height of button next to small input
	@include button-size($padding-small-vertical, $padding-small-horizontal, $btn-font-size-sm, $line-height-small, $btn-border-radius-sm);
}
.btn-lg {
	// line-height: ensure even-numbered height of button next to large input
	@include button-size($padding-large-vertical, $padding-large-horizontal, $btn-font-size-lg, $line-height-large, $btn-border-radius-lg);
}
