@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";

// disable bootstrap responsive behaviour
.container {
	padding: 0px;
	width: $container-fixed-width;
}
.no-margins {
	margin:0;
}
.no-padding {
	padding:0;
}
.display-ib {
	display:inline-block;
}
.hideOverflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.overflowX {
	overflow-x:hidden;
}
.overflowY {
	overflow-y:hidden;
}
.accessibility {
	position:absolute; 
	left:-99999px;
}
ul { padding-left:25px }
h1, h2, h3, h4, h5, h6, p, ul 
{ 
	margin:0 0 20px 0; 
}
.unstyled-list {
	list-style:none;
	padding-left:0;
}
.list-style-audi li:before {
	content:"\002022";
	margin-right:10px;
}
.link-bullet:before,
.link-list-style-audi li a:before {
	border-color: transparent $audi-red-color;
    border-style: solid;
    border-width:4px 0 4px 4px;
	content: "";
    display: inline-block;
    margin-right:10px;
}
.row, .row-fluid {
	word-wrap: break-word;
}