@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// custom mixins
@import "../mixins/_fontSizing";
@import "../mixins/_placeholder";



@mixin form-control-focus($color: $input-border-focus) {
  &:focus {
    border-color: $input-border-focus;
    outline: 0;
    background-color:$input-background-focus;
  }
}


@mixin box-shadow($shadow...) {
	// to remove the default shadows
}

@mixin scaled($scale-property) {
    -webkit-transform:scale($scale-property);
    -moz-transform:scale($scale-property);
    -ms-transform:scale($scale-property);
    -o-transform:scale($scale-property);
    transform:scale($scale-property);
}

//Transition Override To Support IE
@mixin transitions($transition-property) {
    -webkit-transition: $transition-property;
    -moz-transition: $transition-property;
    -ms-transition: $transition-property;
    -o-transition: $transition-property;
    transition: $transition-property;
}


//Gradient transition - was used on hompage CTA's but not supported for FF, IE yet
@mixin hoverGradient($color, $duration, $positionX, $positionY) {
    background: -webkit-gradient(linear,left top,right top,color-stop(0, red),color-stop(0.1, $color),color-stop(0.2, $color),color-stop(0.4, $color),color-stop(0.5, $color),color-stop(0.6, $color),color-stop(1, $color));                                
    background: -o-linear-gradient(left top,right top,red 0%,$color 10%,$color 20%,$color 40%,$color 50%,$color 60%,$color 100%);                          

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    -webkit-animation-name: transition;
    -o-animation-name: transition;

    -webkit-animation-duration: $duration;
    -o-animation-duration: $duration;
    
    background-position:$positionX $positionY;
}

@mixin opacityValue ($value) {
    -moz-opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$value*100+")"; 
     opacity: $value;
    -webkit-opacity: $value;
}
