@import "bootstrap-sass-official/assets/stylesheets/bootstrap/modals";

// Actual modal
.modal-content {
  border-radius: $border-radius-small;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  border: none;
  padding:30px 30px 0;
}

//Modal Body 
.modal-body {
	padding:15px 30px;
}

// Footer (for actions)
.modal-footer {	
  padding:15px 30px;
  text-align:left;
}

// Modal display none for pop ups
.modalOverlay {
	display:none;
}

// Positioning for modal close button
.modal-close-btn {
	float:right;
}

.modal-header .close {
  margin-top:-5px;
}

// IE8 fix
.modal-dialog {
	width: 600px;
	margin: 30px auto;
}
.modal-sm {
	width: 300px;
}
.modal-lg {
	width: 900px;
}