/*!
 * Slider for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

.slider {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	&.slider-horizontal {
		width: 210px;
		height: $line-height-computed;
		.slider-track {
			height: $line-height-computed;
			width: 100%;
			margin-top: 0;
			top: 0;
			left: 0;
		}
		.slider-selection {
			height: 100%;
			top: 0;
			bottom: 0;
		}
		.slider-handle {
			margin-left: 0;
			margin-top: 1px;
			&.triangle {
    			border-width: 0 $line-height-computed/2 $line-height-computed/2 $line-height-computed/2;
				width: 0;
				height: 0;
				border-bottom-color: #0480be;
				margin-top: 0;
			}
		}
	}
	&.slider-vertical {
		height: 210px;
		width: $line-height-computed;
		.slider-track {
			width: $line-height-computed;
			height: 100%;
			margin-left: 0;
			left: 0;
			top: 0;
		}
		.slider-selection {
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
			@include border-radius($line-height-computed $line-height-computed 0 0);
		}
		.slider-handle {
			margin-left: 1px;
			margin-top: 0;
			&.triangle {
				border-width: $line-height-computed/2 0 $line-height-computed/2 $line-height-computed/2;
				width: 1px;
				height: 1px;
				border-left-color: #0480be;
				margin-left: 0;
			}
		}
	}
	input {
		display: none;
	}
	.tooltip-inner {
		white-space: nowrap;
	}
}
.slider-track {
	position: absolute;
	cursor: pointer;
	@include gradient-vertical($btn-secondary-start-color, $btn-secondary-end-color);
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
	@include border-radius($line-height-computed);
}
.slider-selection {
	display: none; // IMPORTANT! - Hidden as we dont currently use range highlighting (apart from IE - its used to draw rounded edge)
	position: absolute;
	@include gradient-vertical($btn-secondary-start-color, $btn-secondary-end-color);
	//@include box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
	@include box-sizing(border-box);
	@include border-radius($line-height-computed 0 0 $line-height-computed);
}
.slider-handle {
	position: absolute;
	width: $line-height-computed - 2px;
	height: $line-height-computed - 2px;
	@include gradient-vertical($btn-tertiary-start-color, $btn-tertiary-end-color);
	@include box-shadow(unquote("inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)"));
	opacity: 1;
	border: 0px solid transparent;
	&.round {
		@include border-radius($line-height-computed);
	}
	&.triangle {
		background: transparent none;
	}
}

.ie8, .ie9 {
	.slider-track {
		filter: none;
		background: url('/etc/audi-ui/global/img/sliders.png') no-repeat scroll right 0 transparent;
	}
	.slider-selection {
		filter: none;
		display: block; // Used to draw rounded edge
		background: url('/etc/audi-ui/global/img/sliders.png') no-repeat scroll left 0 transparent;
	}
	.slider-handle {
		filter: none;
		background: url('/etc/audi-ui/global/img/sliders.png') no-repeat scroll -22px -21px transparent;
	}
}
