	.nav-tabs-xxl  
	{
		padding:15px 15px 0;
		a
		{
			text-decoration:none;
		}
		h2
		{
			margin-bottom:10px;
		}

	
		
		
	}



.nav-tabs-negative-margins  /* see comments below */
	{
		margin:0 0 35px;
		position:relative;

		> a 
		{
			position:absolute;
			bottom:15px;
			right:208px;
		}
		> li:first-child
		{
			margin:0px 15px -1px 150px;
		}
	}

	.nav-tabs-secondary{

			background-color:#DCE0E1;
		> li > a
		{
			background-color:#8E9199;
			> h2
			{
				color:white;
			}
			> span 
			{
				color:#EDEFF0;
			}
		}
		> li.active a 
		{
			background-color:#FFFFFF;
			> h2
			{
				color:#555555;
			}
			> span 
			{
				color:#222222;
			}
		}


	}
