@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

//$icon-font-path: "/etc/designs/audi/fonts/bootstrap/";
$icon-font-path: "/etc/audi-ui/global/bower-components/bootstrap-sass-official/assets/fonts/bootstrap/";

// module background color
$module-bg:#EBEFF0;

// alternative darker red for text
$audi-darker-red-color:#b61742;
// official audi red
$audi-red-color:#CC0033;

// override bootstrap red text color
$state-danger-text:$audi-darker-red-color;

// custom container fixed width
$container-fixed-width:952px;

// custom gutter width
$grid-gutter-width:20px;

// custom header settings
$headings-color:#222;

// custom font settings
$text-color:#555;
$text-color-secondary:#999;
$font-family-base:'audiType_normal', Verdana, Geneva, sans-serif;
$font-size-base:13px;
$font-size-h1:26px;
$font-size-h2:18px;
$font-size-h3:16px;
$font-size-h4:14px;
$font-size-h5:13px;
$font-size-h6:13px;
$headings-small-color:#888;

// anchor settings
$link-color:$text-color;
$link-hover-color:$headings-color;

// custom button font sizes
$btn-font-size-xs:13px;
$btn-font-size-sm:13px;
$btn-font-size-lg:14px;

// button border radius
$btn-border-radius-xs:3px;
$btn-border-radius-sm:3px;
$btn-border-radius-lg:3px;

// primary button
$btn-primary-color:#fff;
$btn-primary-bg:#d6003c;
$btn-primary-border:#A11E35;
$btn-primary-start-color:$btn-primary-bg;
$btn-primary-end-color:#be1331;

// secondary button
$btn-secondary-color:#fff;
$btn-secondary-bg:#b6bbc2;
$btn-secondary-border:#888;
$btn-secondary-start-color:$btn-secondary-bg;
$btn-secondary-end-color:#8e9199;

// tertiary button
$btn-tertiary-color:#666;
$btn-tertiary-bg:#fff;
$btn-tertiary-border:#DFDFDF;
$btn-tertiary-start-color:$btn-tertiary-bg;
$btn-tertiary-end-color:#EAEAEA;

// Modals
$modal-inner-padding: 20px 50px;
$modal-title-padding: 20px;

//form
$input-border-focus:             #A7A7A7;
$input-background-focus:             #F9F9F9;

// pagination
$pagination-color:$text-color;
$pagination-disabled-color:$text-color-secondary;
$pagination-border:#DFDFDF;
$pagination-active-bg:#E5E9EA;
$pagination-active-border:$pagination-border;
$pagination-active-color:$headings-color;
$pagination-hover-bg:#F2F4F4;
$pagination-hover-color:$audi-red-color;
$pagination-hover-border:$pagination-border;

//placeholder color
$input-color-placeholder:#ccc;

// audi 'red'
$indicator-primary:#d6003c;