@import "../../../../global/styles/scss/partials/_includesForApps";

#audi-footer {
	.audiRange {
		border-top:1px solid #DCE2E4;
		padding:15px 20px;
		h2 {
			@extend .myAudiExtendedNormal;
			color:#8B8E96;
			font-size:13px;
		}
		ul {
			overflow:hidden;
			li {
				float:left;
				padding:0 10px;
				a {
					@extend .myAudiExtendedNormal;
					color:#8B8E96;
					display:block;
					text-decoration:none;
				}
				a:hover {
					color:$audi-red-color;
				}
			}
		}
	}
	.mainFooterContent {
		background-color:#414348;
		.container {
			padding:20px;
			h2, h3, a, span {
				color:#FFF;		
			}
			h2 {
				@extend .myAudiExtendedNormal;
				font-size:13px;
			}
			h3 {
				@extend .myAudiNormal;
				margin:0;
			}
			a {
				text-decoration:none;
			}
			a:hover {
				text-decoration:underline;
			}
			ul {
				list-style:none;
				margin:0;
				padding:0;
			}
			.row {
				margin-bottom:20px;
			}
			.col-xs-3 ul li {
				margin-bottom:5px;
			}
			.col-xs-1 {
				h3 {
					margin-left:8px;
				}
			}	
			.footerSpacing {
				.col-xs-3:first-child {
					ul:first-of-type {
						margin-bottom:75px;
					}
					+ .col-xs-3 {
						ul:first-of-type {
							margin-bottom:75px;
						}					
						+ .col-xs-3 {
							ul:first-of-type {
								margin-bottom:75px;
							}					
							+ .col-xs-3 {
								ul:first-of-type {
									margin-bottom:75px;
								}					
							}
						}
					}
				}
			}		
			.footerSocial {
				border:1px solid #FFF;
				border-width:1px 0 1px 0;
				> div {
					overflow:hidden;
					padding:10px;
					.audiApps {
						border-right:1px solid #FFF;
						h3 {
							margin-right:30px;
						}
						li {
							float:left;
							margin:12px 0;
							padding:0 24px;
						}
					}
					.socialSharing {
						h3 {
							margin-left:50px;
						}
						li {
							float:left;
							padding:0 5px;					
							a:before {
								border:1px solid white;
								border-radius:25px;
								display:block;
								font-family:'icomoon';
								font-size:18px;
								padding:10px 13px;						
								speak:none;
								a:hover:before {
									color:#FFF;
								}
							}
						}
						span {
							@extend .accessibility;
						}
						.twitter a:before {
							content: "\e76d";
						}
						.twitter a:hover:before{
							background-color:#13B0E6;
						}
						.facebook a:before {
							content: "\e769";
						}
						.facebook a:hover:before {
							background-color:#3068A4;
						}
						.pintrest a:before {
							content: "\e7a6";
						}
						.pintrest a:hover:before {
							background-color:#d22329
						}
						.gplus a:before {
							content: "\e764";
						}
						.gplus a:hover:before {
							background-color:#E2553F
						}
						.email a:before {
							content: "\e760";
						}
						.email a:hover:before {
							background-color:#3068a4
						}
						.more {
							margin:16px 0;
							padding:0 0 0 10px;
						}
						.more a:hover {
							text-decoration:underline;
						}
					}
					.audiApps, 
					.socialSharing {			
						h3 {
							float:left;
							font-size:13px;
							margin-bottom:16px;
							margin-top:16px;
						}
						ul {
							float:right;
							height:47px;
							overflow:hidden;
							li {
								a {
									display:block;
								}
								a:hover {
									text-decoration:none;
								}
							}			
						}
					}
				}				
			}
			.subFooter {
				margin-bottom:0;
				ul {
					li {
						border-left:1px solid #FFF;
						float:left;
						padding:0 15px;
					}
					li:first-child {
						border-left:none;
					}
				}
				li:first-child {
					padding-left:0;
				}
			}
		}
	}
}