/* Alphabetical please! */
@import "compass/css3/background-size";
@import "compass/css3/transform";
@import "compass/css3/transition";

#appMAlogin {
	@include background-size(cover);
	height: 100%;

	.centering1 {
		display: table;
		margin: 0 auto;
		height: 100%;
	}
	.centering2 {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		box-sizing: content-box;
		white-space: nowrap;
	}

	.box {
		white-space: normal;
		border: 0;
		/* background: #ffffff url('../img/background-blur.jpg') no-repeat top center fixed;-  Moved inline for CMS reasons */
		border-radius: 6px;
		position: relative;
		max-width: 600px;
		margin: 0 auto 0 auto;
		@include background-size(cover);
		padding: 20px;
		color: #222;
		/* min-height:400px; */
		width: 600px;
		overflow-y: hidden;
	}
}

/* Have to set height explicity on ui-view to prevent collapsing during animation*/
.well[ui-view] {
	height: 65px;
}

.ui-view-container {
	position: relative;
}

/* Transitions */
[ui-view] {
	&.ng-enter, &.ng-leave {
		@include transition-property(all);
		@include transition-duration(.5s);
		@include transition-timing-function(ease-in-out);
	}

	&.ng-enter {
		opacity: 0;
		@include scale3d(0.5, 0.5, 0.5);
	}

	&.ng-enter-active {
		opacity: 1;
		@include scale3d(1, 1, 1);
	}

	&.ng-leave {
		opacity: 1;
		@include translate3d(0, 0, 0);
	}

	&.ng-leave-active {
		opacity: 0;
		@include translate3d(-100%, 0, 0);
	}

	/* This makes the transitions happen over the top of one another */
	[ui-view].ng-leave {
		position: absolute;
	}
}

.spinner {
	display: inline-block;
	opacity: 0;
	width: 0;
	@include transition-property(opacity, width);
	@include transition-duration(0.25s);
}

.has-spinner {
	&.active {
		cursor: progress;

		.spinner {
			opacity: 1;
			width: auto; /* This doesn't work, just fix for unkown width elements */
		}
	}

	&.btn-mini.active .spinner {
		width: 10px;
	}

	&.btn-small.active .spinner {
		width: 13px;
	}

	&.btn.active .spinner {
		width: 16px;
	}

	&.btn-large.active .spinner {
		width: 19px;
	}
}

/* @import "modules/_loginBox.scss"; */
