@import "../../../../global/styles/scss/partials/_includesForApps";

@media print {
	#finance-calculator{
		tr, td, .caption{
			border:1px solid #DCE0E1;
		}
		.caption td{
			background-color:#8E9199;
			border-bottom:none;
			padding:20px 15px;
			text-align:left;
		}
		.financeConfig{
			.col-xs-5,
			.col-xs-6{
				width:100%;
			}
		}
		.financeVehicle{
			margin:50px 0;
		}
		.printCarHeading{
			position:absolute;
			right:-340px;
			top:60px;
			width:300px;
		}
		.table-striped caption,
		.table-striped td,
		.audiFinanceHeading {
			color:#41464c !important;
		}
		.printCarHeading,
		.termsAndConditions p {
			color:#5c6066 !important;
		}
	}
	a[href]:after {
		content:none !important;
	}

	#myAudiHeader,
	#footer1,
	#footer2,
	.shortListWrapper {
		display: none !important;
	}
}
