@import "../../../../global/styles/scss/partials/_includesForApps";
@import "_finance-calculator-print";


@media screen { 
    .finance-calculator {
        h3 {
            display: inline-block;
        }

        h4 {
            margin-bottom: 10px;
        }

        a.btn {
            text-indent: 0px;
        }
        .right-side {
        	padding-left: 40px;
        }

        .calcForm label {
            white-space: nowrap;
        }

        .carHeading {
            h3+a {
                margin-left: 5px;
            }
            .changeCar {
                margin-bottom: 10px;
                > .row {
                    margin-left: 0px;
                }
                > span {
                    display: block;
                    margin-bottom: 5px;
                }
                .cancelChange {
                    margin-bottom: 10px;
                }
                .change-controls {
                    > div {
                        display: inline-block;
                        padding-right: 10px;

                        select {
                        	min-width: 100px;
                            width: auto;
                        }
                    }
                }
            }
            .row.error {
                color: $state-danger-text;
                padding: 0 0 10px 0;
            }
        }

        .financeHeader {
            margin-bottom: 35px;

            > a {
                margin: -30px 15px 0 0;
            }

            .nav-tabs {
                a {
                    text-decoration: none;
                }
                h2 {
                    margin-bottom: 10px;
                }
                > li:first-child {
                    margin: 0px 15px -1px 0;
                }
                > li > a {
                    background-color: #8E9199;
                    > h2 {
                        color: white;
                    }
                    > span {
                        color: #EDEFF0;
                    }
                }
                > li.active > a {
                    background-color: #FFFFFF;
                    > h2 {
                        color: #555555;
                    }
                    > span {
                        color: #222222;
                    }
                }
            }
        }

        .financeVehicle {
            .col-xs-5 {
                img {
                    width: 100%;
                }
            }

            .mode-title {
                margin-top: 20px;
            }

            .glyphicon-spacing {
                margin-left: 5px;
            }
        }

        .financeConfig {

            .range-engine-controls {
                > div {
                    display: inline-block;
                    padding-right: 10px;

                    &:last-child {
                    	padding-right: 0;
                    }

                    select {
                    	min-width: 100px;
                        width: auto;
                    }
                }
            }

            .modalLoader {
                margin-left: 5px;
            }

            .finance-data-table.loadingState {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            }

            h4 {
                display: inline-block;
            }

            .panel {
                border: none;
                box-shadow: none;
            }

            .financeConfigOption {
                margin-bottom: 20px;
            }

            .deposit {
                .col-xs-4 {
                    input {
                        height: 41px;
                        border-radius: 0px 4px 4px 0px;
                    }
                }
                .input-group {
                    float: left;
                }
                .depositError p {
                    margin-bottom: 0px;
                }
                .depositInput {
                    margin-left: 0px;
                    .form-control-feedback {
                        top: 3px;
                    }
                }
                .has-error > p {
                    margin-top: 5px;
                }
            }

            select[name=period] {
            	width: auto
            }

            .slider-horizontal {
            	width: 100% !important;
            }
        }

        .finance-data-table {
            position: relative;

            > tbody > tr > td:first-child {
                width: 250px;

                &+td {
                    width: 134px;
                }
            }

            /*Classes added as IE8 does not support nth-child*/
            .odd > td,
            .odd > th {
                background-color: #DCE0E1;
            }

            .even > td,
            .even > th {
                background-color: #EDEFF0;
            }

            .caption td {
            	border-top: 0;
                padding: 10px 15px;
                text-align: left;
            }

            .tfoot {
                background-color: #EDEFF0;

                td {
                    border: none;
                    padding: 11px 8px;
                }
                button {
                    box-sizing: border-box;
                    margin: 5px 0 0;
                    width: 100%;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                div {
                    display: table;
                    margin: 0 auto;
                }
            }
        }

        /* range/model selection pages */
        .selectRangeModel {
            .changeRange {
                margin-bottom: 30px;

                h3 {
                    display: inline-block;
                    margin: 0 5px 0 0;
                    vertical-align: middle;
                }
            }

            .thumbnail {
                .car-image {
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    height: 140px;
                    width: 228px;
                }
                &:hover .car-image {
                    background-position: -228px 0;
                }
                &.selected {
                    background-color: #EDEFF0;
                    border-radius: $border-radius-base $border-radius-base 0 0;

                    + .loading {
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        z-index: 1;
                    }
                }

                button {
                	position: absolute;
                	bottom: 0;
                	left: 50%;
                	margin: 0 0 -13px -30px;
                	z-index: 3;
                }
            }

			.modelsRowContainer {
                background-color: #EDEFF0;
                border-radius: $border-radius-base $border-radius-base $border-radius-base $border-radius-base;
                margin-top: -20px;
                padding-top: 20px;

                &.leftCorner {
                	border-radius: 0 $border-radius-base $border-radius-base $border-radius-base;
                }
                &.rightCorner {
                	border-radius: $border-radius-base 0 $border-radius-base $border-radius-base;
                }

               	.loader {
            		position: absolute;
            		width: 100%;
            		height: 50%;
            		left:0;
            		bottom: 0;
            		text-align: center;

            		span {
            			margin-top: -19px;
            		}
            	}
			}

			.row:last-child {
				margin-bottom: 20px;
			}
        }


        /* Extra fixes */
        .popover h3 {
            display: block;
        }


        /* Error screen */
        .error-screen {
            @include background-image(linear-gradient(#E3E3E3, #F0F0F0 75%, #FFFFFF));
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3E3E3', endColorstr='#ffffff')";
            -ms-linear-gradient: top, #E3E3E3 0%, #ffffff 100%;
            @include border-radius($btn-border-radius-xs);
            min-height: 300px;
            padding: 100px 0;
            text-align: center;

            h2 {
                color: $text-color;
                margin-bottom: 50px;
            }

            .buttons {
                button {
                    display: inline-block;
                    margin: 0 15px;
                    padding-left: 10px;	 // little hack to stop text wrapping on 'learn more about finance' button
                    padding-right: 10px; // little hack to stop text wrapping on 'learn more about finance' button
                    width: 200px;
                }
            }
        }
    }


    /* Terms and conditions modal */
    #terms-modal {
        ul {
            list-style-type: none;
            padding: 0 20px 0 0;

            li {
                border-top: 1px solid $text-color-secondary;
                cursor: pointer;
                padding: 10px 0;
                &:last-child {
                    border-bottom: 1px solid $text-color-secondary;
                }
            }
        }
    }


    /* email quote modal */
    #email-quote-modal {
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
        .quoteInput {
            .modal-footer {
                a {
                    margin-top:8px;
                }
            }
            .formGroupRemoveMargins {
                margin-bottom:0px;
            }
        }
    }
}

/* IE8 Fixes */
html.ie8 {
    #finance-calculator {
        // Fixes borders on button groups
        .btn-group .btn:before {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: '';
            z-index: 1000;
        }

        // Stops 'change' link getting smooshed in with the car title
        .carHeading h3+a {
            display: inline-block;
        }

        // vertically aligns deposit box text
        [name='deposit'] {
            padding-top: 10px;
        }

        // Allows the options of an opened select to be as long as they need to be (its ugly though)
        select:focus {
            width: auto;
        }
    }
}

/* IE8/9 Fixes */
html.ie8,
html.ie9 {
    // Change ajax spinner to GIF image so it spins
    .glyphicon-refresh{
        background-image: url('/etc/audi-ui/apps/finance-calculator/img/ajax-loader.gif');
        height: 16px;
        width: 16px;

        &:before {
            content: "";
        }
    }
}


/* Other fixes */
// stops modals removing scrollbars
.modal-open {
    overflow: auto;
}


//Loaders
.tableLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 28px;
    margin-top: -14px; /* Half the height */
    margin-left: -40px; /* Half the width */
    z-index: 5;
}

.termsAndConditions {
    .tableLoader {
        margin-top:80px;
    }
}
