<div class="row">
    <div class="col-xs-7">
        <pre>osb.user.profileData.surname: {{osb.user.profileData.surname}}</pre>
        <label for="addr-lookup-postcode">Postcode *</label>
        <div
            class="input-group"
            ng-class="{
            'has-error': fieldHasError('addrLookup1','postcode'),
            'has-success': fieldHasSuccess('addrLookup1','postcode'),
            'has-feedback': fieldHasFeedback('addrLookup1','postcode')
            }">
            <input
            id="addr-lookup-postcode"
            name="postcode"
            type="text"
            class="form-control"
            placeholder=""
            width="8"
            ng-model="sections.address.lookupForm.data.postcode"
            ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
            required><div sal-form-feedback-icons form-name="addrLookup1" field-name="postcode"></div>
            <span class="input-group-btn">
            <button id="sectionAddress-lookup1-submitBtn" class="btn btn-primary">Find address</button>
            </span>
        </div>
        
        <div
            class="form-group has-error"
            ng-show="fieldHasError('addrLookup1','house') || fieldHasError('addrLookup1','postcode')"
            >
            
            <label
                id="addrLookup1-error-postcode-required"
                class="control-label error"
                for="addr-lookup-postcode"
                ng-show="fieldHasError('addrLookup1','postcode') && !addrLookup1.postcode.$error.pattern">
                Please enter your postcode.
            </label>
            <label
                id="addrLookup1-error-postcode"
                class="control-label error"
                for="addr-lookup-postcode"
                ng-show="fieldHasError('addrLookup1','postcode') && addrLookup1.postcode.$error.pattern">
                Please enter a valid postcode.
            </label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <p>
                    
                    <a
                        id="sectionAddress-lookup1-editBtn"
                        ng-click="editAddrManualClick()"
                        ng-hide="sections.address.lookupForm.step2.visible"
                        style="margin-left:10px">
                        Edit address manually
                    </a>
                 
                    </p>
                    
                </div>
            </div>
        </div>
    </form>
    <!-- Lookup address by postcode - step 2 -->
    <form
        role="form"
        name="addrLookup2"
        ng-submit="doLookupAddressStep2()"
        ng-if="addressLookupResultsVisible">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <select
                        class="form-control"
                        size="8"
                        autocomplete="off"
                        name="selectAddr"
                        ng-model="sections.address.lookupForm.selectedAddr"
                        ng-options="a.full for a in sections.address.lookupForm.foundAddresses track by a.ID"
                        sa-focus-on="focusAddrSelect">
                    </select>
                </div>
                <div class="form-group">
                    <p>
                    <input
                    id="sectionAddress-lookup2-submitBtn"
                    type="submit"
                    class="btn btn-primary"
                    value="Select address">
                    </p>
                    <p>
                    <a
                        id="sectionAddress-lookup2-cancelBtn"
                        ng-click="editSectionCancel('address')">
                        Cancel
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </form>
    <!-- Edit address manually -->
    <form
        role="form"
        name="addrEditForm"
        ng-show="addressLookupEditModeVisible"
        ng-submit="editSectionSave('address')"
        novalidate
        >
        <label for="addr-house">House name / number *</label>
        <div
            class="form-group"
            ng-class="{
            'has-error': fieldHasError('addrEditForm','address1'),
            'has-success': fieldHasSuccess('addrEditForm','address1'),
            'has-feedback': fieldHasFeedback('addrEditForm','address1')
            }">
            <input
            id="addr-house"
            type="text"
            name="address1"
            class="form-control"
            placeholder=""
            ng-model="sections.address.data.address1"
            ng-pattern="/^[0-9a-zA-Z ',\-]+$/"
            required
            sa-focus>
            <div
                field-name="address1"
                form-name="addrEditForm"
                sal-form-feedback-icons>
            </div>
            <label
                class="control-label error"
                for="addr-house"
                id="addrEditForm-error-address1-required"
                ng-show="fieldHasError('addrEditForm','address1') && !addrEditForm.address1.$error.pattern">
                Please enter your house name / number
            </label>
            <label
                class="control-label error"
                for="addr-house"
                id="addrEditForm-error-address1"
                ng-show="fieldHasError('addrEditForm','address1') && addrEditForm.address1.$error.pattern">
                Allowed characters: letters, numbers, spaces, hyphens and apostrophes
            </label>
        </div>
        <label for="addr-line2">Address line 2</label>
        <div
            class="form-group"
            ng-class="{
            'has-error': fieldHasError('addrEditForm','address2') && (addrEditForm.address2.$viewValue != ''),
            'has-success': fieldHasSuccess('addrEditForm','address2') && (addrEditForm.address2.$viewValue != ''),
            'has-feedback': fieldHasFeedback('addrEditForm','address2') && (addrEditForm.address2.$viewValue != '')
            }">
            <input
            class="form-control"
            id="addr-line2"
            name="address2"
            ng-model="sections.address.data.address2"
            ng-pattern="/^[0-9a-zA-Z ',\-]+$/"
            placeholder=""
            sa-focus
            type="text">
            <div
                field-name="address2"
                form-name="addrEditForm"
                ng-show="addrEditForm.address2.$viewValue != ''"
                sal-form-feedback-icons>
            </div>
            <label
                class="control-label error"
                for="addr-line2"
                id="addrEditForm-error-address2"
                ng-show="fieldHasError('addrEditForm','address2') && addrEditForm.address2.$error.pattern && (addrEditForm.address2.$viewValue != '')">
                Allowed characters: letters, numbers, spaces, hyphens and apostrophes
            </label>
        </div>
        <label for="addr-city">City *</label>
        <div
            class="form-group"
            ng-class="{
            'has-error': fieldHasError('addrEditForm','city'),
            'has-success': fieldHasSuccess('addrEditForm','city'),
            'has-feedback': fieldHasFeedback('addrEditForm','city')
            }">
            <input
            class="form-control"
            id="addr-city"
            name="city"
            ng-model="sections.address.data.city"
            ng-pattern="/^[a-zA-Z '\-]{2,}$/"
            placeholder=""
            required
            sa-focus
            type="text"
            >
            <div
                field-name="city"
                form-name="addrEditForm"
                sal-form-feedback-icons>
            </div>
            <label
                class="control-label error"
                for="addr-city"
                id="addrEditForm-error-city-required"
                ng-show="fieldHasError('addrEditForm','city') && !addrEditForm.city.$error.pattern">
                Please enter the city
            </label>
            <label
                class="control-label error"
                for="addr-city"
                id="addrEditForm-error-city"
                ng-show="fieldHasError('addrEditForm','city') && addrEditForm.city.$error.pattern">
                Minimum 2 characters. Allowed characters: letters, spaces, hyphens and apostrophes
            </label>
        </div>
        <label for="addr-county">County</label>
        <div
            class="form-group"
            ng-class="{
            'has-error': fieldHasError('addrEditForm','county') && (addrEditForm.county.$viewValue != ''),
            'has-success': fieldHasSuccess('addrEditForm','county') && (addrEditForm.county.$viewValue != ''),
            'has-feedback': fieldHasFeedback('addrEditForm','county') && (addrEditForm.county.$viewValue != '')
            }"
            >
            <input
            class="form-control"
            id="addr-county"
            name="county"
            ng-model="sections.address.data.county"
            ng-pattern="/^[a-zA-Z ]*$/"
            placeholder=""
            sa-focus
            type="text">
            <div
                field-name="county"
                form-name="addrEditForm"
                ng-show="addrEditForm.county.$viewValue != ''"
                sal-form-feedback-icons>
            </div>
            <label
                class="control-label error"
                for="addr-county"
                id="addrEditForm-error-county"
                ng-show="fieldHasError('addrEditForm','county') && addrEditForm.county.$error.pattern && (addrEditForm.county.$viewValue != '')">
                Allowed characters: letters and spaces
            </label>
        </div>
        <label for="addr-postcode">Postcode *</label>
        <div
            class="form-group"
            ng-class="{
            'has-error': fieldHasError('addrEditForm','postcode'),
            'has-success': fieldHasSuccess('addrEditForm','postcode'),
            'has-feedback': fieldHasFeedback('addrEditForm','postcode')
            }"
            >
            <input
            class="form-control"
            id="addr-postcode"
            name="postcode"
            ng-model="sections.address.data.postcode"
            ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
            placeholder=""
            required
            sa-focus
            type="text">
            <div
                field-name="postcode"
                form-name="addrEditForm"
                sal-form-feedback-icons >
            </div>
            <label
                class="control-label error"
                for="addr-postcode"
                id="addrEditForm-error-postcode-required"
                ng-show="fieldHasError('addrEditForm','postcode') && !addrEditForm.postcode.$error.pattern">
                Please enter your postcode
            </label>
            <label
                class="control-label error"
                for="addr-postcode"
                id="addrEditForm-error-postcode"
                ng-show="fieldHasError('addrEditForm','postcode') && addrEditForm.postcode.$error.pattern">
                Please enter a valid postcode
            </label>
        </div>
        <div class="form-group">
            <p>
            <input
            class="btn btn-primary"
            id="sectionAddress-edit-submitBtn"
            ng-disabled="addressForm.$waiting"
            type="submit"
            value="Save address">
            <a
                id="sectionAddress-edit-lookupBtn"
                ng-click="goToLookupClick()"
                style="margin-left:10px">
                Go to postcode lookup
            </a>
            </p>
            <p>
            <a
                id="sectionAddress-edit-cancelBtn"
                ng-click="editSectionCancel('address')">
                Cancel
            </a>
            </p>
        </div>
    </form>
</div>