
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Book an appointment with Audi</h1>
        </div>
    </div>
</div>
<div class="row grey" style="min-height:600px">


<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="wizardSteps">
        <ul class="unstyled-list tabs">
          <span/>
           <li>
            <a ui-sref="landing">Welcome</a>
          </li>
          <li ng-class="{default: !step.completed && !step.selected, currentStep: (step.stepNumber==osb.wizard.currentStepObj.stepNumber) && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed}" ng-repeat="step in osb.wizard.steps" >
            <a ng-if="step.stepNumber < osb.wizard.currentStep" ng-click="osb.wizard.goTo(step)">{{step.title}}</a>
             <span ng-if="step.stepNumber >= osb.wizard.currentStep" >{{step.title}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
   
      <div ng-show="osb.loading"  class="text-center" style="margin-top:40px" >
        <div ng-bind-html="osb.wizard.currentStepObj.nextScreenLoadMessage | to_trusted"></div>
        <span audi-loader ></span>
      </div>
      <div ng-hide="osb.loading" ng-include src="osb.wizard.currentStepObj.templateUrl"></div>
    </div>
    <div class="col-xs-3">
      <div  class="summary-panel"  bs-affix data-offset-top="200" data-offset-bottom="300">




<accordion close-others="false"> 
    <accordion-group is-open="osb.wizard.currentStepObj.panels.appointment.open" ng-show="osb.wizard.currentStepObj.panels.appointment.show">
       <accordion-heading >
            Appointment 
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': osb.wizard.currentStepObj.panels.appointment.open, 'glyphicon-plus': !osb.wizard.currentStepObj.panels.appointment.open}"></i>
        </accordion-heading>
          <div class="row">
              <div class="col-xs-8">
                       {{osb.user.selectedDateTime.date | date: "EEE d MMM" }}
              </div>
               <div class="col-xs-4" ng-if="osb.user.selectedDateTime.timeSlot">
                      <span class="pull-right">{{osb.user.selectedDateTime.timeSlot | timeFormatedAmPM}}</span>
              </div>
            
          </div>
    </accordion-group>



    <accordion-group is-open="osb.wizard.currentStepObj.panels.services.open" ng-show="osb.wizard.currentStepObj.panels.services.show">
       <accordion-heading >
            Service(s) 
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': osb.wizard.currentStepObj.panels.services.open, 'glyphicon-plus': !osb.wizard.currentStepObj.panels.services.open}"></i>
        </accordion-heading>
                 <div ng-if="osb.estimatedTotal() > 0">
                        <div class="row" >
                           <div class="col-xs-7">
                                  <strong>Est total</strong>
                            </div>
                            <div class="col-xs-5">
                                <strong class="pull-right">&pound;{{osb.estimatedTotal()}}</strong>
                            </div>  
                          </div>
                          <hr />
                      </div>
                      <div   ng-repeat="group in osb.serviceOptions">
                        
                        <div class="row" ng-if="item.checked" ng-repeat="item in group.items">
                          <div class="col-xs-7">
                            {{item.titleShort}}
                          </div>
                          <div class="col-xs-5">
                            <div class=" pull-right"><span ng-show="item.price > 0 ">&pound;</span>{{item.price}}</div>
                          </div>
                      
                        </div>
                      </div>
    </accordion-group>



   <accordion-group is-open="osb.wizard.currentStepObj.panels.centre.open" ng-show="osb.wizard.currentStepObj.panels.centre.show">
       <accordion-heading >
            Selected Centre 
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': osb.wizard.currentStepObj.panels.centre.open, 'glyphicon-plus': !osb.wizard.currentStepObj.panels.centre.open}"></i>
        </accordion-heading>


           <strong>{{osb.dealer.details.name}}</strong>
              
                <p> <span ng-bind-html="osb.dealer.details.address | address"></span><br/ >
                 <span ng-bind-html="osb.dealer.details.postcode | uppercase"></span>
               </p>
                 <p ng-if="osb.dealer.details.telephone">{{osb.dealer.details.telephone}}</p>

                <p><a ng-click="osb.viewDealer(osb.dealer)">View details</a></p>
         
    </accordion-group>






 <accordion-group is-open="osb.wizard.currentStepObj.panels.your_car.open" ng-show="osb.wizard.currentStepObj.panels.your_car.show">
       <accordion-heading >
            Your car 
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': osb.wizard.currentStepObj.panels.your_car.open, 'glyphicon-plus': !osb.wizard.currentStepObj.panels.your_car.open}"></i>
        </accordion-heading>
            
                {{osb.car.model}} in {{osb.car.colour}}


    </accordion-group>






 <accordion-group is-open="osb.wizard.currentStepObj.panels.legal.open" ng-show="osb.wizard.currentStepObj.panels.legal.show">
       <accordion-heading >
            Legal 
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': osb.wizard.currentStepObj.panels.legal.open, 'glyphicon-plus': !osb.wizard.currentStepObj.panels.legal.open}"></i>
        </accordion-heading>
          <div class="row">
            <p>By submitting this form, you agree to our <a href="#">terms and conditions</a>.</p>
          </div>
    </accordion-group>









  </accordion>
  
     



          <div ng-if="osb.wizard.currentStepObj.showNext">

              <a class="btn btn-primary btn-lg btn-block" ng-class="{'disabled':!osb.wizard.currentStepObj.showNextActive() }" ng-click="osb.next()">{{osb.wizard.currentStepObj.nextButton || 'Next'}}</a><br />

  
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!---row grey -->
  <!--pre>{{osb.dealer | json}}</pre -->
<script src="https://cdn.audi.co.uk/V5/mioplayer/scripts/mioplayer-embed.js" type="text/javascript"></script>