
<div class="row message-area" ng-if="showLoading">
	<div class="col-xs-2">
		<span class="icon icon-cog icon-sm icon-border"></span>
	</div>
	<div class="col-xs-10">
		<span class="title">Verifying your account ...</span>
	</div>
</div>

<div class="message-area" ng-if="showSuccess">
	<div class="row">
		<div class="col-xs-2">
			<span class="icon icon-checkmark icon-sm icon-border icon-success"></span>
		</div>
		<div class="col-xs-10">
			<span class="title">Your account has been verified, please log in to continue</span>
		</div>
	</div>
</div>

<div class="message-area" ng-if="showError">
	<div class="row">
		<div class="col-xs-2">
			<span class="icon icon-close icon-sm icon-border icon-error"></span>
		</div>
		<div class="col-xs-10">
			<span class="title" ng-if="errorCode == 103">Your verification link has expired</span>
			<span class="title" ng-if="errorCode == 104">Your verification link is invalid</span>
			<span class="title" ng-if="errorCode == 108">Account already verified. Please log in</span>
		</div>
	</div>
</div>
