<div class="row message-area" ng-show="accountDeleted == 'accountDeleted'">
	<div class="col-xs-2">
		<span class="icon icon-checkmark icon-sm icon-border icon-success"></span>
	</div>
	<div class="col-xs-10">
		<span class="title">Your account has been deleted</span>
	</div>
</div>