<h2 class="h1">Enhance your Audi experience</h2>

<div class="row feature">
	<div class="col-xs-1">
		<img src="/etc/audi-ui/apps/myaudi-login/img/icon-usp-dial.png">
	</div>
	<div class="col-xs-11 featureIntro">	
		<h4 class="h2">Add your car</h4>
		<span>and manage it online</span>
	</div>
</div>

<div class="row feature">
	<div class="col-xs-1">
		<img src="/etc/audi-ui/apps/myaudi-login/img/icon-usp-car.png">
	</div>
	<div class="col-xs-11 featureIntro">	
		<h4 class="h2">Track new car order</h4>
		<span>and see how your new Audi is brought to life</span>
	</div>
</div>