<div class="col-xs-12">
	<h2 ng-hide="isLandingPage()">Log in to your account</h2>
	<h2 ng-show="isLandingPage()">Been here before?</h2>
	<form
		class="login-form"
		id="loginForm"
		name="loginForm"
		ng-submit="loginFormSubmit()"
		novalidate
		role="form">
		<div class="form-group has-error">
			<div ng-if="getErrorCode() == 301 || getErrorCode() == 414">
				<label class="control-label">We are unable to find your account. Please check your details and try again</label>
			</div>
			<div ng-if="getErrorCode() == 100">
				<label class="control-label">
					Your details don't match our records. You have {{attemptsRemaining}} more attempts before your account is locked. Please try again or <a ui-sref="account.forgotpassword" class="has-error">reset your password</a>
				</label>
			</div>
			<div ng-if="getErrorCode() == 101">
				<label class="control-label">Your account has been locked for 30 minutes</label>
			</div>
			<div ng-if="getErrorCode() == 102">
				<label class="control-label">This email is associated with an unverified account, please follow the instructions in your verification email</label>
			</div>
		</div>
		<label
			class="control-label"
			for="loginForm-email"
			ng-class="{'loadingOpacity' : loginLoading}">
			Email
		</label>
		<div
			class="form-group"
			ng-class="{
				'has-error': fieldHasError('loginForm', 'email'),
				'loadingOpacity' : loginLoading
			}"
			>
			<input
				class="form-control"
				id="loginForm-email"
				name="email"
				ng-disabled="userService.accountVerified || loginLoading"
				ng-model="model.loginForm.email"
				placeholder="example@email.com"
				required
				type="email">
			<label
				class="control-label error"
				for="loginForm-email"
				ng-show="fieldHasError('loginForm', 'email')">
				Please enter your email
			</label>
		</div>
		<label
			class="control-label"
			for="loginForm-password"
			ng-class="{'loadingOpacity' : loginLoading}">
			Password
		</label>
		<div
			class="form-group"
			ng-class="{
				'has-error': fieldHasError('loginForm', 'password'),
				'loadingOpacity' : loginLoading
			}">
			<input
				class="form-control"
				id="loginForm-password"
				maxlength="24"
				name="password"
				ng-disabled="loginLoading"
				ng-model="model.loginForm.password"
				placeholder="Password"
				required
				type="password">
			<label
				class="control-label error"
				for="loginForm-password"
				ng-show="fieldHasError('loginForm', 'password')"
				>
				Please enter your password
			</label>
		</div>
		<div class="form-group">
			<button
				class="login-button btn btn-lg btn-tertiary"
				ng-disabled="loginLoading"
				type="submit">
				Log in
			</button>
			<a ui-sref="account.forgotpassword" class="forgotten-password pull-right">
				Forgotten password?
			</a>
		</div>
	</form>

	<div id="existing-or-new-user">
		<span ng-hide="isLandingPage()">New to yourAudi? <a ui-sref="account.signup">Register</a></span>
		
		<div ng-show="isLandingPage()">
			<h2>New to yourAudi</h2>
			<a ui-sref="account.signup" class="btn btn-primary btn-lg">Sign up</a>
		</div>
	</div>
	
</div>