<!-- loading -->
<div class="row message-area" ng-if="loading">
	<div class="col-xs-2">
		<span class="icon icon-cog icon-sm icon-border"></span>
	</div>
	<div class="col-xs-10">
		<span class="title">Verifying your account ...</span>
	</div>
</div>


<div class="message-area" ng-if="!loading">

	<!-- invalid -->
	<div ng-if="serverMessages.responseInfo.code==104" class="row">
		<div class="col-xs-2">
			<span class="icon icon-close icon-sm icon-border icon-error"></span>
		</div>
		<div class="col-xs-10">
			<span class="title">{{serverMessages.responseInfo.desc}}</span>
		</div>
	</div>

	<!-- ALL OK -->
	<div class="row" ng-if="serverMessages.responseInfo.code==0">
		<div class="col-xs-2">
			<span class="icon icon-checkmark icon-sm icon-border icon-success"></span>
		</div>
		<div class="col-xs-10">
			<span class="title">Your account has been verified</span>
		</div>
	</div>

</div>