<div class="row message-area">
	<div class="col-xs-2">
		<span class="icon icon-checkmark icon-sm icon-border icon-success"></span>
	</div>
	<div class="col-xs-10">
		<span class="title">Your password has been changed. Please login below</span>
	</div>
</div>
