<div class="col-xs-12">
	<h2>Your verification email has expired</h2>
	<p>However, we have sent a new verification email to <strong>{{userService.verificationResentEmail}}</strong>. Please check your email and follow the instructions.</p>
</div>