
.locateCentrePopup {
	.modal-sm {
		width:400px;
	}
	.modal-md {
		width:700px;
	}
	.modal-lg {
		width:950px;
	}
	h4 {
		margin-top:3px;
	}
	h5 {
		margin:0;
	}
	h6 {
		font-weight:bold;
	}
	.location-search-form,
	.new-location-search-form {
		button {
			margin-left:7px;
			margin-top:-4px;
		}
		input {
			display:inline-block;
			width:auto;
		}
	}

	#results{
		h3 {
			margin-left:8px;
		}
		.modal-header {
			
			h3 {
				line-height: 150%;
				margin-right: 20px;
				max-width: 80%;
				i {
					margin-right: 10px;
					margin-left: -27px;
				}
			}
		}
		.modal-body {
			padding-top:0px;
			ul {
				margin-bottom:0px;
			}
		}
		.modal-footer {
			border-top:none;
		}
		li.list-group-item {
			border-left: 0px;
			border-right: 0px;
		}
		.buttonMargins div > button:first-child {
			margin-right:7px;
		}
		h4{
			margin-bottom:5px;
			margin-top: 25px;			
		}
		.centreButtons {
			margin:15px 0;
		}
		.miles{
			margin:10px 0;
			text-align:center;
			h4 {
				margin-top: 0px;			
			}
		}
		.chevronRight {
			background: url("/etc/audi-ui/apps/myAudi/img/arrow-right.png") no-repeat left center;
			display:inline-block;
			height:39px;
			margin-top:3px;
			width:12px;
		}
		.centreDistance {
			display:inline-block;

		}
		.inputError {
			display:inline-block;
			vertical-align:top;
		}
		.new-location-search-form {
			.form-group {
				display: inline-block;
				vertical-align: middle;
			}
			.locationLabel{
				font-size: 16px;
				margin:8px 7px 0 0;	
				vertical-align:top;
			}
			.warningMessage {
				display:block;
				width:280px;
			}
		}
		.audi-loader {
			margin:auto;
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			top:0;
		}
	}
	#details {			
		.centreContact {
			h3 {
				font-size:13px;
				margin-bottom:5px;
				font-family:"audiType_normal";		
			}
			strong {
				font-size:15px;
			}
		}
		.centreTelephone {
			h3 {
				display:inline-block;
			}
			h4 {
				margin-bottom:5px;
			}
		}
		.centreEmail a {
			word-wrap:break-word;
		}
		.openingHours li > span {
			display:inline-block;
			width:35%;
		}
		.Closed {
			background-color:#CCCCCC;
			color:#FFFFFF;
		}
		.Open.now {
			background-color:#6CA555;
			color:#FFFFFF;
		}
		.storeOpenOrClosed {
			border-radius:5px;
			display:inline-block;
			margin-left:7px;
			padding:5px 10px;
		}
		#map-canvas {
			height: 200px;
		}
		.directions {
			bottom: 15px;
		    position: absolute;
		    right: 15px;
		    z-index: 1;
		}
	}
}
