<!doctype html>
<html lang="en" ng-app="Cars">
<head>
  <meta charset="utf-8">
  <title>Audi model manager</title>

    <link rel="stylesheet" href="css/app.css">
     <link rel="stylesheet" href="lib/angular-xeditable/css/xeditable.css">
     <link rel="stylesheet" href="lib/jquery-ui/css/ui-lightness/jquery-ui.min.css">


     <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="lib/angular-loading-bar/loading-bar.css">
        <link rel="stylesheet" href="lib/angular-dialog-service/dialogs.min.css">

      
      <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
</head>
<body>

  <div class="butter-bar"></div>
<nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="topNavCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#models">Audi PDB override</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
                 <li ng-class="getClass('/Environment/'+environment.name)" ng-repeat="environment in environments" >
                    <a  ui-sref="environment({environment:environment.name})">{{environment.name}}</a></li><!-- ng-click="setEnvironment('primary')"-->
             <!-- <li id="tab_models" ng-class="getClass('/models')" ><a href="#models">Models</a></li>
              <li id="tab_ranges" ng-class="getClass('/ranges')"><a href="#ranges">Ranges</a></li>-->
          </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="logout();"><i class="glyphicon glyphicon-remove"></i> Logout</a></li>
        </ul>

        </div><!-- /.navbar-collapse -->
      </div>
        <div class="collapse navbar-collapse ">
          <ul class="nav navbar-nav">
                <li id="tab_models" ng-class="getClass('/Models')" ><a ui-sref="environment.tabs.models">Models</a></li>
            <li   id="tab_ranges" ng-class="getClass('/Ranges')"><a ui-sref="environment.tabs.ranges">Ranges</a></li>
          </ul>
        </div>



    </nav>





    <div class="container">

      <div class="row">
         <div class="col-xs-12">
           <div ui-view="masterView"></div> 
          </div>
        </div>

    </div>



<div class="modal fade" role="dialog" id="authenticationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
       
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"  ng-click="login()"><i class="glyphicon glyphicon-lock"></i> Login
                 </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




  <script src="lib/jquery/jquery-1.10.2.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/jquery-ui/js/jquery-ui.min.js"></script>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-ui-router.min.js"></script>
  <!--script src="lib/angular/angular-route.min.js"></script-->
  <script src="lib/angular/angular-resource.min.js"></script>
  <script src="lib/angular/angular-animate.min.js"></script>
  <script src="lib/angular-ui-bootstrap/ui-bootstrap.min.js"></script>

<script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="lib/angular-translate/angular-translate.min.js"></script>
  <script src="lib/angular-dialog-service/dialogs.min.js"></script>

  <script src="lib/noty/packaged/jquery.noty.packaged.min.js"></script>
  <script src="lib/noty/layouts/topRight.js"></script>

  
  
  <script src="lib/angular-xeditable/js/xeditable.min.js"></script>
  <script src="lib/angular-sortable/angular-sortable.js"></script>

  <script src="lib/angular-loading-bar/loading-bar.min.js"></script>


 <script src="lib/jquery.floatThead/jquery.floatThead._.js"></script>
  <script src="lib/jquery.floatThead/jquery.floatThead.js"></script>



<!-- main app -->
  <script src="js/pdb-override-app.js"></script>
  
  <!-- services -->
  <script src="js/modelService.js"></script>
  <script src="js/oldPdbService.js"></script>
  <script src="js/rangeService.js"></script>
  <script src="js/authService.js"></script>
  <script src="js/environmentService.js"></script>

<!-- controllers -->
  <script src="js/modelsCtrl.js"></script>
  <script src="js/topNavCtrl.js"></script>
  <script src="js/modelCtrl.js"></script>
  <script src="js/rangeCtrl.js"></script>

  


<!-- Latest compiled and minified JavaScript -->
<!--script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script-->
<!--[if lt IE 9]>
<!--script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script-->
<!--script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script-->
<![endif]-->

</body>
</html>
