
<div>
	<div class="modal-header">
		<div class="row">
			<div class="col-xs-11">
				<h2 class="no-margins"><h1>What's included...</h1></h2>
				
			</div>
			<div class="col-xs-1">
				<button type="button" class="close modal-close-btn" ng-click="close()"><span aria-hidden="true">×</span><span class="accessibility">Close</span></button>
			</div>
		</div>
	</div>
	<div class="modal-body">

<p class="text-center">
<img  src="/etc/audi-ui/apps/osb/images/compareServicesTable.jpg" boder="0">
</p>
	</div>
	
</div>