
<div>
	<div class="modal-header">
		<div class="row">
			<div class="col-xs-11">
				<h2 class="no-margins">Tell us more about the problem</h2>
				
			</div>
			<div class="col-xs-1">
				<button type="button" class="close modal-close-btn" ng-click="close()"><span aria-hidden="true">×</span><span class="accessibility">Close</span></button>
			</div>
		</div>
	</div>
	<div class="modal-body">
		
		<p>Please describe the issue with your car in as much detail as possible. After our initial diagnostic investigation we'll give you a firm quotation for work, or advise if extra investigations are needed.</p>

		<textarea 
		ng-model="genInvestigationText"
			  ng-maxlength="2000" class="genInvestigationText">
			</textarea>

	</div>
	<div class="modal-footer">
		<div class="row buttonMargins">
			<div class="col-xs-12 text-center">
				<button id="modal-CloseBtn" class="btn btn-tertiary btn-lg" ng-click="close()">Save</button>
				
			</div>
		</div>
	</div>
</div>