<div>
	<div class="modal-header">
		<div class="row">
			<div class="col-xs-11 clearfix">
				<h2 class="no-margins pull-left">{{item.title}}</h1>
				<h3 ng-if="item.price" class="pull-right"><span ng-if="item.price > 0 || item.price !='FREE'">&pound;</span>{{item.price}}</h3>
				
			</div>
			<div class="col-xs-1">
				<button type="button" class="close modal-close-btn" ng-click="close()"><span aria-hidden="true">×</span><span class="accessibility">Close</span></button>
			</div>
		</div>
	</div>
	<div class="modal-body">


		<div ng-switch="item.serviceCode">
			<div ng-switch-when="SERMAJ">
			

					<div id="mediaPlayer" class="video" style="height:391px; width:640px; margin:0 auto;">
						<img src='https://cdn.audi.co.uk/V5/mioplayer/images/pixel.png'  onload='embedMioPlayer(this, {src: "https://playout.mioeverywhere.tv/playout/api/players/42622/embed?token=nhgls6OF4p",width: "640",height: "391",center: true,params:{"plugins": "chapters,timelinepreview,resolutions,sharing,relatedcontent","parentPage": "new-cars/a3/a3.html"}});'>
					</div>
			
				<p>Regular servicing is the best way to ensure your Audi continues to perform at the level you'd expect.</p>
				<p>Using Audi-trained technicians and the latest specialist tools and diagnostic technology, we will carry out the recommended service tailored to your Audi. As well as replacing the engine oil, we will replace the oil filter, air filter, spark plugs (petrol engines only) and fuel filter (diesel engines only) using genuine Audi parts. We will also complete a visual check and report of your vehicle's key safety-related components and conduct a road-test of your car before recording the experience in your service book.</p>
			</div>




			<div ng-switch-when="SERMIN">

				<div id="mediaPlayer" class="video" style="height:391px; width:640px; margin:0 auto;">
						<img src='https://cdn.audi.co.uk/V5/mioplayer/images/pixel.png'  onload='embedMioPlayer(this, {src: "https://playout.mioeverywhere.tv/playout/api/players/42861/embed?token=nhgls6OF4p",width: "640",height: "391",center: true,params:{"plugins": "chapters,timelinepreview,resolutions,sharing,relatedcontent","parentPage": "new-cars/a3/a3.html"}});'>
					</div>
				<p>Regular servicing is the best way to ensure your Audi continues to perform at the level you'd expect.</p>
				<p>Using Audi-trained technicians and the latest specialist tools and diagnostic technology, we will carry out the recommended service tailored to your Audi. We will drain and replace the engine oil using the specified lubricant applicable to your vehicle, replace the engine oil filter using genuine Audi parts and complete a visual check and report of your vehicle's key safety-related components to ensure your Audi stays in top condition.</p>
			</div>
			<div ng-switch-when="SERUNK">
				
			
				<p>Regular servicing is the best way to ensure your Audi continues to perform at the level you'd expect.</p>
				<p>Using Audi-trained technicians and the latest specialist tools and diagnostic technology, we will carry out the recommended service tailored to your Audi. If you are unsure of what service work is required on your vehicle, your Audi Centre will contact you within 48 hours of making your booking.</p>
			</div>
			<div ng-switch-when="MOT">
					<div id="mediaPlayer" class="video" style="height:391px; width:640px; margin:0 auto;">
						<img src='https://cdn.audi.co.uk/V5/mioplayer/images/pixel.png'  onload='embedMioPlayer(this, {src: "https://playout.mioeverywhere.tv/playout/api/players/42860/embed?token=nhgls6OF4p",width: "640",height: "391",center: true,params:{"plugins": "chapters,timelinepreview,resolutions,sharing,relatedcontent","parentPage": "new-cars/a3/a3.html"}});'>
					</div>

				<p>If your Audi is more than three years old, it must undergo an MOT every year to ensure it is safe and road-worthy.</p>
				<p>And with MOT protection, you'll be covered for up to £750 (inc VAT) against a wide range of repairs, should your Audi fail its next MOT, so long as your vehicle's maintained in line with the manufacturer's service schedule. For more information and full terms and conditions visit the Owner's Area.</p>
			</div>
			<div ng-switch-when="TYR">
				<div id="mediaPlayer" class="video" style="height:391px; width:640px; margin:0 auto;">
						<img src='https://cdn.audi.co.uk/V5/mioplayer/images/pixel.png'  onload='embedMioPlayer(this, {src: "https://playout.mioeverywhere.tv/playout/api/players/42442/embed?token=nhgls6OF4p",width: "640",height: "391",center: true,params:{"plugins": "chapters,timelinepreview,resolutions,sharing,relatedcontent","parentPage": "new-cars/a3/a3.html"}});'>
					</div>
				<p>We recommend regularly checking the condition of your tyres. Find a replacement cost using our online tyre quotation system.</p>
				<p>The legal limit of wear for tyre tread is 1.6mm. However the more tread there is left on the tyre the better, so we recommend you change them at 3mm. You can find out how much a replacement tyre will cost using our online tyre quotation system within the Owner's Area.</p>
			</div>


		<div ng-switch-when="HC">
				<div id="mediaPlayer" class="video" style="height:391px; width:640px; margin:0 auto;">
						<img src='https://cdn.audi.co.uk/V5/mioplayer/images/pixel.png'  onload='embedMioPlayer(this, {src: "https://playout.mioeverywhere.tv/playout/api/players/42535/embed?token=nhgls6OF4p",width: "640",height: "391",center: true,params:{"plugins": "chapters,timelinepreview,resolutions,sharing,relatedcontent","parentPage": "new-cars/a3/a3.html"}});'>
					</div>
				<p>When work is required we won't just tell you,we'll show you</p>

				<p>As an Audi owner, you can benefit from a complimentary vehicle health check. It covers everything from the effectiveness of your brakes to the efficiency of your engine. Our expert technicians will let you know of any actions that need to be taken and how urgent these are. It means you can be sure that your Audi stays in top condition.</p>
			</div>


		<div ng-switch-when="CAM">
				<div id="mediaPlayer" class="video" style="height:391px; width:640px; margin:0 auto;">
						<img src='https://cdn.audi.co.uk/V5/mioplayer/images/pixel.png'  onload='embedMioPlayer(this, {src: "https://playout.mioeverywhere.tv/playout/api/players/338564/embed?token=nhgls6OF4p",width: "640",height: "391",center: true,params:{"plugins": "chapters,timelinepreview,resolutions,sharing,relatedcontent","parentPage": "new-cars/a3/a3.html"}});'>
					</div>
				<p class="bold">We offer a complimentary check of your vehicle's main safety-related components, summarised in a written report.</p>

				<p>Audi Cam is a revolutionary way of showing you what work needs to be carried out on your car.</p>

					<p>Now you can see and authorise work needed on your car, from your computer or mobile device.</p>

					<p>If we find something worth bringing to your attention, our technicians will film a short video to tell you about the work they recommend. That’s what makes the Audi Difference.</p>
			</div>

		</div>
	</div>
	<div class="modal-footer">
		<div class="row buttonMargins">
			<div class="col-xs-12">
				<button id="modal-CloseBtn" class="btn btn-tertiary pull-left btn-lg" ng-click="close()">Close</button>
				<button id="modal-AddBtn" class="btn btn-primary pull-right btn-lg" ng-click="selectOrUnSelectService()"><span ng-if="!item.checked">Add</span>
				<span ng-if="item.checked">Remove</span></button>
			</div>
		</div>
	</div>
</div>