
<ul class="nav nav-tabs">

  <li  ng-class="getClass('financetype','finance')" ><a ng-click="formChange('financetype','finance')">Finance</a></li>
    <li   ng-class="getClass('financetype','solution')" ><a ng-click="formChange('financetype','solution')">Solution</a></li>

</ul>


<h4>Trimline & Engine</h4>

					<select ng-change="formChange('trim',trim.id)" ng-model="trim" ng-options="trim.name for trim in trimLines" >
                        <option value="">-- choose Trimline --</option>
                      </select>


                     <select ng-change="formChange('engine',engine.id)" ng-if="trim.engines" ng-model="engine" ng-options="engineOpt.name for engineOpt in trim.engines" >
                        <option value="">-- choose Engine --</option>
                      </select>


<h4>Deposit</h4> <!-- currency-input  field="deposit"-->
<input type="text"  placeholder="£ Deposit amount" ng-enter="formChange('deposit', deposit)" ng-model="deposit" />
<button  class="btn btn-default" ng-click="formChange('deposit', deposit)" >Update</button>

<h4>Mileage</h4>
 <div class="btn-group">
 	<button  ng-repeat="mileage in settings.mileage" class="btn btn-default" ng-click="formChange('mileage', mileage)" ng-class="getClass('mileage','{{mileage}}')" >{{mileage}}</button>
                
              </div>

<h4>Duration</h4>
    <div class="btn-group">
        
                 	<button  ng-repeat="duration in settings.duration" class="btn btn-default" ng-click="formChange('duration', duration)" ng-class="getClass('duration','{{duration}}')" >{{duration}}</button>
              </div>

<br /><br />
<div class="panel panel-default">
  <div class="panel-body">

              <div ng-if="calcDisplayLoading">
              		Loading....
              </div>
                <div ng-if="!calcDisplayLoading">
              	<table border="1">
  <tr>
    <td width="250">Duration:</td>
    <td>{{financeData.duration}} months</td>
  </tr>
  <tr>
    <td>Average miles per year:</td>
    <td>{{financeData.mileage | number:0}}</td>
  </tr>
    <tr>
    <td>Deposit</td>
    <td>£{{financeData.deposit | number:0}}</td>
  </tr>

  
</table>
              </div>

              </div>
              </div>



