/* Alphabetical please! */
/* line 6, ../../../../apps/myaudi-login/css/myaudi-login.scss */
#appMAlogin {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 10, ../../../../apps/myaudi-login/css/myaudi-login.scss */
#appMAlogin .centering1 {
  display: table;
  margin: 0 auto;
  height: 100%;
}
/* line 15, ../../../../apps/myaudi-login/css/myaudi-login.scss */
#appMAlogin .centering2 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  box-sizing: content-box;
  white-space: nowrap;
}
/* line 23, ../../../../apps/myaudi-login/css/myaudi-login.scss */
#appMAlogin .box {
  white-space: normal;
  border: 0;
  /* background: #ffffff url('../img/background-blur.jpg') no-repeat top center fixed;-  Moved inline for CMS reasons */
  border-radius: 6px;
  position: relative;
  max-width: 600px;
  margin: 0 auto 0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
  color: #222;
  /* min-height:400px; */
  width: 600px;
  overflow-y: hidden;
}

/* Have to set height explicity on ui-view to prevent collapsing during animation*/
/* line 41, ../../../../apps/myaudi-login/css/myaudi-login.scss */
.well[ui-view] {
  height: 65px;
}

/* line 45, ../../../../apps/myaudi-login/css/myaudi-login.scss */
.ui-view-container {
  position: relative;
}

/* Transitions */
/* line 50, ../../../../apps/myaudi-login/css/myaudi-login.scss */
[ui-view] {
  /* This makes the transitions happen over the top of one another */
}
/* line 51, ../../../../apps/myaudi-login/css/myaudi-login.scss */
[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 57, ../../../../apps/myaudi-login/css/myaudi-login.scss */
[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  -ms-transform: scale3d(0.5, 0.5, 0.5);
  -o-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}
/* line 62, ../../../../apps/myaudi-login/css/myaudi-login.scss */
[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
/* line 67, ../../../../apps/myaudi-login/css/myaudi-login.scss */
[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 72, ../../../../apps/myaudi-login/css/myaudi-login.scss */
[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 78, ../../../../apps/myaudi-login/css/myaudi-login.scss */
[ui-view] [ui-view].ng-leave {
  position: absolute;
}

/* line 83, ../../../../apps/myaudi-login/css/myaudi-login.scss */
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition-property: opacity, width;
  -moz-transition-property: opacity, width;
  -o-transition-property: opacity, width;
  transition-property: opacity, width;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* line 92, ../../../../apps/myaudi-login/css/myaudi-login.scss */
.has-spinner.active {
  cursor: progress;
}
/* line 95, ../../../../apps/myaudi-login/css/myaudi-login.scss */
.has-spinner.active .spinner {
  opacity: 1;
  width: auto;
  /* This doesn't work, just fix for unkown width elements */
}
/* line 101, ../../../../apps/myaudi-login/css/myaudi-login.scss */
.has-spinner.btn-mini.active .spinner {
  width: 10px;
}
/* line 105, ../../../../apps/myaudi-login/css/myaudi-login.scss */
.has-spinner.btn-small.active .spinner {
  width: 13px;
}
/* line 109, ../../../../apps/myaudi-login/css/myaudi-login.scss */
.has-spinner.btn.active .spinner {
  width: 16px;
}
/* line 113, ../../../../apps/myaudi-login/css/myaudi-login.scss */
.has-spinner.btn-large.active .spinner {
  width: 19px;
}

/* @import "modules/_loginBox.scss"; */
