<div class="module module-add-car clearfix" ng-class="layout">
    <form
        role="form"
        name="dashCarLookupForm"
        method="post"
        ng-submit="doCarLookup()"
        novalidate>
        <div ng-class="{'col-xs-4': layout === 'row'}">
            <div class="module-header" ng-class="{'col-xs-4': layout === 'wide'}">
                <h3 class="heading">
                    <span ng-if="layout === 'narrow'">I already own a car</span>
                    <span ng-if="layout === 'wide'">Add a car to myAudi</span>
                </h3>
            </div>
            <div class="module-content">
                <div ng-class="{'col-xs-3': layout === 'wide'}">
                    <div class="form-group">
                        <label class="control-label" for="myaudi-carLookup-registration">Car registration number</label>
                        <i
                            class="glyphicon glyphicon-info-sign"
                            popover-trigger="mouseenter"
                            popover-placement="right"
                            popover-title="Registration Example"
                            popover-html-unsafe='<img src="/etc/audi-ui/apps/myaudi-login/img/number-plate-visual.png" alt="Number plate visual example" height="40" width="200">'>
                        </i>
                        <div
                            class="form-group control-group regInput"
                            ng-class="{
                                'has-error':    fieldHasError('dashCarLookupForm', 'registration'),
                                'has-feedback': fieldHasFeedback('dashCarLookupForm', 'registration')
                            }">
                            <input
                                id="myaudi-carLookup-registration"
                                type="text"
                                name="registration"
                                class="form-control"
                                placeholder="NL55 LWS"
                                spellcheck="false"
                                ng-model="dashCarLookupFormData.carReg"
                                ng-pattern="/^[a-zA-Z0-9 ]{1,8}$/"
                                maxlength="8"
                                required
                                sa-focus
                                >
                            <div class="feedback-icons" ng-show="fieldHasError('dashCarLookupForm', 'registration')">
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                            <label
                                class="control-label error"
                                for="myaudi-carLookup-registration"
                                ng-show="fieldHasError('dashCarLookupForm', 'registration')">
                                Please enter the car registration in the correct format.
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-class="{'col-xs-3': layout === 'wide'}">
                    <div class="form-group">
                        <label class="control-label" for="myaudi-carLookup-postcode">Postcode</label>
                        <i
                            class="glyphicon glyphicon-info-sign"
                            popover-trigger="mouseenter"
                            popover-placement="right"
                            popover-title="Postcode"
                            popover='This is the postcode you used when ordering your car at the dealership'>
                        </i>
                        <div
                            class="form-group"
                            ng-class="{
                                'has-error':    fieldHasError('dashCarLookupForm', 'carPostcode'),
                                'has-feedback': fieldHasFeedback('dashCarLookupForm', 'carPostcode')
                            }">
                            <input
                                id="myaudi-carLookup-postcode"
                                type="text"
                                name="carPostcode"
                                class="form-control"
                                placeholder="WD17 1HA"
                                spellcheck="false"
                                ng-model="dashCarLookupFormData.postcode"
                                ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
                                maxlength="8"
                                required
                                sa-focus>
                            <div class="feedback-icons" ng-show="fieldHasError('dashCarLookupForm', 'carPostcode')">
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                            <label
                                class="control-label error"
                                for="myaudi-carLookup-postcode"
                                ng-show="fieldHasError('dashCarLookupForm', 'carPostcode')">
                                Please enter a postcode in the correct format
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-class="{'col-xs-2': layout === 'wide'}">
                    <div class="form-group">
                        <input
                            id="myaudi-carLookup-submitBtn"
                            type="submit"
                            value="Find my car"
                            class="btn btn-primary btn-submit"
                            ng-class="{'btn-block': layout === 'wide'}">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>