<div class="module module-add-order clearfix" ng-class="layout">
	<form
		role="form"
		name="dashOrderLookupForm"
		method="post"
		ng-submit="doOrderLookup()"
		novalidate>
		<div ng-class="{'col-xs-4': layout === 'row'}">
			<div class="module-header" ng-class="{'col-xs-4': layout === 'wide'}">
			    <h3 class="heading">
			        <span ng-if="layout === 'narrow'">I want to track<br>my Audi order</span>
			        <span ng-if="layout === 'wide'">Track my Audi order</span>
			    </h3>
			</div>
			<div class="module-content">

				<div ng-class="{'col-xs-3': layout === 'wide'}">
					<div class="form-group">
						<label class="control-label" for="addOrder-orderNum">Your Order Number</label>
						<i
							class="glyphicon glyphicon-info-sign"
							popover-trigger="mouseenter"
							popover-placement="right"
							popover-title="Order Number"
							popover="Your order number can be found by viewing your invoice"
							></i>
						<div
							class="form-group control-group"
							ng-class="{
								'has-error':    fieldHasError('dashOrderLookupForm', 'orderNum'),
								'has-feedback': fieldHasFeedback('dashOrderLookupForm', 'orderNum')
							}">
							<input
								id="addOrder-orderNum"
								type="text"
								name="orderNum"
								class="form-control"
								placeholder="23456789"
								spellcheck="false"
								ng-model="dashOrderLookupFormData.orderNumber"
								ng-pattern="/^2[0-9]{7}$/"
								maxlength="8"
								required
								sa-focus
								>
							<div class="feedback-icons" ng-show="fieldHasError('dashOrderLookupForm', 'orderNum')">
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
							<label
								class="control-label error"
								for="addOrder-orderNum"
								ng-show="fieldHasError('dashOrderLookupForm', 'orderNum')"
								id="myaudi-addOrder-error-orderNum"
								>
								Your order number should be 8 characters long and start with a '2' (i.e. 23456789)
							</label>
							<div class="text-right">
								<a href="" ng-click="toggleDontKnowOrderNum()" class="orderUnknown">
									<span ng-show="!dontKnowOrderNumVisible">I don't know my order number</span>
									<span ng-show="dontKnowOrderNumVisible">Hide</span>
								</a>
							</div>
							<div ng-show="dontKnowOrderNumVisible">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, metus quis vehicula maximus, ipsum libero pellentesque ante, ut interdum felis libero at orci. Aenean pharetra euismod mattis.</p>
								<p>Vestibulum ac elementum turpis. Aliquam nec lacus quis tellus interdum auctor et eu lorem. Ut eget suscipit nulla, et suscipit ante. In eu congue dolor, non vehicula felis. Fusce eu commodo turpis, ac laoreet est.</p>
							</div>
						</div>
					</div>
				</div>
				<div ng-class="{'col-xs-3': layout === 'wide'}">
					<div class="form-group">
						<label class="control-label" for="addOrder-postcode">Postcode</label>
						<i
							class="glyphicon glyphicon-info-sign"
							popover-trigger="mouseenter"
							popover-placement="right"
							popover-title="Postcode"
							popover='This is the postcode you used when ordering your car at the dealership'
							></i>
						<div
							class="form-group"
							ng-class="{
								'has-error':    fieldHasError('dashOrderLookupForm', 'postcode'),
								'has-feedback': fieldHasFeedback('dashOrderLookupForm', 'postcode')
							}"
							>
							<input
								id="addOrder-postcode"
								type="text"
								name="postcode"
								class="form-control"
								placeholder="WD17 1HA"
								spellcheck="false"
								ng-model="dashOrderLookupFormData.postcode"
								ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
								maxlength="8"
								required
								sa-focus
								>
							<div class="feedback-icons" ng-show="fieldHasError('dashOrderLookupForm', 'postcode')">
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
							<label
								class="control-label error"
								for="addOrder-postcode"
								ng-show="fieldHasError('dashOrderLookupForm', 'postcode')"
								id="addOrder-error-postcode"
								>
								Please enter a postcode in the correct format
							</label>
						</div>
					</div>
				</div>
				<div ng-class="{'col-xs-2': layout === 'wide'}">
				    <div class="form-group">
				        <input
				            id="addOrder-submitBtn"
				            type="submit"
				            value="Find my order"
				            class="btn btn-primary btn-submit"
				            ng-class="{'btn-block': layout === 'wide'}">
				    </div>
				</div>

			</div>
		</div>
	</form>
</div>