<div class="panel panel-default carSummary" ng-class="{'hidden' : !hidden}">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p>Error loading car summanry. Car information unavailable... </p>
                <p>Please try after sometime.</p>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default carSummary" ng-class="{'hidden' : hidden}">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-5">
                <h2>
                    <dl>
                        <dt class="accessibility">Model</dt>
                        <dd class="carModel">{{carInfo.model}} {{ carInfo.modelVariant}}</dd>
                        <dt class="accessibility">Trim</dt>
                        <dd class="myAudiDefaultGreyText">{{carInfo.vehicleLongDescription}}</dd>
                        </br>
                        <dt class="accessibility">Registration number></dt>  
                        <dd class="registrationPlate">
                            <div>{{carInfo.carReg}}</div>
                        </dd>
                    </dl>
                </h2>
                <a class="btn btn-lg btn-tertiary" ng-click="displaySpec()">Full specification</a>
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-6 text-center carImageHolder">
                <img ng-src={{src}} img-loader />
            </div>
        </div>
    </div>
    <div class="panel-body carDetails">
        <div class="row">
            <div class="col-xs-4">
                <h3 class="noMargins">
                    Purchased
                </h3>
                </br> 
                <strong>{{carInfo.ownershipStartDate | date:'MMMM yyyy'}}</strong>
                </br>
                <a class="link-bullet no-underline" href="#">from Finchley Audi</a>
                </span>
            </div>
            <div class="col-xs-4 text-center" ng-if="loading">
                <span audi-loader></span> 
            </div>
            <div class="col-xs-4 text-center" ng-if="loading">
                <span audi-loader></span> 
            </div>
            <div class="col-xs-4" ng-if="!loading">
                <div ng-if="mileage.miles">
                    <h3 class="noMargins">
                        Mileage on {{mileage.date | date:'dd MMMM yyyy'}}
                    </h3>
                    </br> 
                    <strong>{{mileage.miles | number}}
                        <span> miles</span> 
                    </strong>  
                </div> 
                <div ng-if="!mileage.miles">
                    <h3 class="noMargins">
                        Would you like to update your mileage
                    </h3>
                    <br/>
                </div> 
                <a class="link-bullet no-underline" update-mileage="mileage">Update</a>
            </div>                       
            <div class="col-xs-4" ng-if="!loading">
                <h3 class="noMargins">
                   Your Audi centre
                </h3>
                <a centre-locator search ng-model="centrelocator" class="changeCentre"> 
                    Change</a>
                </br>
                    <span><a centre-locator ng-model="centrelocator"><strong>{{centrelocator.name}}</strong></a>
                </br>
                <a class="link-bullet no-underline" href="#">Book an appointment</a>
                </span>
            </div>
        </div>
    </div>
   <!--  <div class="panel-body carServiceDue text-center">
        <div class="row">
            <div class="col-xs-12">
                <p>This is a car level message. Your A1 is due a service. <a href="#">Book a service</a> at your Audi Centre</p>
            </div>
        </div>
    </div> -->
</div>