<button ng-click="directionInput()" class="directions"> Get Directions </button>
<div id="map-canvas" style="height:{{height}}px">
	<div class="row">
        <div class="col-xs-12 text-center">
           <h2 ng-bind-html="loadingMessage">Loading Map ... </h2>
           <span audi-loader></span>
        </div>
    </div>
</div>