<div class="panel panel-default orderSummary" ng-class="{'hidden' : !hidden}">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p>Error loading order summanry. Order information unavailable... </p>
                <p>Please try after sometime.</p>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default orderSummary" ng-class="{'hidden' : hidden}">
    <div class="panel-body"  ng-if="loading">
        <div class="text-center">
            <span audi-loader></span> 
        </div>
    </div>
    <div class="panel-body" ng-if="!loading && !mini">
        <div class="row">
            <div class="col-xs-6">
               <h2>We're assembling your {{orderInfo.vehicleData.model}} in Neckarsulm, Germany as we speak </h2>
               <hr/>
               <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
               </p>
               <a class="btn btn-lg btn-tertiary" ng-click="manageOrder()">Find out more about your  {{orderInfo.vehicleData.model}}</a>

            </div>
            <div class="col-xs-6 orderRef">
               <div> <!--  class="mio-publisher section" -->
                    <script src="https://cdn.audi.co.uk/V5/mioplayer/scripts/mioplayer-embed.js"></script>
                    <iframe frameborder="0" width="100%" height="250" scrolling="no" allowtransparency="true" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true" allowfullscreen="true" style="display:block;margin-left:auto;margin-right:auto;" src="https://playout.audi.co.uk/playout/api/players/346156/embed?token=nhgls6OF4p&amp;parentPage=new-cars%2Fa3%2Fs3-cabriolet.html"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body orderInfo" ng-if="!loading">
        <div class="row">
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-4">
                       <img ng-src="{{src}}" img-loader />
                    </div>
                    <div class="col-xs-8">
                        <h3> {{orderInfo.vehicleData.model}} </h3>
                        <h4>{{orderInfo.vehicleData.vehicleLongDescription}}</h4>
                    </div> 
                </div>
            </div>
            <div class="col-xs-4 orderRef">
                 <h3> Order Reference </h3>
                 <h4> {{orderInfo.orderNumber}}</h4> 
               <!--  <h3 class="pull-left">
                    <span class="myAudiBold">Order Reference</span></br>
                    {{orderInfo.orderNumber}}
                </h3>
                <p class="pull-right no-margins">If you have any questions about your order, please contact <a href="#">Audi City</a>.</p> -->
            </div>
        </div>
    </div>
</div>
