<div class="previousCar">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-11">
                <h2>No longer your car?</h2>
            </div>
            <div class="col-xs-1">
                <button 
                    class="close modal-close-btn" 
                    ng-click="cancel()"
                    type="button"> 
                    <span aria-hidden="true">&times;</span>
                    <span class="accessibility">Close</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <p class="no-margins">Please confirm you no longer own this car</p> 
                <div class="group">
                    <div class="registrationPlate">
                        <div>{{carInfo.carReg}}</div>
                    </div>
                    <div class="carModel myAudiExtendedBold">
                        {{carInfo.make}} {{carInfo.model}}
                    </div>
                </div>
                <p>Once confirmed this will be moved to your previous cars list</p> 
            </div>
        </div>
    </div>
    <div class="modal-footer"> 
        <div class="row">
            <div class="col-xs-12">
                 <div class="form-group">
                    <button type="submit" class="btn btn-tertiary pull-left" ng-click="ok()"> OK </button>
                    <button type="submit" class="btn btn-tertiary pull-right" ng-click="cancel()"> Cancel </button>
                </div>
            </div>
        </div>
    </div>
</div>