<div class="removeCar">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-11">
                <h2>Are you sure you want to remove this car</h2>
            </div>
            <div class="col-xs-1">
                <button 
                    class="close modal-close-btn" 
                    ng-click="cancel()"
                    type="button"> 
                    <span aria-hidden="true">&times;</span>
                    <span class="accessibility">Close</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <p class="no-margins">Are you sure you want to remove this car from myAudi?</p> 
                <div class="group">
                    <div class="registrationPlate">
                        <div>{{carInfo.carReg}}</div>
                    </div>
                    <div class="carModel myAudiExtendedBold">
                        {{carInfo.make}} {{carInfo.model}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"> 
        <div class="row">
            <div class="col-xs-12">
                 <div class="form-group">                    
                    <button type="submit" class="btn btn-tertiary" ng-click="ok()"> Remove from myAudi </button>
                    <button type="submit" class="btn btn-tertiary" ng-click="cancel()"> Cancel </button>
                </div>
            </div>
        </div>
    </div>
</div>