<div class="updateMileage">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-11">
                <h2 class="no-margins">Update Mileage</h2>
            </div>
            <div class="col-xs-1">
                <button type="button" class="close modal-close-btn" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="accessibility">Close</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal-body">  
        <form   id="updateMileageForm"
                name="updateMileageForm" 
                ng-submit="ok()" 
                novalidate>
            <div class="row">
                <div class="col-xs-12">
                    <br/>
                    <p> Current Mileage </p>
                    <input 
                        class="form-control" 
                        id="mileageEntry" 
                        maxlength="9"
                        ng-model="mileage.miles" 
                        formatted
                        type="formatted numbers"/> 
                    <br/>
                    <button 
                        class="btn btn-primary" 
                        ng-click="submit()"
                        ng-disabled="isDisabled"> 
                        Update Mileage
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div 
                        class="warningMessage" 
                        ng-class="{hidden: warning == undefined || warning == ''}">
                        <span>{{warning}}</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


