<div class="loginModal">
      <div class="modal-header">
            <h3 class="modal-title">Login to {{environment.name}}</h3>
        </div>
        <div class="modal-body">
         Username: <input  class="form-control" type="input" ng-model="username" placeholder="Username"/><br/ >
          Password:<input  class="form-control" type="password" ng-model="password" placeholder="Password"/>


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(environment)">Login</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</div>
