<div class="selectEnvironmentModal">
      <div class="modal-header">
            <h3 class="modal-title">Select a system</h3>
        </div>
        <div class="modal-body">
                 <p>{{Msg}}</p>
        </div>
        <div class="modal-footer">

            <button class="btn btn-warning"  ng-click="cancel()">Cancel</button>
        </div>
</div>
 