<div class="environmentSelector">
	<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
		{{environment[whichEnvironment].name}} <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li ng-repeat="environment in environments" ng-click="setEnvironment(whichEnvironment,environment)">{{environment.name}}</li>
	</ul>
</div>