
 <div class="btn-group pull-right">

   <button type="button" ng-click="checkModelsInOldPDB()" class="btn btn-default" title="Old PDB models"><i class="glyphicon glyphicon-asterisk"></i> Models in old pdb</button>
</div>

<h1>Models</h1>



<div ng-show="isModelsLoaded()">
  <div class="input-group input-group-sm" style="margin-bottom:15px;">
              <span class="input-group-addon">Search</span>
              <input type="text" ng-model="modelNameFilter"  class="form-control" placeholder="Range / model">
  </div>

  <div class="row" style="margin-bottom:20px;" ng-repeat="rows in Models | orderBy:'name' | filter : modelNameFilter | partition:6"><!--  -->
  	<div class="col-sm-6 col-md-2" ng-repeat="model in rows">
      <a  ui-sref="environment.tabs.models.model({model:model.configCode})"> <div class="thumbnail">
        <img  fallback-src="http://placehold.it/155x63&text=No+img" ng-src="{{model.cdnImageSidePath}}?load=1" alt="{{model.name}}">

        <div class="caption">
          <h4>{{model.name}}</h4>
        </div>
        </div>
        </a>
    </div>
  </div>
</div>
<div ng-show="!isModelsLoaded()"><p>Loading models...</p></div>



