<div class="modelPage col-xs-12">

  <div class="panel"  ng-class="{'panel-default': isSecondaryModel,'panel-success': !isSecondaryModel}">
    <div class="panel-heading" ng-if="stateParams.environment2">
      {{environment}}
      <!--span ng-if="hasModelChanged() && stateParams.environment2 && !isSecondaryModel" class="pull-right alert alert-warning">Unsaved changes</span -->
    </div>
      <div class="panel-body">

        <div ng-show="isModelLoaded()">
          <div class="clearfix">

            <div ng-if="!isSecondaryModel">
              <form editable-form name="tableform"   oncancel="cancelModel()"  class="pull-left">
                <div class="btn-group">
                  <button type="button" ng-click="backToModels(Model)" class="btn btn-default" title="Back to models"><i class="glyphicon glyphicon-arrow-left"></i></button>
                  <button ng-if="hasModelChanged()"  type="button" ng-disabled="savingModel" ng-click="saveModel()" class="btn btn-primary"  title="Save model"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
                  <button ng-if="hasModelChanged()" type="button" ng-disabled="savingModel" ng-click="cancelModel()" class="btn btn-default"  title="Undo changes"><i class="glyphicon glyphicon-step-backward"></i> Undo</button>
                  <button type="button" ng-click="deleteModel(Model)" class="btn btn-default" title="Delete model"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                  <button type="button" ng-click="copyModel()" class="btn btn-default" title="Duplicate model"><i class="glyphicon glyphicon-file"></i> Duplicate</button>
                </div>
                <button type="button" ng-click="showJson('Model',Model)" class="btn btn-default" title="Show model data"><i class="glyphicon glyphicon-list-alt"></i></button>
              </form>

              <div ng-if="hasModelChanged() && !stateParams.environment2" style="margin-left:10px" class="pull-left alert alert-warning">Unsaved changes</div>

              <div class="pull-right">
                <div class="btn-group">
                  <!--button type="button" ng-click="modalDataPullFromOldPdb()" class="btn btn-default" title="Old PDB"><i class="glyphicon glyphicon-link"></i></button -->
                  <button type="button" ng-click="modalDataPush()" class="btn btn-default" title="push"><i class="glyphicon glyphicon-arrow-up"></i> Push</button>
                  <button type="button" ng-click="modalDataPull()" class="btn btn-default" title="pull"><i class="glyphicon glyphicon-arrow-down"></i> Pull</button>
                  <button type="button" ng-click="compareModel()" class="btn btn-default" title="Compare"><i class="glyphicon glyphicon-eye-open" ng-class="{'glyphicon-eye-close': stateParams.environment2, 'glyphicon-eye-open':!stateParams.environment2 }"></i></button>
              </div>
            </div>

          </div>
        </div>

        <h2 editable-text="Model.name" e-required>{{Model.name }}</h2>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Basic info</h3>
          </div>

          <div class="panel-body">
            <div class="container-fluid">
            
              <div class="row">
                <div ng-class="{'col-xs-5': dualView, 'col-xs-3': !dualView}">
                  Config Code (CQ5)
                </div>
                <div ng-class="{'col-xs-7': dualView, 'col-xs-9': !dualView}">
                  <span class="configCode editLink" ng-click="configCodeform.$show()" editable-text="Model.configCode" onbeforesave="checkConfigCode($data)"  e-form="configCodeform" e-required>
                    {{ Model.configCode || 'empty'}}
                  </span>
                  <div ng-show="configCodeform.$visible" class="bs-callout bs-callout-warning">
                    <h4><i class="glyphicon glyphicon-warning"></i>Warning</h4>
                    <p>CQ5 pages that are linked to this model will stop working if this is changed!</p>
                  </div>
                </div>
              </div>

              <div class="row top-buffer">
                <div ng-class="{'col-xs-5': dualView, 'col-xs-3': !dualView}">
                  Model name
                </div>
                <div ng-class="{'col-xs-7': dualView, 'col-xs-9': !dualView}">
                  <span editable-text="Model.name"  class="editLink" ng-click="modelNameForm.$show()" e-form="modelNameForm"  e-required >
                    {{ Model.name }}
                  </span>
                  <i class="{{isDataDiffClass(Model,Model2,'name')}}"></i>
                </div>
              </div>

              <div class="row top-buffer">
                <div ng-class="{'col-xs-5': dualView, 'col-xs-3': !dualView}">
                  Range(s)
                </div>
                <div ng-class="{'col-xs-7': dualView, 'col-xs-9': !dualView}">
                  <ul>
                    <li ng-repeat="range in Model.range">{{ range.rangeName }}</li>
                  </ul>
                </div>
              </div>

              <div class="row top-buffer">
                <div ng-class="{'col-xs-5': dualView, 'col-xs-3': !dualView}">
                  Models Published URL
                </div>
                <div ng-class="{'col-xs-7': dualView, 'col-xs-9': !dualView}">
                  <span editable-text="Model.pageUrl" e-required>
                    {{ Model.pageUrl  || 'empty'}}
                  </span> <i class="glyphicon glyphicon-info-sign" ng-click="info('Info', 'e.g. a4-avant.html ')" title=""></i>
                  <!-- (note just the last part of the url, should not include range subfolder)-->
                </div>
              </div>

              <div class="row top-buffer">
                <div ng-class="{'col-xs-5': dualView, 'col-xs-3': !dualView}">
                  Cars front image (CDN path)
                </div>
                <div ng-class="{'col-xs-7': dualView, 'col-xs-9': !dualView}">
                  <span editable-text="Model.cdnImageFrontPath">
                    {{ Model.cdnImageFrontPath  || 'empty'}}
                  </span>  <img height="30"  fallback-src="http://placehold.it/50x30&text=No+img" ng-src="{{Model.cdnImageFrontPath}}?load=1" />
                </div>

              </div>
        
              <div class="row top-buffer">
                <div ng-class="{'col-xs-5': dualView, 'col-xs-3': !dualView}">
                  Cars side image (CDN path)
                </div>
                <div ng-class="{'col-xs-7': dualView, 'col-xs-9': !dualView}">
                  <span editable-text="Model.cdnImageSidePath">
                    {{ Model.cdnImageSidePath  || 'empty'}}
                  </span>
                   <img height="30"  fallback-src="http://placehold.it/50x30&text=No+img" ng-src="{{Model.cdnImageSidePath}}?load=1" />
                </div>
              </div>

              <div class="row top-buffer">

                <div ng-class="{'col-xs-5': dualView, 'col-xs-3': !dualView }">
                  Configurator Page URL
                </div>
                <div ng-class="{'col-xs-7': dualView, 'col-xs-9': !dualView }">
                  <span editable-text="Model.configuratorPageUrl">
                    {{ Model.configuratorPageUrl  || 'empty'}}
                  </span>
                </div>
              </div>

              <div class="row top-buffer">
                <div ng-class="{'col-xs-5': dualView, 'col-xs-3': !dualView }">
                  Starting price
                </div>
                <div ng-class="{'col-xs-7': dualView, 'col-xs-9': !dualView}">
                  &pound;<span  editable-text="Model.p11dPriceMin" e-required>
                    {{ Model.p11dPriceMin   || 'empty' | number:0}}
                  </span>
                  <i class="{{isDataDiffClass(Model,Model2,'name')}}"></i>
                </div>
              </div>

              <div class="row top-buffer">
                <div ng-class="{'col-xs-5': dualView, 'col-xs-3': !dualView}">
                  Emissions Combined 2 (Min)
                </div>
                <div ng-class="{'col-xs-7': dualView, 'col-xs-9': !dualView}">
                  <span  editable-text="Model.emissionsCo2Min" e-required>
                    {{ Model.emissionsCo2Min  || 'empty'}}
                  </span>
                </div>
              </div>

              <div class="row top-buffer">
                <div ng-class="{'col-xs-5': dualView, 'col-xs-3': !dualView}">
                  Fuel Consumption Combined (Min)
                </div>
                <div ng-class="{'col-xs-7': dualView, 'col-xs-9': !dualView}">
                  <span  editable-text="Model.fuelConsumptionCombinedMin" e-required>
                    {{ Model.fuelConsumptionCombinedMin  || 'empty'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Trims</h3>
          </div>
          <div class="panel-body">
            <div class="container-fluid">
              <div class="auto-scroll-box col-xs-12">
                <div class="row">
                  <div>

                    <table class="table table-bordered" >
                      <thead>
                        <tr>
                          <th>Trim name</th>
                          <th>Price</th>
                          <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr style="background:white;" ng-repeat="trimLine in Model.trimLines  | orderBy:'sortOrder'"  class="item"  ng-class="{hideRow: trimLine.hidden, deleted:trimLine.delete}">
                          <td>
                            <span editable-text="trimLine.trimLineName" e-required >
                              {{ trimLine.trimLineName  || 'empty'}}
                            </span>
                          </td>
                          <td>
                            &pound;<span editable-text="trimLine.otrPriceMin" e-required>
                              {{ trimLine.otrPriceMin  || 'empty' | number:0}}
                            </span>
                          </td>
                          <td>
                            <!-- hide -->
                            <div class="btn-group pull-right">
                              <div sort-order-buttons data-base="Model.trimLines" data-item="trimLine" data-indx="$index"/>
                                <button ng-if="!trimLine.hidden"type="button" ng-click="mangeTrimLineVisability(trimLine,'hidden',true)" class="btn btn-default btn-xs" title="Hide"><i class="glyphicon glyphicon-ban-circle"></i></button>
                                <button ng-if="trimLine.hidden" type="button" ng-click="mangeTrimLineVisability(trimLine,'hidden',false)" class="btn btn-default btn-xs" title="Un-hide"><i class="glyphicon glyphicon-ok-sign"></i></button>

                                <!-- delete -->
                                <button ng-if="!trimLine.delete"type="button" ng-click="mangeTrimLineVisability(trimLine,'delete',true)" class="btn btn-default btn-xs" title="Delete"><i class="glyphicon glyphicon-trash"></i></button>
                                <button ng-if="trimLine.delete" type="button" ng-click="mangeTrimLineVisability(trimLine,'delete',false)" class="btn btn-default btn-xs" title="Un-delete"><i class="glyphicon glyphicon-ok"></i></button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <button type="button"  ng-click="addTrimLine()" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add trim</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Trim options</h3>
          </div>
          <div class="panel-body">
            <!--| orderObjectBy:'sortId':true -->
            <div class="container-fluid">
              <div class="row">
                <div class="auto-scroll-box col-xs-12">
                  <table class="trimMatix table table-bordered" style="background:#fff;">
                    <thead style="background:white">
                      <tr>
                        <th>Trim option</th>
                        <th style="width:55px;" ng-repeat="trimLine in Model.trimLines  | orderBy:'sortOrder' "  ng-class="{hideRow: trimLine.hidden, deleted:trimLine.delete}">{{trimLine.trimLineName}}</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>

                    <tbody
                    uxi-sortable="sortTrimGroupOptions"
                    ng-model="Model.groups"
                    ng-repeat="group in Model.groups | orderBy:'sortOrder'"
                    ng-class="{hideRow: group.hidden, deleted:group.delete}"
                    class="item">
                      <tr class="btn-default disabledSort">
                        <!-- group heading -->
                        <td colspan="{{Model.trimLines.length +1}}">
                          <button type="button " ng-click="toggleTrimOptionsChildren(group)"  ng-if="!group.showChildren" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                          <button type="button" ng-click="toggleTrimOptionsChildren(group)"  ng-if="group.showChildren" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-minus"></i></button>

                          <span editable-text="group.title"  e-required><b>{{ group.title || 'empty'}}</b></span>
                        </td>
                        <td style="width:77px;">
                          <div class="btn-group pull-right">
                            <div sort-order-buttons data-base="Model.groups" data-item="group" data-indx="$index"/>
                            <div hide-delete-buttons data-item="group" />
                            <!-- <button ng-if="group.hidden" type="button"  ng-click="hideRow(group,false)" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-ok-sign"></i></button>
                            <button ng-if="!group.hidden" type="button"  ng-click="hideRow(group,true)" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ban-circle"></i></button>
                            <button ng-if="!group.delete"type="button" ng-click="deleteRow(group,true)" class="btn btn-default btn-xs" title="Delete"><i class="glyphicon glyphicon-trash"></i></button>
                            <button ng-if="group.delete" type="button" ng-click="deleteRow(group,false)" class="btn btn-default btn-xs" title="Un-delete"><i class="glyphicon glyphicon-ok"></i></button> -->
                          </div>
                        </td>
                      </tr>

                      <tr
                      class="trimGroupRow btn-default"

                    
                      ng-repeat="row in group.trimOptions  | orderBy:'sortOrder'"
                      ng-if="group.showChildren"
                      ng-class="{even: $even, odd: $odd, hideRow: row.hidden, deleted: row.delete, updated:row.updated}">
                        <td class="trimItemTextInput">
             
                          <span editable-text="row.includeDisplayName" editable-class="fullWidthInput" e-required>
                            {{ row.includeDisplayName || 'empty' }}
                          </span>

                           <span editable-textarea="row.description" editable-class="editableTextarea">
                            <i class="glyphicon glyphicon-info-sign" title="{{row.description}}"></i>
                          </span>
                          
                        </td>
                        <td style="width:55px; text-align:center;" ng-repeat="trimLine in Model.trimLines"  ng-class="{hideRow: trimLine.hide, deleted:trimLine.delete}">
                          <button class="btn btn-xs btn-default" ng-click="changeTrimStatus(trimLine.originalTrimLineName,row.trimLineOptions)"><i class="icon-success glyphicon glyphicon-{{ showTrimStatus(trimLine.originalTrimLineName, row.trimLineOptions,'icon') }}"></i></button>
                        </td>
                        <td class="rowEditControls">
                          <div class="btn-group pull-right">
                            <div sort-order-buttons data-base="group.trimOptions" data-item="row" data-indx="$index"/>
                            <div hide-delete-buttons data-item="row" />
                          </div>
                        </td>
                      </tr>

                      <tr ng-if="group.showChildren">
                        <td colspan="{{Model.trimLines.length +2}}">
                          <button nxg-show="tableform.$visible" type="button" nxg-disabled="tableform.$waiting" ng-click="addTrimOption(group.trimOptions)" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add row</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <button nxg-show="tableform.$visible" type="button" ng-disabled="tableform.$waiting" ng-click="addTrimGroup()" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add Group</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!--panel -->
</div>

<!-- 2nd environment container -->
<div ui-view="model2"></div>

    <!-- if model-->

    <!--<div class="col-xs-4">
      <div  class="panel panel-info">
        <div class="panel-heading clearfix ">
          <h3 class="panel-title pull-left">Model</h3>
           <span class="badge pull-right">{{environment.primary.name}}</span>
        </div>

        <div class="panel-body">
          <div  ng-if="!isModelsLoaded()">Loading models...</div>
          <div  ng-if="isModelsLoaded()">
            <label for="selectModel">Select a model to edit</label><br />
            <select id="selectModel" ng-change="selectModel(editThisModel)" ng-model="editThisModel" ng-options="c.originalName for c in Models | orderBy:'name'">
              <option value="">-- choose model --</option>
            </select>
          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-show="isModelLoaded()">
        <div class="panel-body">
          <button type="button" class="btn btn-sm btn-primary"  ng-click="compareToOldPdb()"><i class="glyphicon glyphicon-eye-open"></i> Compare to old PDB</button>
        </div>
      </div>

      <div class="panel panel-default panel-collapse">
        <div class="panel-heading">Developer info</div>
        <div class="panel-body">
          <ul>
            <li><a ng-click="showJson('Model',Model)">Model</a></li>
            <li><a ng-click="showJson('Models',Models)">Models</a></li>
            <li><a ng-click="showJson('secScrModels',secScrModels)">secScrModels</a></li>
          </ul>
          <div ng-if="isLoading">
            Loading...
          </div>
        </div>
      </div>
    </div>-->






