<div class="selectEnvironmentModal">
      <div class="modal-header">
            <h3 class="modal-title">Models in the Old PDB</h3>
        </div>
        <div class="modal-body">

        
        
      <p>Models that are in the Old PDB but NOT in the current system</p>
          <select id="selectModel" ng-change="selectOldModel(selectedOldModel)" ng-model="selectedOldModel" ng-options="c.displayValue for c in oldModels | orderBy:'displayValue' | filter: {hidden: false}" >
                <option value="">-- choose model --</option>
              </select>

        </div>


         <button class="btn btn-default"  ng-click="createAll()">Create All</button>
        <div class="modal-footer">
          
            <button class="btn btn-warning"  ng-click="cancel()">Cancel</button>
        </div>
</div>
 