<div class="selectEnvironmentModal">
      <div class="modal-header">
            <h3 class="modal-title">Old PDB</h3>
        </div>
        <div class="modal-body">

           <ul>
             <!-- <li><button class="btn btn-warning"  ng-click="okReplace('replace')">Replace</button> Replaces all current model data with data from the old PDB. <br /><br /></li>-->
              <li><button class="btn btn-info"  ng-click="okCompare('compare')">Compare</button> Show differences between the current data and that stored in the old PDB</li>
            </ul>

        </div>
        <div class="modal-footer">
          
            <button class="btn btn-warning"  ng-click="cancel()">Cancel</button>
        </div>
</div>
 