
  <div class="container">
    <div class="row">
      <div class="col-xs-12">



        <div class=" clearfix"> 
            <div class="col-xs-6">
      <div class="btn-group pull-left">
             <!-- <button type="button" ng-disabled="rangeSaveProgress" ng-click="saveRanges()" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i></button> -->
              <button type="button" ng-click="showJson('ranges',ranges)" class="btn btn-default" title="Show model data"><i class="glyphicon glyphicon-list-alt"></i></button>

          </div>
        </div>
          <div class="col-xs-3"></div>
          <div class="col-xs-3">
                 <div class="input-group ">
    

                    <input type="text" placeholder="New range name" class="form-control" ng-model="newRangeName">
                    <span class="input-group-btn">
                      <button type="button" ng-click="createRange()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </span>
               </div>
             </div>
         
</div> 


        <div class="panel panel-default" >

 
          <div class="panel-body">
          <div class="input-group input-group-sm" style="margin-bottom:15px;">
            <span class="input-group-addon">Search</span>
            <input type="text" ng-model="rangeNameFilter"  class="form-control" placeholder="Range / model">
          </div>
          
           <div class="btn-form">



              <ul>
                <li class="list-group-item clearfix" ng-repeat="range in ranges | orderBy:'rangeName' | filter: rangeNameFilter">
                  <!--span class="badge">{{range.modelDetails.length}}</span-->
                  <span class="configCode editLink" ng-click="rangeNameform.$show()"
                    editable-text="range.rangeName" e-form="rangeNameform" e-required>
                  {{ range.rangeName }}
                  </span>
                  <button type="button" class="btn  btn-xs btn-default pull-right"  ng-click="deleteRange(range)"><i class="glyphicon glyphicon-remove"></i></button> 

                  <ul>

                    <li class="list-group-item  mini-slide-animation" ng-repeat="model in range.modelDetails | orderBy:'sortOrder'"><i class="glyphicon glyphicon-sort"></i>
                      {{model.name}}  

<div class="pull-right" >


              <div class="btn-group">
                         <button type="button" ng-disabled="$index==0"  ng-click="sortOrder(range,model,'up')" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-arrow-up"></i></button>

                            <button type="button"  ng-disabled="$index==range.modelDetails.length-1"  ng-click="sortOrder(range,model,'down')" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-arrow-down"></i></button>
                
                </div>



<div class="btn-group">
                      <button type="button"  ng-click="unlinkModelFromRange(range,model)" class="btn btn-xs btn-default" title="Remove model from range" ><i class="glyphicon glyphicon-remove"></i></button> 

                         <a title="Edit model"  ui-sref="environment.tabs.models.model({model:model.configCode})" class="btn-xs btn btn-default"><i class="glyphicon glyphicon-edit"></i></a>
                   </div>

                   </div>
                    

                    </li>
                    <li class="list-group-item list-group-item-info" >
                      <select ng-model="currentModel" ng-options="c.originalName for c in Models | orderBy:'name'" >
                        <option value="">-- choose model --</option>
                      </select>
                      <button type="button" class="btn btn-sm btn-default"  ng-click="linkModelToRange(range,currentModel)"><i class="glyphicon glyphicon-plus"></i>
                      </button>

                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  <!--<div class="col-xs-4">







    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Primary Source</h3>
          </div>
          <div class="panel-body">
             <div class="btn-group">
                <div environment-selector which-environment="primary" run-function="rangeService.reset()"/>
            </div>
          </div>
        </div>




        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">New range</h3>
          </div>
          <div class="panel-body">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <di8v class="input-group">
                  <input type="text" placeholder="Range name" class="form-control" ng-model="newRangeName">
                  <br />  <br />
                  <button type="submit" ng-click="createRange()" class="btn btn-sm btn-default"> Create range</button>
                </div>
             
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Developer info</div>
          <div class="panel-body">
            <ul>
              <li><a ng-click="showJson('Model',Model)">Model</a></li>
              <li><a ng-click="showJson('Models',Models)">Models</a></li>
              <li><a ng-click="showJson('ranges',ranges)">ranges</a></li>
              <li><a ng-click="showJson('secScrModels',secScrModels)">secScrModels</a></li>
            </ul>
        
           
          </div>
        </div>
      </div>
    </div>-->
  </div>
