<div class="selectEnvironmentModal">
      <div class="modal-header">
            <h3 class="modal-title">Select a system</h3>
        </div>
        <div class="modal-body">


      <div class="environmentSelector">

           <div class="btn-group-vertical">
                <button  ng-if="parentEnvironment != environment.name" ng-repeat="environment in environments" class="btn btn-default" ng-click="setEnvironment(environment.name)">{{environment.name}}</button>  
                </div>
           
            </div>



        </div>
        <div class="modal-footer">
           

            <button class="btn btn-warning"  ng-click="cancel()">Cancel</button>
           
        </div>
</div>
 