<div class="popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
	<div class="arrow"></div>
	<div class="popover-inner">
		<h3 class="popover-title" ng-bind-html="toTrusted(title)" ng-show="title"></h3>
		<div class="popover-content" ng-bind-html="toTrusted(content)"></div>
	</div>
</div>