
		      				<div class="col-sm-12" >
		      					<h2>Enter your email below to reset your password</h2>
		      					<p>Submitting a password reset request requires you to have 
		      						access to your email. You can enter either your primary or 
		      						secondary email if you set one up.</p>
		      					<p>If you don't have access to your email address please contact customer services.</p>

		      					<input type="text" ng-model="email" placeholder="Email address" />

		      					 <button type="submit" ng-click="resetPassword()" class="btn btn-primary">Reset your password</button>

		      				</div>
		      		
		      		