/* My ShortList Carousel
************************************************************/
/* line 4, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist {
  width: 100%;
  margin-top: 5px;
}

/* line 8, ../../../../apps/shortlist/css/shortlist.scss */
.fixFoot {
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 200;
}

/* line 14, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist a.shotlistBtn {
  background: url(/etc/designs/audi/salmon/images/vehicle-details/updown-arrows.png) no-repeat #626468;
  background-position: 190px 7px;
  border-radius: 5px 5px 0 0;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 12px;
  height: 15px;
  left: 50%;
  margin-left: 275px;
  padding: 5px;
  position: relative;
  width: 200px;
}

/* line 30, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist a.shotlistBtn.up {
  background-position: 190px -11px !important;
}

/* line 34, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .vehicleCarouselHolder {
  background: linear-gradient(to bottom, #626468 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  position: absolute;
}

/* line 38, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist.fixFoot .vehicleCarouselHolder {
  position: relative !important;
}

/* line 42, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .vehicleCarousel,
.carShortlist .vehicleCarousel li {
  background: none;
}

/* line 46, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .vehicleCarousel li.active,
.carShortlist .vehicleCarousel li:hover {
  background: #fff;
}

/* line 49, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .vehicleCarousel li.active:hover {
  background: #5C5C5C;
}

/* line 52, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .vehicleCarousel li.emtpyItem {
  background: url(/etc/designs/audi/salmon/images/vehicle-details/shortlist-empty-slot.png) no-repeat;
}

/* line 55, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li .shortListCnt .btn {
  background-image: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin-top: 0;
  text-shadow: none;
  vertical-align: middle;
  width: 15px;
}

/* line 66, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li .shortListCnt .btn i {
  background: url(/etc/designs/audi/salmon/images/vehicle-details/icons.png) no-repeat top left;
  float: left;
  height: 11px;
  margin: 2px;
  width: 11px;
}

/* non active */
/* line 74, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li .shortListCnt .btn {
  background-color: #676b70;
  border: solid 1px #676b70;
  float: left;
  margin-right: 4px;
}

/* line 81, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li .shortListCnt a:hover .btn,
.vehicleCarousel li .shortListCnt a:focus .btn {
  background-color: #cc0033;
  border: solid 1px #cc0033;
}

/* add*/
/* line 87, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li .shortListCnt .btn i {
  background-position: 0 -13px;
  height: 11px;
  width: 11px;
}

/* remove */
/* line 89, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li .shortListCnt.remove .btn i {
  background-position: 0 0;
  height: 11px;
  width: 11px;
}

/* shortlist text */
/* line 94, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li .shortListCnt a {
  color: #fff;
}

/* line 95, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li:hover .shortListCnt a {
  color: #41464c;
}

/* line 97, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li .shortListCnt a:hover,
.vehicleCarousel li .shortListCnt a:focus {
  color: #cc0033;
}

/* line 98, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .vehicleCarousel li .shortListCnt a {
  color: #000;
}

/* line 100, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .vehicleCarousel li .shortListCnt a:hover,
.vehicleCarousel li .shortListCnt a:focus {
  color: #cc0033;
}

/* active*/
/* line 103, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li.active .shortListCnt .btn {
  background-color: #cc0033;
  border: solid 1px #cc0033;
}

/* line 107, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li.active .shortListCnt a {
  color: #41464c;
}

/* line 108, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li.active:hover .shortListCnt a {
  color: #fff;
}

/* line 110, ../../../../apps/shortlist/css/shortlist.scss */
.vehicleCarousel li.active .shortListCnt a:hover,
.vehicleCarousel li.active .shortListCnt a:focus {
  color: #cc0033;
}

/* line 111, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .vehicleCarousel li.active .shortListCnt a {
  color: #41464c;
}

/* line 113, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .vehicleCarousel li.active .shortListCnt a:hover, .vehicleCarousel li.active .shortListCnt a:focus {
  color: #cc0033;
}

/* line 115, ../../../../apps/shortlist/css/shortlist.scss */
.shortlistAction {
  width: 140px;
}

/* microfiche carousel plugin styles
************************************************************/
/* line 119, ../../../../apps/shortlist/css/shortlist.scss */
.microficheButton {
  /*  background:#41464c; */
  border-radius: 0px;
  cursor: pointer;
  display: block;
  height: 190px;
  padding: 3px;
  position: absolute;
  top: 0px;
  width: 15px;
}

/* line 130, ../../../../apps/shortlist/css/shortlist.scss */
.microficheButton i {
  background: url(/etc/designs/audi/salmon/images/vehicle-details/carouselNav.png) no-repeat top left;
  display: block;
  position: relative;
  top: 98px;
}

/* line 137, ../../../../apps/shortlist/css/shortlist.scss */
.microfichePrevButton i {
  background-position: 0 0;
  height: 17px;
  width: 11px;
}

/* active*/
/* line 138, ../../../../apps/shortlist/css/shortlist.scss */
.microfichePrevButton.notActive i {
  background: none;
  background-position: 0 -38px;
  height: 17px;
  width: 11px;
}

/* unactive*/
/* line 139, ../../../../apps/shortlist/css/shortlist.scss */
.microfichePrevButton:hover i, .microfiche-prev-button:focus i {
  background-position: 0 -19px;
  height: 17px;
  width: 11px;
}

/* active Hover */
/* line 140, ../../../../apps/shortlist/css/shortlist.scss */
.microfichePrevButton.notActive:hover i {
  background: none;
  background-position: 0 -114px;
  height: 17px;
  width: 11px;
}

/* unactive hover */
/* line 142, ../../../../apps/shortlist/css/shortlist.scss */
.microficheNextButton i {
  background-position: 0 -57px;
  height: 17px;
  width: 11px;
}

/* active*/
/* line 143, ../../../../apps/shortlist/css/shortlist.scss */
.microficheNextButton.notActive i {
  background: none;
  background-position: 0 -95px;
  height: 17px;
  width: 11px;
}

/* unactive*/
/* line 144, ../../../../apps/shortlist/css/shortlist.scss */
.microficheNextButton:hover i, .microfiche-next-button:focus i {
  background-position: 0 -76px;
  height: 17px;
  width: 10px;
}

/* active Hover */
/* line 145, ../../../../apps/shortlist/css/shortlist.scss */
.microficheNextButton.notActive:hover i {
  background: none;
  background-position: 0 -133px;
  height: 17px;
  width: 11px;
}

/* unactive hover */
/* line 147, ../../../../apps/shortlist/css/shortlist.scss */
.microfichePrevButton {
  left: 0px;
}

/* line 148, ../../../../apps/shortlist/css/shortlist.scss */
.microficheNextButton {
  right: 0px;
}

/* line 150, ../../../../apps/shortlist/css/shortlist.scss */
.infoNavBlock {
  display: block;
  width: 970px;
}

/* line 158, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .ng-enter, .carShortlist .ng-leave {
  /*position: absolute; */
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* line 168, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .ng-enter {
  opacity: 0.1;
  /*-webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5); */
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* line 178, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .ng-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 185, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 193, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .ng-leave-active {
  opacity: 0.1;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* This makes the transitions happen over the top of one another */
/* line 201, ../../../../apps/shortlist/css/shortlist.scss */
.carShortlist .ng-leave {
  /*position: absolute; */
}
