/* line 3, ../../../../apps/finance-calculator/css/financeCalculator.scss */
#appFinanceCalc {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 13, ../../../../apps/finance-calculator/css/financeCalculator.scss */
#appFinanceCalc .centering1 {
  display: table;
  margin: 0 auto;
  height: 100%;
}
/* line 18, ../../../../apps/finance-calculator/css/financeCalculator.scss */
#appFinanceCalc .centering2 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  box-sizing: content-box;
  white-space: nowrap;
}
/* line 26, ../../../../apps/finance-calculator/css/financeCalculator.scss */
#appFinanceCalc .box {
  white-space: normal;
  border: 0;
  /* background: #ffffff url('../img/background-blur.jpg') no-repeat top center fixed;-  Moved inline for CMS reasons */
  border-radius: 6px;
  position: relative;
  max-width: 600px;
  margin: 0 auto 0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
  color: #222;
  /* min-height:400px; */
  width: 600px;
}

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
/*

.well[ui-view]{
 height: 65px; 
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;

  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}
*/
/*
*/
/* line 104, ../../../../apps/finance-calculator/css/financeCalculator.scss */
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

/* line 115, ../../../../apps/finance-calculator/css/financeCalculator.scss */
.has-spinner.active {
  cursor: progress;
}

/* line 119, ../../../../apps/finance-calculator/css/financeCalculator.scss */
.has-spinner.active .spinner {
  opacity: 1;
  width: auto;
  /* This doesn't work, just fix for unkown width elements */
}

/* line 124, ../../../../apps/finance-calculator/css/financeCalculator.scss */
.has-spinner.btn-mini.active .spinner {
  width: 10px;
}

/* line 128, ../../../../apps/finance-calculator/css/financeCalculator.scss */
.has-spinner.btn-small.active .spinner {
  width: 13px;
}

/* line 132, ../../../../apps/finance-calculator/css/financeCalculator.scss */
.has-spinner.btn.active .spinner {
  width: 16px;
}

/* line 136, ../../../../apps/finance-calculator/css/financeCalculator.scss */
.has-spinner.btn-large.active .spinner {
  width: 19px;
}

/* @import "modules/_loginBox.scss"; */
