.page-load-trans .top-car img {
  width: 950px;
  height: 335px;
  opacity: 1;
}
.page-load-trans .top-car-catchphrase img {
  opacity: 1;
}
#navigation {
  opacity: 1;
}
.page-load-trans .sticky-nav > ul {
  opacity: 1;
}