/* Stylesheet for the page Audi TT 2014 */
/* Created by Liran Harary, between 25.09.2014 - 6.11.2014 */

/* Colour definitions START */
$black: #000;
$grey: #969FA4;
$darkgrey: #666;
$darkergrey: #555;
$darkerstillgrey: #444;
$darkestgrey: #222;
$lightgrey: #888;
$lightergrey: #aaa;
$pink-red: #CB0033;
$opacity-for-whites: 0.9;
/* Colour definitions END */

body {
	background-color: $black !important;
	h1, .h1, h2, .h2, h3, .h3, h4, .h4 {font-family:'audiType_extended_normal';}
	h1 span, h2 span {
		position: unset;
		left: auto;
	}
	small {
		padding-left: 0;
	}
}

.audi-loader {
	position: absolute;
	z-index: 1;
	width: 80px;
	height: 28px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

#navigation {
    position: relative;
    z-index: 1;
	opacity: 0;

	&.faded-in {
		opacity: 1;
      	transition: opacity 1s;
		transition-delay: 1s;
	}

	#top-nav dd.tab a {
		background-image: url("../../images/header/spr-topnav.png");
	}
}

.audi-section {
	border-bottom: 1px solid $darkestgrey;
}

/* The following rule "pushes" section2 down so it wouldn't "peek" before the padding-top is set by
the JS (script.js).
The padding-top is defined twice in here because IE8 does not support using "vh". */
.section1 {
	padding-top: 1500px;
	padding-top: 95vh;
}

#drive {
	border-bottom: none;
}

.container {
	padding-bottom: 100px;
}

#drive .container {
	padding-bottom: 20px;
}

.separated-fragment {
	margin-top: 70px;
}

.section1-top-car-wrapper {
	position: absolute;
	width: 950px;
	height: 335px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.top-car img, .top-car-catchphrase img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-load-trans {
	.top-car img {
	    transition: all 1s;
	    transform: scale(0.8);
		opacity: 0;
	}
	&.faded-in .top-car img {
		transform: scale(1);
		opacity: 1;
	}

	.top-car-catchphrase img {
		transition: all 1s;
		transition-delay: 0.5s;
		opacity: 0;
	}
	&.faded-in .top-car-catchphrase img {
		opacity: 1;
	}

	.sticky-nav > ul {
		transition: opacity 1s;
		transition-delay: 1s;
		opacity: 0;
	}
	&.faded-in .sticky-nav > ul {
		opacity: 1;
	}
}

.top-car {
	width: 950px;
	height: 335px;
}

.top-car-catchphrase {
	margin-top: 10px;
	width: 349px;
	margin-left: auto;
	margin-right: auto;
}

.top-car-catchphrase a {
	display: inline-block;
}

.sticky-nav {
	min-width: 650px;
	ul {
		max-width: 1400px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		width: 100%;
		padding-left: 10px;
		padding-right: 5px;
	}

	> ul {
		padding-top: 7px;
		padding-bottom: 7px;
	}

	li {
		display: inline-block;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		margin-right: 20px;
		vertical-align: top;
	}

	.sticky-nav-last2 {
		float: right;
		margin-right: 0;
	}

	.sticky-nav-range {
		margin-right: 20px;
		top: 4px;
	}
	/* The following has been removed and done using a different method, in order to support IE8 */
	/*li:nth-last-of-type(1) {
		margin-right: 0;
	}*/
	> ul > li:first-child {
		margin-right: 15px;
		vertical-align: bottom;
	}

	ul > li > a {
		padding: 0;
		text-decoration: none;
		color: $grey;
		font-weight: normal;
	}

	ul > li > a:hover {
		color: #fff;
		opacity: $opacity-for-whites;
		background-color: transparent;
	}

	ul > li > a:focus, ul > li > a:active {
		background-color: transparent;
	}

	li.active a {
		color: #fff;
		opacity: $opacity-for-whites;
		outline: 0;
	}

	a[type=button] {
		font-size: 14px;
		padding: 2px 20px;
		color: #fff;
	}
	a[type=button]:hover {
		opacity: 1;
	}
}

.sticky-nav-last2 li {
	margin-right: 0;
}

.sticky-nav-textual {
	position: relative;
	top: 5px;
}

.sticky-nav.affix {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $black;
	z-index: 2;
	border-bottom: 1px solid $darkerstillgrey;

}

#section1 .sticky-nav-last2:hover {
	color: inherit;
}

.section-top-spotlight {
	text-align: center;
}

.section-slogan {
	text-align: center;
	color: #fff;
	opacity: $opacity-for-whites;
	margin-top: -50px;
	font-size: 40px;
	margin-bottom: 53px;
}

.section-slogan small {
	display: block;
	font-size: 18px;
	color: $grey;
	margin-top: 13px;
}

.section-sub-slogan {
	text-align: center;
}

.h1-span-and-small-up-trans {
	h1 span, small {
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		opacity: 1;
		position: relative;
		top: 0;
	}
	small {
		transition-delay: 0.1s;
	}

	&.transitioned-out h1 span, &.transitioned-out h1 small {
		top: 20px;
		opacity: 0;
	}
}

.img-fade-and-text-up-trans {
	h3, p, img, iframe {
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		opacity: 1;
	}
	h3, p  {
		position: relative;
		top: 0;
	}
	img, iframe {
		transform: scale(1);
	}
	h3 {
		transition-delay: 0.2s;
	}
	p {
		transition-delay: 0.3s;
	}

	&.transitioned-out h3, &.transitioned-out p {
		top: 20px;
		opacity: 0;
	}
	&.transitioned-out img, &.transitioned-out iframe {
		opacity: 0;
		transform: scale(0.8);
	}
}

.h2-h3-and-p-up-trans {
	h2, h3, p {
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		opacity: 1;
		position: relative;
		top: 0;
	}
	p {
		transition-delay: 0.1s;
	}

	/*&.transitioned-out h2, &.transitioned-out p*/
	h2.transitioned-out, h3.transitioned-out, p.transitioned-out {
		top: 20px;
		opacity: 0;
	}
}

.container h2, .container h3 {
	color: #fff;
	opacity: $opacity-for-whites;
}

.container h2 {
	font-size: 22px;
}

.container h3 {
	font-size: 18px;
}

.audi-section p {
	color: $grey;
	font-size: 13px;
	line-height: 17px;
	font-family: "audiType_normal", Verdana, Geneva, sans-serif;
}

/* The "!important" is used in order to override another "!important" rule */
.audi-section a {
	font-family: "audiType_normal", Verdana, Geneva, sans-serif !important;
}

.img-fade-and-text-left-trans {
	h2 {
		position: relative;
		-webkit-transition: all 0.5s;
   		transition: all 0.5s;
	}
	.trans-p-div {
		-webkit-transition: all 0.8s;
   		transition: all 0.8s;
	}
	h2.even, .trans-p-div.even {
   		left: 0;
	}
	h2.odd, .trans-p-div.odd {
   		right: 0;
	}

	&.transitioned-out h2.even {
		left: 10px;
	}
	&.transitioned-out .trans-p-div.even {
		left: 25px;
	}
	&.transitioned-out h2.odd {
		right: 10px;
	}
	&.transitioned-out .trans-p-div.odd {
		right: 25px;
	}
	&.transitioned-out h2, &.transitioned-out .trans-p-div {
		opacity: 0;
	}

	img {
		-webkit-transition: all 0.2s;
   		transition: all 0.2s;
   		transition-delay: 0.4s;
   		opacity: 1;
   		transform: scale(1);
	}
	img.transitioned-out {
		opacity: 0;
		transform: scale(0.9);
	}
}

.h2-small-block-row h3 {
	font-size: 18px;
	line-height: 40px;
	margin-bottom: 10px;
}

.h2-small-block-row h3 small {
	display: block;
	font-size: 13px;
	color: #fff;
	opacity: $opacity-for-whites;
}

.alternating-img-and-text-div-textual-col {
	margin-top: 110px;
}

.section3-bottom-2-images-row {
	margin-top: 110px;
}

.section3-top2-images-row p, .section3-top2-images-row h2 {
	padding-left: 10px;
}

.section3-bottom-2-images-row h3 {
	margin-top: 20px;
	margin-bottom: 15px;
}

.section3-visible-innovation-row h2 {
	font-size: 26px;
}

.section4-top-slogan {
	margin-bottom: 0;
}

.section4-alternating-img-and-text-grid {
	margin-top: -20px;
}

.tt-reveal-outline-div {
	position: relative;
}

.tt-reveal-outline {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin: auto;
}

.tt-outline-hidden {
	display: none;
}

img {
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
}

.img-fade-and-right-trans {
	-webkit-transition: all 1s;
	transition: all 1s;
	opacity: 1;
	position: relative;
	right: 0;
	
	&.transitioned-out {
		opacity: 0;
		right: 20px;
	}
}

.section4-experice-tt-row .section-slogan {
	margin-top: 20px;
	margin-bottom: 40px;
}

#drive .post-reveal .container {
	padding-bottom: 0;
}

.section4-bottom-row {
	margin-top: 40px;
	margin-bottom: 40px;
}

.section4-bottom-row img {
	margin-right: 20px;
}

#drive .section4-bottom-row-img {
	margin-top: 0;
}

.section4-bottom-row a {
	text-decoration: none;
	color: #fff;
	opacity: $opacity-for-whites;
	vertical-align: middle;
	font-size: 14px;
}

.section4-bottom-row a:hover {
	opacity: 1;
	text-decoration: underline;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;	
	border-left: 6px solid #d6003c;
	display: inline-block;
	vertical-align: middle;
}