@import "../../../../../global/styles/scss/partials/_includesForApps";

#addCar {
	.buttonMargins div > button:first-child {
		margin-right:10px;
	}
	.carReg,
	#myaudi-addcar-postcode-validation {
		text-transform:uppercase;
	}
	.formGroupRemoveMargins {
		margin-bottom:0px;
	}
	.accessibility {
		position:absolute; //Hidden for accessibility - needs to be confirmed
		left:-99999px;
	}
	#addCar-carSecondSearch {
		.modal-body {
			margin-bottom:20px;
		}
	}
}
#addCar-carFound,
#addCar-confirmOwnership,
#addCar-companyCar,
#error-carOnAccount
 {
	h2 {
		margin-bottom:10px;
	}
	.modal-body {
		h3 {
			> span:first-child {
				display:inline-block;
				margin-bottom:5px;
			}
		}
	}
}
#addCar-loading,
#centre-search-loading {
	.modal-body {
		padding:90px 30px 120px 30px;;
	}
}

#myaudi-carLookup-registration,
#myaudi-carLookup-postcode,
#myaudi-addOrder-postcode,
#myaudi-postcodeForm-postcode {
	text-transform: uppercase;
	
}