#dashboard .carSummary,
.carSummary {
	overflow: hidden;
	.panel-body {
		padding:30px;
		h2 {
			color: #222222;
			font-family:"audiType_extended_bold";
		}	
	}

	.panel-body:first-child {
		background: url("/etc/audi-ui/apps/myAudi/img/chequerboard.png") no-repeat;
		background-size:100%;
	}
	.carModel{
		font-size:26px;
	}
	.carImageHolder {
		height: 190px;
		img {
			max-height: 250px;
			max-width: 620px;
			margin-left: -40px;
		}
	}
	.carDetails {
		// padding-bottom:0;			
		.col-xs-4 {		
			border-left:1px solid #DDD;
			padding-left:20px;	

			> a {
				@include myAudiDefaultGreyText;
			}
			a.changeCentre {
				font-size:12px;
				margin-left:6px;
			}	
			a:hover {
				color:#BE1331;
			}			
		}
		.col-xs-4:first-child {
			border-left:none;
			padding-left:10px;
		}
		h3 {
			display:inline-block;
			margin-bottom:7px;
			@include myAudiDefaultGreyText;
		}
		strong {
			display:inline-block;
			font-family:"audiType_extended_bold";
			font-size:18px;
			margin-bottom:7px;				
			color:$headings-color;
			> span {
				color:$headings-small-color;
				font-size:13px;
				margin-left:-6px;
			}
		}			
	}
	.carServiceDue {
		p {
			background-color:#F2F2F2;
			border-left:4px solid #BE1331;
			margin:10px 0;
			padding:15px;
		}
	}
}

.registrationPlate {
	border:1px solid #DDD;
	border-radius:5px;
	color: #222222;
	height:35px;
	position:relative;
	width:170px;
	> div {
		border-left:20px solid #3368B2;
		border-radius:4px;
		font-family: "audiType_extended_bold";
		font-size: 18px;
		height:34px;
		padding: 4px 0 0 10px;
	}
}		

