#dashboard {

	padding-bottom: 30px;

	h1 span { 
		color: $audi-red-color;
		position: initial !important; 
		}
	h2 {
		color: $text-color-secondary;
		font-family: 'audiType_extended_normal';
		margin-bottom: 40px;
	}

	.module {
		border:solid 1px #D3D7D8;
		@include border-radius(5px, 5px);
		@include box-shadow(#ccc 0px 0px 10px);		
	}

	.module.narrow {
		.module-header {
			display: table;
			width: 100%;
			.heading {
				display: table-cell;
				height: 60px;
				margin: 0;
				text-align: center;
				vertical-align: middle;

			}
		}
		.module-content {
			padding:50px 50px 20px 50px;
			background:url('/etc/audi-ui/apps/myAudi/img/chevron-fade-down.jpg') no-repeat 0 top;
		}
	}

	.module.wide {
		padding: 20px;
		.form-group {
			margin: 0;
		}
		.module-header {
			padding-top: 30px;
		}
		.btn-submit {
			margin-top: 24px;
		}
	}

	.module-add-order,
	.module-add-car {
		&.narrow {
			.module-content {
				min-height: 300px;
			}
		}
	}

	.orderUnknown {
		font-size: 11px;
	}

	.divider {
		display: block;
		width:50px;
		height:50px;
		margin: 0 auto;
		line-height:50px;
		text-align: center;
		color:#fff;
		background:#333;
		@include border-radius(50px, 50px);
	}

	.formGroupRemoveMargins {
		margin-bottom:0px;
	}
	.accessibility {
		position:absolute; //Hidden for accessibility - needs to be confirmed
		left:-99999px;
	}
	.row-centered {
		display:table;
		width:100%;
	}
	.col-centered {
		display: table-cell;
		margin-top: 135px;
	}

}

@mixin regInput {
	font-size:20px;
	font-style:normal;
	font-weight:bold;
	letter-spacing:3px;
}

#myaudi-carLookup-registration {
	border-left:20px solid #3368B2;
	border-radius:6px;
	@include regInput;

	&.form-control {
		padding:0 0 0 10px;
	}
	&::-webkit-input-placeholder {
		@include regInput;
	}

	&:-moz-placeholder {
		@include regInput;
	}

	&::-moz-placeholder {
		@include regInput;
	}

	&:-ms-input-placeholder {
		@include regInput;
	}
}
