#manageOrder {
	.orderHeader {
		text-align:center;
		.socialIcons {
			position:absolute;
			right:61px;
			top:0px;
			p{
				color:#888;
				margin-bottom:10px;
			}
		}
	}
	h2 {
		font-size:24px;
	}
	h3 {
		display:inline-block;
		font-size:14px;
		margin:20px 0 10px;
		span {
			font-size:13px;
		}
	}
	.orderJourney {
		margin-top: 35px;

		.tabs {
			padding:15px 15px 0 15px;
			.indicator{
				// background: url("/etc/audi-ui/apps/myAudi/img/managecar-inidcator.png") no-repeat scroll center center rgba(0, 0, 0, 0);
			    display: block;
			    height: 38px;
			    left: 131px;
			    margin: 20px 25px;
			    position: absolute;
			    top: -45px;

			    transition: left 0.8s linear 0s;
			    z-index: 1;

			    img {
			    	width: 100%;
			    }
			}
			li {			
				float:left;
				position:relative;
				text-align:center;
				width:131px;

				a {
					background: url("/etc/audi-ui/apps/myAudi/img/arrow-right.png") no-repeat right center;
					display:block;
					padding:10px 0;
					text-decoration:none;
				}
			}
			li:last-child a {
				background:none;
			}
			.currentStep {
				a{
					color:black;
				}
			}
		}	
		.tabs:after {
			content:'';
			clear:both;
			display:block;
		}
		.manageOrderPadding {
			padding:50px;
		}
		.cq5ContentPadding {
			padding:50px 0;
		}
		.breadcrumbLinks a {
			color:$headings-color;
		}
		.backToMyAudi:before {
			border-color: transparent #888;
		    border-style: solid;
		    border-width:4px 4px 4px 0;
			content: "";
		    display: inline-block;
		    margin-right:10px;
		}
		.backToMyAudi:hover:before {
			border-color:transparent $audi-red-color;
		}
		.cq5Content {
			h4{
				font-size:26px;
			}
			h5 {
				font-size:18px;
			}
			.contentBorder {
				border-top:1px solid #D8D8D8;
				padding-top:10px;
			}
			.imgWidth {
				width:100%;
			}
			.contentIndent {
				margin-left:25px;
			}
			.topContentMargin {
				margin-top:15px;
			}
			> div.row:last-child {
				padding-top:0;
			}
		}
		.brochureInfo {
			margin-top:15px;
			.panel-body {
				background-color:#F1F1F1;
				padding-bottom:53px;
				.col-xs-6 {
					> img {
						position:absolute;
						left:38px;
						top:0px;
						transform:rotate(-8deg);
					}
					> div {
						margin-left:195px;
					}
				}
				.col-xs-6:first-child {
					> img {
						transform:rotate(8deg);
					}
				}
				a {
					color:#888;
				}
				a:hover {
					color:$audi-red-color;
				}
				p {
					font-size:17px;
				}
				h5{
					font-size:13px;
					margin-bottom:10px;
				}
				.downloadAppLink {
					margin-right:7px;
				}
			}
		}
		.carDetails {
			h4 {
				font-size:18px;
			}
			position:relative;
			> img {
				position:absolute;
				right:20px;
				top:16px;
			}
			.carPerformance {
				border:1px solid #D1D1D1;
				border-width:1px 0;
				padding-bottom:15px;
				padding-top:15px;
				.col-xs-3 {			
					h4{
						margin:10px 0;		
					}
				}
				li {
					border-right:1px solid #DDD;	
					text-align:center;
					width:150px;
					> span:first-child {
						font-family:"audiType_extended_bold";
						font-size:18px;
					}
				}
				li:first-child {
					border-left:1px solid #DDD;
				}
			}
			.carConfiguration {
				padding-bottom:30px;
				padding-top:20px;
				h4 {
					span {
						color:#888;
						font-size:13px;
						font-weight:bold;
					}
				}
				dt, dd {
					float:left;
				}
				dt {
					clear:left;
					font-weight:normal;
				}
			}
		}
	}	
	


	.fade {
		transition: opacity 1s linear 0s;
	}
}