#manageCar {
	.panel-body {
		padding:30px;
	}
	.breadcrumbLinks a {
		color:$headings-color;
	}
	.backToMyAudi:before {
		border-color: transparent #888;
	    border-style: solid;
	    border-width:4px 4px 4px 0;
		content: "";
	    display: inline-block;
	    margin-right:10px;
	}
	.backToMyAudi:hover:before {
		border-color:transparent $audi-red-color;
	}
	
	.carPerformance {
		.col-xs-3 {			
			h2{
				margin:10px 0;		
			}
		}
		li {
			border-right:1px solid #DDD;	
			text-align:center;
			width:150px;
			> span:first-child {
				font-family:"audiType_extended_bold";
				font-size:18px;
			}
		}
		li:first-child {
			border-left:1px solid #DDD;
		}
	}		
	.table-striped > tbody {
		tr:nth-child(odd) > th {
			background-color:#DCE0E1;
			font-weight:normal;
		}
		tr:nth-child(odd) > td {
			background-color:#DCE0E1;
		}
		tr:nth-child(even) > th {
			background-color:#EDEFF0;
			font-weight:normal;
		}
		tr:nth-child(even) > td {
			background-color:#EDEFF0;
		}
	}
	.lightgrey {color:$headings-small-color}
	.audiWarranty {
		> span:first-child {
			margin-right:20px;
		}
	}
	.extraWarranty {
		background-color:#e5e9ea;
		padding-left:25px;
		padding-right:25px;
		> a {
			font-size:15px;
			color:$headings-color;
		}
		> a:hover {
			color:#BE1331;
		}		
	}
	.carConfiguration {
		h2 {
			span {
				color:#888;
				font-size:13px;
			}
		}
		dt, dd {
			float:left;
		}
		dt {
			clear:left;
			font-weight:normal;
		}
	}
	
	.glyphicon-chevron-down,
	.glyphicon-chevron-up {
		cursor:pointer;
		margin-right:15px;
	}
	.audiDifference {
		> span {
			text-decoration:underline;
			> span {
				color: #BE1331;
			}
		}
	}
}

/* Update Mileage */
.updateMileage {
	.warningMessage {
		margin-top:20px;
	}	
	.modal-body {
		padding-top:0;
		p {
			margin-bottom:10px; 
		}
	}
}
.accessibility {
	position:absolute; //Hidden for accessibility - needs to be confirmed
	left:-99999px;
}
img.loader {
	position : relative;
}
img.loader.fade {
	transition: opacity 0s linear;
}
img.loader.fade.in{
	transition: opacity 0.15s linear;
}

/* Locate Centre */

.locateCentrePopup {
	.modal-sm {
		width:400px;
	}
	.modal-md {
		width:700px;
	}
	.modal-lg {
		width:950px;
	}
	h4 {
		margin-top:3px;
	}
	h5 {
		margin:0;
	}
	h6 {
		font-weight:bold;
	}
	.location-search-form,
	.new-location-search-form {
		button {
			margin-left:7px;
			margin-top:-4px;
		}
		input {
			display:inline-block;
			width:auto;
		}
	}

	#results{
		h3 {
			margin-left:8px;
		}
		.modal-header {
			
			h3 {
				line-height: 150%;
				margin-right: 20px;
				max-width: 80%;
				i {
					margin-right: 10px;
					margin-left: -27px;
				}
			}
		}
		.modal-body {
			padding-top:0px;
			ul {
				margin-bottom:0px;
			}
		}
		.modal-footer {
			border-top:none;
		}
		li.list-group-item {
			border-left: 0px;
			border-right: 0px;
		}
		.buttonMargins div > button:first-child {
			margin-right:7px;
		}
		h4{
			margin-bottom:5px;
			margin-top: 25px;			
		}
		.centreButtons {
			margin:15px 0;
		}
		.miles{
			margin:10px 0;
			text-align:center;
			h4 {
				margin-top: 0px;			
			}
		}
		.chevronRight {
			background: url("/etc/audi-ui/apps/myAudi/img/arrow-right.png") no-repeat left center;
			display:inline-block;
			height:39px;
			margin-top:3px;
			width:12px;
		}
		.centreDistance {
			display:inline-block;

		}
		.inputError {
			display:inline-block;
			vertical-align:top;
		}
		.new-location-search-form {
			.form-group {
				display: inline-block;
				vertical-align: middle;
			}
			.locationLabel{
				font-size: 16px;
				margin:8px 7px 0 0;	
				vertical-align:top;
			}
			.warningMessage {
				display:block;
				width:280px;
			}
		}
		.audi-loader {
			margin:auto;
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			top:0;
		}
	}
	#details {			
		.centreContact {
			h3 {
				font-size:13px;
				margin-bottom:5px;
				font-family:"audiType_normal";		
			}
			strong {
				font-size:15px;
			}
		}
		.centreTelephone {
			h3 {
				display:inline-block;
			}
			h4 {
				margin-bottom:5px;
			}
		}
		.centreEmail a {
			word-wrap:break-word;
		}
		.openingHours li > span {
			display:inline-block;
			width:35%;
		}
		.Closed {
			background-color:#CCCCCC;
			color:#FFFFFF;
		}
		.Open.now {
			background-color:#6CA555;
			color:#FFFFFF;
		}
		.storeOpenOrClosed {
			border-radius:5px;
			display:inline-block;
			margin-left:7px;
			padding:5px 10px;
		}
		#map-canvas {
			height: 200px;
		}
		.directions {
			bottom: 15px;
		    position: absolute;
		    right: 15px;
		    z-index: 1;
		}
	}
}

.previousCar,
.removeCar {
	.group {
		padding:10px;
		max-width:370px;
		margin:auto; 
	}
	.modal-body{
		padding-bottom:0px;
	}
	.registrationPlate,
	.carModel {
		display: inline-block;
		font-size:20px;
		margin: 20px 0 20px 17px;
	}
}
