#messages {
	
	ul.messageList {
		list-style :none;
		padding: 0;
		overflow: hidden;
		border-bottom:1px solid #D8D8D8;

		li:first-child {
			padding:0 15px;
			color:$text-color-secondary			
		}
		li:first-child span {padding-left:30px}
		li:first-child span:hover {cursor:pointer}
	}

	.message-section {
	
		h4, input {margin:0}

		.message-body {
			margin-top:25px;
			margin-bottom:15px;
		}

		.col-xs-1,
		.col-xs-2,
		.col-xs-9 {
			padding-top:10px;
			padding-bottom:10px;
			border-top:1px solid #D8D8D8;
		}		

	}

	.message-section:hover {cursor:pointer}
	.message-unread {
		background:#ebeff0;
		border-left:solid 5px $audi-red-color;
	}
	.message-viewed:hover {background:#F2F4F4}
	.message-unread:hover {background:#DCE0E1}
	
	.message-unread:hover h4,
	.message-unread:hover span,
	.message-viewed:hover h4,
	.message-viewed:hover span {color:$audi-red-color}

	.message-viewed,
	.message-viewed h4,
	.message-viewed span {color:$text-color-secondary}
	
	.message-viewed {
		border-left:solid 5px #fff;
		background:#fff;

		h4 {font-family:audiType_normal}
	}

	.message-flagged {color:$audi-red-color}

	i {cursor:pointer}
	.glyphicon-trash {font-size:17px}	
	.checkboxes-partially-selected {margin:10px}

}