.myAccount {

	h3,
	address {
		margin-bottom: 0;
	}

	.section {
		border-top: solid 1px #D3D7D8;
		padding: 10px 0 30px 0;
		label {
			display: block;
		}
	}
	.cursor-no-pointer{
	 	cursor:default !important;
	}

	.activeSection {
		background: $module-bg;
		padding: 10px 0 10px 0;
	}

	.cancelEdit {
		margin-left: 20px;
	}

	.checkbox-inline {
		margin-right: 30px;
	}

	.form-control-title {
		width: 50%;
	}

	.password-popover-content {
		min-width: 200px;
		h3 {
			font-size: 15px;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 10px;
		}
		.glyphicon-remove {
			color: $state-danger-text;
		}
		.glyphicon-ok {
			color: $state-success-text;
		}
	}

	#profile-dob-month-col {
		padding: 0;
	}
	
}
