    	 #map_canvas {
            height: 450px;
            width:100%;
            margin: 0px;
              position: relative;
        }


        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }