.navigation {background:$module-bg}
.navigation .caret {margin-right:7px}
.navigation .active {border-right:solid 5px $audi-red-color}

.navigation dt,
.navigation dd a {
	padding-top:10px;
	padding-bottom:10px;
	padding-right:7px;
	border-bottom:solid 1px #D3D7D8;
	text-decoration:none;
}
.navigation dt {
	padding-left:7px;
}
.navigation a {
	padding-left:40px;
	display:block;
}
.navigation a:hover {background:#DFE3E4}