#dashboard .orderSummary,
.orderSummary {
	
	.panel-body {
		padding: 30px;
		h2 {
			color: #222222;
		    font-family: "audiType_extended_bold";
		    margin-bottom: 20px;
		}
	}
	.orderInfo {
		background-color:#F1F1F1;
		.orderRef {
			border-left:1px solid #D1D1D1;
			padding-left:25px;
			p {
				background-color:#FFF;
				border:1px solid #DBDBDB;
				border-radius:10px;
				padding:10px;
				width:245px;
			}
		}
		img {
			width: 100%;
		}
		h3 {
			 margin: 20px 0 10px;
		}
	}
}
