@import "../../../../global/styles/scss/partials/_includesForApps";
.genInvestigationText{width:100%;
 height:200px}
 .white{background-color:#fff}
#osb
{

input.btn{
	text-indent:0px;
}
.nopadding-right{
	padding-right:0  !important;
 }
.nopadding-left{
	padding-left:0  !important;
 }

.nopadding{
	padding:0  !important;
 }


.nomargin-right{
	margin-right: 0  !important;
 }
.nomargin-left{
	margin-left: 0  !important;
 }

.nomargin{
	margin: 0  !important;
 }


	.grey{
		background-color:#EBEFF0;
	}



a.accordion-toggle{ text-decoration:none;}
	

.selectCentre{
		.miles{
			margin:4px 0 0 0;
			text-align:center;
			h4 {
				margin-top: 0px;	
				margin-bottom: 0;		
			}
		}
		.dealersName{ padding-top: 13px;
						margin-bottom: 0;}
						.centreButtons{margin:4px 0 0 0;}
		.chevronRight {
			background: url("/etc/audi-ui/apps/myAudi/img/arrow-right.png") no-repeat left center;
			display:inline-block;
			height:39px;
			margin-top:3px;
			width:12px;
		}
		.centreDistance {
			display:inline-block;

		}
}


.summary-panel
	{  
		width:223px;
		margin-top: 39px;

		&.affix {
		    /*position:fixed; */
		       top: 0px;
		}
	}


.registrationrPlate{
border-left: 20px solid #3368B2;
border-radius: 6px;
font-size: 20px;
font-style: normal;
font-weight: bold;
letter-spacing: 3px;
text-transform: uppercase;
padding: 0 0 0 10px;
}


.wizardSteps {
		margin-top: 35px;

		.tabs {
			padding:15px 15px 0 15px;
			/*.indicator{
				// background: url("/etc/audi-ui/apps/myAudi/img/managecar-inidcator.png") no-repeat scroll center center rgba(0, 0, 0, 0);
			    display: block;
			    height: 38px;
			    left: 131px;
			    margin: 20px 25px;
			    position: absolute;
			    top: -45px;

			    transition: left 0.8s linear 0s;
			    z-index: 1;

			    img {
			    	width: 100%;
			    }
			}*/
			li {			
				float:left;
				position:relative;
				text-align:center;
				margin-left:20px;
				background: url("/etc/audi-ui/global/img/arrow-right-tran.png") no-repeat right center;
				&.currentStep {
								a, span{
								border-bottom:2px solid $audi-red-color;
							font-family:"audiType_bold", Verdana, Geneva, sans-serif;
							    }	
						}
				a, span {
					
					display:block;
					padding:10px 0;
					text-decoration:none;
					margin-right: 30px;

				}
			}
			li:last-child a {
				background:none;
			}
			
		}	
		.tabs:after {
			content:'';
			clear:both;
			display:block;
		}
		.manageOrderPadding {
			padding:50px;
		}
		.cq5ContentPadding {
			padding:50px 0;
		}
		.breadcrumbLinks a {
			color:$headings-color;
		}
		.backToMyAudi:before {
			border-color: transparent #888;
		    border-style: solid;
		    border-width:4px 4px 4px 0;
			content: "";
		    display: inline-block;
		    margin-right:10px;
		}
		.backToMyAudi:hover:before {
			border-color:transparent $audi-red-color;
		}
		.cq5Content {
			h4{
				font-size:26px;
			}
			h5 {
				font-size:18px;
			}
			.contentBorder {
				border-top:1px solid #D8D8D8;
				padding-top:10px;
			}
			.imgWidth {
				width:100%;
			}
			.contentIndent {
				margin-left:25px;
			}
			.topContentMargin {
				margin-top:15px;
			}
			> div.row:last-child {
				padding-top:0;
			}
		}
	}





/* select a centre */

.noOnlineBooking{
	.dealerText{color:#B2B1B1}

}





.steps-indicator {
 position: initial !important;
}
ul.courtesyOptionsList .glyphicon-ok{display:none}
ul.courtesyOptionsList .selected .glyphicon-ok{display:inline}
ul.courtesyOptionsList li a span{color:red;}

	
.padding-top-10{padding-top:10px;}
.datePicker{


	.btn[disabled] {
	  opacity: 0.30;
	  filter: alpha(opacity=30);
	
	}
	.btn-default{
color: #000;
background-color: white;
border-color: #ebedec;

	}
	/* top row buttons */
	th .btn-default{
		background-color: #EBEFF0;
	}


.btn-sm, .btn-group-sm > .btn {
border-radius: 0px;
}

	.btn-sm, .btn-group-sm > .btn{line-height: 2.5;padding: 5px 18px; }

	.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
			color: #FFF;
font-weight: bold;
background-color: #cc0033;
				border-bottom: 1px solid $audi-red-color;
				border-color: white;
				}
}
				/*
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
color:  #000;
font-weight: bold;
background-color: #fff;
border-color: #fff;
}*/







.tabs-left {
  border-bottom: none;
}

.tabs-left>li{
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
  height:40px
}

.tabs-left>li.active,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background:#EBEFF0 !important;
}




.tabs-left>li>a {
  border-radius: 0;
  border:none;
  margin-right: 0;
  display:block;
}

.tabs-left{
	.text-link{
			margin-top: 4px;
		float: left;
	}
}

}
