<div class="centering2">

	<div ui-view="messageView" ></div>

	<div class="box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-hide">MyAudi
						<img src="/audi-ui/apps/myaudi-login/img/logo.png">
					</h1>
				</div>
			</div>

			<div class="row">
				<div ui-view></div>
			</div>

			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
	</div>

</div>
