

 
<div class="col-sm-6" style="border-right: 1px solid rgba(0,0,0,0.3);">
	<form role="form">
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" ng-model="email" id="exampleInputEmail1" placeholder="example@email.com">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" name="password" maxlength="24" ng-model="password" ng-hide="checked"  placeholder="********" />
			<input type="text" name="password" maxlength="24" ng-model="password" ng-show="checked" placeholder="********" />
		</div>
		<div class="checkbox">
			<label>Show password</label>
			<input type="checkbox" ng-model="checked">
		</div>
		<button type="submit" data-ng-click="login()" class="btn btn-primary">Log in to account</button>
	</form>
	<p><a ui-sref="account.securityvalidation">Forgotten your Email</a> or <a ui-sref="account.forgotpassword">Password</a>?</p>
</div>
<div class="col-sm-6">
	<p>Add your car to MyAudi</p>
	<ul>
		<li>Get Updates on your order</li>
		<li>Book a service online</li>
		<li>Exclusive Owner offers</li>
	</ul>
	<a class="btn btn-tertiary" ui-sref="account.signup">Sign up</a>
</div>
