<div ng-if="message" class="centering1" style="margin-bottom:20px">
	<div class="centering2">
		<div class="box">
			<div class="container-fluid">
				<div class="row">


<div ng-bind-html="message"></div>

				</div>
			
			</div>


			</p>
		</div>
	</div>
</div>
