
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
  #sortableModelsInRange li { cursor: move;
}

.hiddenRow {
    padding: 0 !important;
}

.editable-controls textarea{
width: 300px !important;
height: 72px !important;
}
.animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
 
.animate-enter.animate-enter-active {
  opacity: 1;
}


.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}


.mini-slide-animation.ng-enter, 
.mini-slide-animation.ng-leave, 
.mini-slide-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.mini-slide-animation.ng-enter {
  left:-10px;
  opacity:0;
}
.mini-slide-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.mini-slide-animation.ng-leave {
  left:0;
  opacity:1;
}
.mini-slide-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.mini-slide-animation.ng-move {
  opacity:0.5;
}
.mini-slide-animation.ng-move.ng-move-active {
  opacity:1;
}





.butter-bar {
  display: none;
}

.butter-bar.show {
  display: block;
  position: absolute;
  background: yellow;
  border: 1px solid #b4b400;
  margin: 0 50%;
  padding: .5em 2em;
}


.auto-scroll-box{ overflow:auto; width:50%}

.navbar-static-top{margin-top:2px; z-index: -20}

.trimItemTextInput input{width: 350px !important;}
.headingRow{background: #cfcfcf; cursor: pointer;}

.headingRow input{width:500px;}

  .view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    display:block;
    width:100%;
    border-left:1px solid black;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
  }

  .view-animate.ng-enter {
    left:100%;
  }
  .view-animate.ng-enter.ng-enter-active {
    left:0;
  }
  .view-animate.ng-leave.ng-leave-active {
    left:-100%;
  }
.top-buffer { margin-top:20px; }

.group{border:1px solid #cfcfcf;
padding:10px;
display: block;

margin-bottom: 5px;}


      .header{background: #000;color:#fff;}
      .titleRow{background: grey;}
      .odd{background:#fff;}
      .hideRow{background: #cfcfcf; opacity: 0.5;}
      .deleted{background: red; opacity: 0.5;}
      .updated{background:rgb(183, 168, 202);}
      input{ width:300px;}

.MainArea{margin-top:50px;}


.footer {
    background: red;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: :2000;
}
.footer .footerWrap {
position: relative;
z-index: 20000;
top:0;
}

.rowEditControls{
    width:120px;
}



.specificationsWrapper .form-control {

width: 600px !important;

}

.bs-callout-warning {
background-color: #fcf8f2;
border-color: #f0ad4e;
}

.bs-callout {
margin: 20px 0;
padding: 20px;
width:300px;
border-left: 3px solid #eee;
}



.editLink{
    border-bottom: dashed 1px #0088cc;
}






/* partials/ModelPage.html */
.modelPage .panel-heading .alert {
  padding: 9px 10px;
  margin: -10px -15px -10px 0;
  border-top-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
.modelPage td .btn-group.pull-right {
  width: 94px;
}
