<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Book an appointment with Audi</h1>
        </div>
    </div>
</div>
<div class="row grey">
    <div class="container" >
        <br /><br />
        <div class="col-xs-12">
            
            <div class="panel">
                <div class="panel-body">
                    <form
                        role="form"
                        name="osbLandingForm"
                        method="GET"
                        ng-submit="formGo()"
                        novalidate>
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="myaudi-carLookup-registration">Car registration number</label>
                                    <!--i
                                    class="glyphicon glyphicon-info-sign"
                                    popover-trigger="mouseenter"
                                    popover-placement="right"
                                    popover-title="Registration Example"
                                    popover-html-unsafe='<img src="/etc/audi-ui/apps/myaudi-login/img/number-plate-visual.png" alt="Number plate visual example" height="40" width="200">'
                                    ></i-->
                                    <div
                                        class="form-group control-group"
                                        ng-class="{
                                        'has-error':    fieldHasError('osbLandingForm', 'registration'),
                                        'has-feedback': fieldHasFeedback('osbLandingForm', 'registration')
                                        }">
                                        <input
                                        id="myaudi-carLookup-registration"
                                        type="text"
                                        name="registration"
                                        class="form-control registrationrPlate"
                                        spellcheck="false"
                                        placeholder="NL55 LWS"
                                        spellcheck="false"
                                        ng-model="vrm"
                                        ng-pattern="/^[a-zA-Z0-9 ]{1,8}$/"
                                        maxlength="50"
                                        required
                                        sa-focus
                                        >
                                        <div class="feedback-icons" ng-show="fieldHasError('osbLandingForm', 'registration') || getServerError('registration')">
                                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                        <label
                                            class="control-label error"
                                            for="myaudi-carLookup-modal-registration"
                                            ng-show="fieldHasError('osbLandingForm', 'registration', this)"
                                            id="addCar-carLookup-error-registration"
                                            >
                                            Please enter the car registration in the correct format.
                                        </label>
                                           <label
                                            class="control-label error"
                                            for="myaudi-carLookup-modal-registration"
                                            ng-show="fieldHasError('osbLandingForm', 'registration', this)"
                                            id="addCar-carLookup-error-registration"
                                            >
                                            Please enter the car registration in the correct format.
                                        </label>
                                            <label
                                                class="control-label error"
                                            for="myaudi-carLookup-modal-registration"
                                                id="osbLandingForm-error-registration-serverMessage"
                                                ng-show="getServerError('registration')">
                                                {{getServerError('registration')}}
                                            </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label" for="addOrder-postcode">Postcode or town name</label>
                                    <!--i
                                    class="glyphicon glyphicon-info-sign"
                                    popover-trigger="mouseenter"
                                    popover-placement="right"
                                    popover-title="Postcode"
                                    popover='This is the postcode you used when ordering your car at the dealership'
                                    ></i-->
                                    <div
                                        class="form-group"
                                        ng-class="{
                                        'has-error':    fieldHasError('osbLandingForm', 'postcode'),
                                        'has-feedback': fieldHasFeedback('osbLandingForm', 'postcode')
                                        }"
                                        >
                                        <input
                                        id="addOrder-postcode"
                                        type="text"
                                        name="postcode"
                                        class="form-control "
                                        placeholder="NW10 6AF or London"
                                        spellcheck="false"
                                        ng-model="postcode"
                                        nxg-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
                                        maxlength="50"
                                        required
                                        sa-focus
                                        >
                                        <div class="feedback-icons" ng-show="fieldHasError('osbLandingForm', 'postcode')">
                                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                        <label
                                            class="control-label error"
                                            for="addOrder-postcode"
                                            ng-show="fieldHasError('osbLandingForm', 'postcode')"
                                            id="addOrder-error-postcode"
                                            >
                                            Please enter a postcode in the correct format
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <input
                                    id="addOrder-submitBtn"
                                    type="submit"

                                    value="{{searching || 'Locate Audi Centres' }}"
                                    ng-disabled="searching"
                                    class="btn btn-primary btn-submit btn-block"
                                    style="margin-top:23px" /> 
                                </div>
                            </div>
                        </div>
                    </form>
                   
                </div>
            </div>
           
        </div>
        <br /><br />  <br /><br />
    </div>
</div>
<div class="container">

<class="row">
    <div class="col-md-10 col-md-offset-1">
 
                  <div class="row text-center">
                     <br />
                          <h1>Experience <span  style="text-decoration:underline">The <span class="red-text ">Audi</span> Difference</span></h1>
                    </div>
                 
                    <h4 class="myAudiGreyText lead">Booking your car for a service or check with Audi means you can experience the Audi Difference. This is a set of promises to you to ensure you receive excellent service every time you make contact with us.
                </h4>
                 
              
                 
                     <div class="row">
                         <div class="col-xs-1">
                         <span class="icon icon-checkmark icon-sm  icon-grey pull-right icon-no-border"></span>
                        </div>
                        <div class="col-xs-5">
                          <h2 class="no-margin">Health check</h2>
                          <p class="myAudiGreyText">A comprehensive visual inspection and report of your vehicle’s key components</p>
                        </div>
                       
                        <div class="col-xs-1">
                           <span class="icon icon-checkmark icon-sm  icon-grey pull-right icon-no-border"></span>
                        </div>
                        <div class="col-xs-5">
                          <h2 class="no-margin">Trained technicians</h2>
                          <p class="myAudiGreyText">Only Audi trained technicians using the latest diagnostic equipment will work on your car</p>
                        </div>
                 
                    
                 
                </div>
                <br /><br />
                     <div class="row">
                     <div class="col-xs-1">
                         <span class="icon icon-checkmark icon-sm  icon-grey pull-right icon-no-border"></span>
                        </div>
                       <div class="col-xs-5">
                          <h2 class="no-margin">Phone confirmation</h2>
                          <p class="myAudiGreyText">Before you visit, we’ll call you to confirm the work we’ll do and discuss any special requirements you may have</p>
                        </div>
                       
                        <div class="col-xs-1">
                          <span class="icon icon-checkmark icon-sm  icon-grey pull-right icon-no-border"></span>
                        </div>
                        <div class="col-xs-5">
                          <h2 class="no-margin">Genuine parts</h2>
                          <p class="myAudiGreyText">We only use genuine parts and accessories and each one comes with a two-year warranty, excluding wear and tear items</p>
                        </div>
                 
                 
                 
                      
                    </div>
                 
                <br /><br />
                     <div class="row">
                         <div class="col-xs-1">
                          <span class="icon icon-checkmark icon-sm  icon-grey pull-right icon-no-border"></span>
                        </div>
                           <div class="col-xs-5">
                          <h2 class="no-margin">Audi Cam</h2>
                          <p class="myAudiGreyText">If we find an issue with your car, we won’t just tell you, we’ll show you
                </p>
                        </div>
                 

                  <div class="col-xs-1">
                         <span class="icon icon-checkmark icon-sm  icon-grey pull-right icon-no-border"></span>
                        </div>
                           <div class="col-xs-5">
                          <h2 class="no-margin">Wash and vacuum</h2>
                          <p class="myAudiGreyText">We’ll wash, clean and vacuum your Audi after we’ve worked on it, with our compliments</p>
                        </div>
                 
                        </div>
            </div>
        </div>
       <br /><br />  <br /><br />
</div>
