/* My ShortList Carousel
************************************************************/

.carShortlist {
    width:100%;
    margin-top: 5px;
}
.fixFoot {
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 200;    
}
.carShortlist a.shotlistBtn {
    background: url(/etc/designs/audi/salmon/images/vehicle-details/updown-arrows.png) no-repeat #626468;
    background-position: 190px 7px;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 12px;
    height: 15px;
    left: 50%;
    margin-left: 275px;
    padding: 5px;
    position: relative;
    width:200px;
}
.carShortlist a.shotlistBtn.up {
    background-position: 190px -11px !important;
}

.carShortlist .vehicleCarouselHolder {
    background: linear-gradient(to bottom, #626468 0%, #FFFFFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: absolute;
}
.carShortlist.fixFoot .vehicleCarouselHolder {
    position: relative !important;
}
.carShortlist .vehicleCarousel,
.carShortlist .vehicleCarousel li{
    background: none;
}
.carShortlist .vehicleCarousel li.active,
.carShortlist .vehicleCarousel li:hover {
    background:#fff;
}
.carShortlist .vehicleCarousel li.active:hover {
    background:#5C5C5C;
}
.carShortlist .vehicleCarousel li.emtpyItem {
    background: url(/etc/designs/audi/salmon/images/vehicle-details/shortlist-empty-slot.png) no-repeat;  
}
.vehicleCarousel li .shortListCnt .btn {    
    background-image: none;
    border-radius: 0;
    cursor: pointer;
    display:inline-block;
    height:15px;
    margin-top: 0;
    text-shadow: none;
    vertical-align: middle;
    width:15px;
}
.vehicleCarousel li .shortListCnt .btn i{
    background: url(/etc/designs/audi/salmon/images/vehicle-details/icons.png) no-repeat top left;
    float:left;
    height:11px;
    margin:2px;
    width:11px;
}
/* non active */
.vehicleCarousel li .shortListCnt .btn{
    background-color: #676b70;
    border: solid 1px #676b70;
    float: left;
    margin-right: 4px;
}
.vehicleCarousel li .shortListCnt a:hover .btn, 
.vehicleCarousel li .shortListCnt a:focus .btn {
    background-color: #cc0033;
    border: solid 1px #cc0033;
}

/* add*/
.vehicleCarousel li .shortListCnt .btn i{ background-position: 0 -13px; height: 11px; width: 11px; } 
/* remove */
.vehicleCarousel li .shortListCnt.remove .btn i{ background-position: 0 0; height: 11px; width: 11px;} 



/* shortlist text */
.vehicleCarousel li .shortListCnt a { color:#fff; }
.vehicleCarousel li:hover .shortListCnt a { color:#41464c; }
.vehicleCarousel li .shortListCnt a:hover, 
.vehicleCarousel li .shortListCnt a:focus { color: #cc0033; }
.carShortlist .vehicleCarousel li .shortListCnt a { color:#000; }
.carShortlist .vehicleCarousel li .shortListCnt a:hover, 
.vehicleCarousel li .shortListCnt a:focus { color: #cc0033; }

/* active*/
.vehicleCarousel li.active .shortListCnt .btn{
    background-color: #cc0033;
    border: solid 1px #cc0033;
}
.vehicleCarousel li.active .shortListCnt a { color:#41464c; }
.vehicleCarousel li.active:hover .shortListCnt a { color: #fff; }
.vehicleCarousel li.active .shortListCnt a:hover, 
.vehicleCarousel li.active .shortListCnt a:focus { color: #cc0033; }
.carShortlist .vehicleCarousel li.active .shortListCnt a { color: #41464c; }
.carShortlist .vehicleCarousel li.active .shortListCnt a:hover,.vehicleCarousel li.active .shortListCnt a:focus
	{ color: #cc0033; }

.shortlistAction { width:140px; }

/* microfiche carousel plugin styles
************************************************************/
.microficheButton {
  /*  background:#41464c; */
    border-radius:0px;
    cursor: pointer;
    display: block;
    height: 190px;
    padding:3px;
    position: absolute;
    top: 0px;
    width: 15px;
}
.microficheButton i{
    background: url(/etc/designs/audi/salmon/images/vehicle-details/carouselNav.png) no-repeat top left;
    display: block;
    position: relative;
    top:98px;
}

.microfichePrevButton i{ background-position: 0 0; height: 17px; width: 11px; } /* active*/
.microfichePrevButton.notActive i{ background:none; background-position: 0 -38px; height: 17px; width: 11px; } /* unactive*/
.microfichePrevButton:hover i, .microfiche-prev-button:focus i{ background-position: 0 -19px; height: 17px; width: 11px; } /* active Hover */
.microfichePrevButton.notActive:hover i{background:none; background-position: 0 -114px; height: 17px; width: 11px; } /* unactive hover */

.microficheNextButton i{ background-position: 0 -57px; height: 17px; width: 11px; } /* active*/
.microficheNextButton.notActive i{ background:none; background-position: 0 -95px; height: 17px; width: 11px; } /* unactive*/
.microficheNextButton:hover i,.microfiche-next-button:focus i{ background-position: 0 -76px; height: 17px; width: 10px; } /* active Hover */
.microficheNextButton.notActive:hover i{ background:none; background-position: 0 -133px; height: 17px; width: 11px; } /* unactive hover */

.microfichePrevButton{ left:0px; }
.microficheNextButton{ right:0px; }

.infoNavBlock{ display:block; width:970px; }







	.carShortlist .ng-enter, .carShortlist .ng-leave {
		 /*position: absolute; */
		 left: 0;
		 right: 0;
		 -webkit-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		transition:all .5s ease-in-out;
	}

	.carShortlist .ng-enter {
		opacity: 0.1;
		/*-webkit-transform:scale3d(0.5, 0.5, 0.5);
		-moz-transform:scale3d(0.5, 0.5, 0.5);
		transform:scale3d(0.5, 0.5, 0.5); */
		-webkit-transform:translate3d(0,-100%, 0);
		-moz-transform:translate3d(0,-100%, 0);
		transform:translate3d(0,-100%,  0); 
	}

	.carShortlist .ng-enter-active {
			 opacity: 1;
			-webkit-transform:translate3d(0, 0, 0);
			-moz-transform:translate3d(0, 0, 0);
			transform:translate3d(0, 0, 0);
	}

	.carShortlist .ng-leave {
		opacity: 1;
		
		-webkit-transform:translate3d(0, 0, 0);
		-moz-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0);
	}

	.carShortlist .ng-leave-active {
		opacity: 0.1;
		-webkit-transform:translate3d(0, -100%, 0);
		-moz-transform:translate3d(0, -100%, 0);
		transform:translate3d(0, -100%, 0);
	}

	/* This makes the transitions happen over the top of one another */
	.carShortlist .ng-leave {
		/*position: absolute; */
	}
