<div class="container">
	<h1 class="visible-print-inline audiFinanceHeading">Audi Finance</h1>
	<div class="row">
		<div class="col-xs-12 financeHeader hidden-print">
			<ul class="nav nav-tabs nav-tabs-xxl nav-tabs-secondary">
				<li ng-class="getClass('productType','SOLUTIONS')" >
					<a ng-click="modeChange('productType','SOLUTIONS')">
						<h2>Personal Contract Plan</h2>
						<span>Keep the car, return it, or trade it in at the end</span>
					</a>
				</li>
				<!--li ng-class="getClass('productType','HIRE_PURCHASE')" >
					<a ng-click="modeChange('productType','HIRE_PURCHASE')">
						<h2>Hire Purchase</h2>
						<span>Keep the car at the end</span>
					</a>
				</li -->
			</ul>
			<a
				class="pull-right"
				href="/content/audi/fleet-sales/small-business/small-business.html"
				target="_blank">
				Buy a company car
			</a>
		</div>
	</div>
	<div class="row">
		<form name="calcForm" class="calcForm col-xs-12">
			<div class="row hidden-print">
				<div class="col-xs-7 carHeading">
					<div class="row">
						<div class="col-xs-12">
							<div ng-hide="showChangeSection">
								<h3>{{model.name}}</h3>
								<a
									ng-class="{'loadingOpacity' : calcDisplayLoading , 'disabled' : calcDisplayLoading}"
									ng-click="showChangeSection=true;">
									Change
								</a>
							</div>
						</div>
					</div>
					<div class="row changeCar" ng-show="showChangeSection">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12 cancelChange">
									<a ng-click="cancelUpdateModel()">&#60;&#60; Back</a>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 change-controls">
									<div>
										<h4>
											<label for="range">Range</label>
										</h4>
										<select
											class="form-control"
											name="range"
											ng-model="changeSectionRange"
											ng-options="range.rangeName for range in ranges">
											<option value="">-- Choose a range --</option>
										</select>
									</div>
									<div>
										<h4>
											<label for="model">Model</label>
										</h4>
										<select
											class="form-control"
											name="model"
											ng-change="updateModel()"
											ng-model="changeSectionModel"
											ng-options="model.name for model in changeSectionRange.models">
											<option value="">-- Choose a model --</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row error" ng-show="!financeAvailable">
						<div class="col-xs-12">
							{{CQ5Properties.errorMessage[currentError.code] || currentError.errorDescription}}
						</div>
					</div>
				</div>
				<div class="col-xs-5">
					<div class="btn-toolbar blocks pull-right">
						<button
							class="btn btn-lg btn-tertiary"
							ng-click="locateACentre()">
							Locate a Centre
						</button>
						<button
							class="btn btn-lg btn-tertiary"
							ng-click="arrangeTestDrive()">
							Test drive this model
						</button>
					</div>
				</div>
			</div>
			<div class="row financeVehicle">
				<div class="col-xs-5">
					<div ng-class="{invisible: loadingRangeData}">
						<img
							src="{{trim.imageSidePath || 'noimage'}} "
							fallback-src="/etc/audi-ui/apps/finance-calculator/img/noimage.gif"/>
						<h3 class="printCarHeading visible-print-inline">
							Audi {{model.name}} {{trim.name}} {{engine.model}}
						</h3>
					</div>
					<div class="text-center" ng-if="loadingRangeData">
						<span audi-loader class="tableLoader"></span>
					</div>
				</div>
				<div class="col-xs-7 right-side">
					<h3 class="hidden-print mode-title">Solutions (PCP)</h3>
					<h4 class="hidden-print">Start driving the Audi you want, today.</h4>
					<p class="hidden-print">
						Solutions is the safe way to keep your options open. We’ll agree a future value for your car upfront, based on how much you drive. At the end of the term you can choose to trade your Audi in for a new one, keep it, or give it back (Terms and conditions apply).
					</p>

				</div>
			</div>
			<div class="row financeConfig">
				<div class="col-xs-5">
					<span audi-loader class="tableLoader" ng-if="calcDisplayLoading"></span>
					<table
						ng-class="{'loadingState' : calcDisplayLoading, 'loadingOpacity' : !financeAvailable || calcDisplayLoading}"
						fixie8altrows
						class="table table-striped finance-data-table">
						<tr
							class="caption"
							ng-if="params.productType=='SOLUTIONS'">
							<td colspan="2">
								Personal Contract Plan representative example for {{model.name}} {{trim.name}} {{engine.displayEngineName}} {{engine.gearType}}
							</td>
						</tr>
						<tr
							class="caption"
							ng-if="params.productType=='HIRE_PURCHASE'">
							<td colspan="2">
								Hire purchase plan representative example for {{model.name}} {{trim.name}} {{engine.engine}}
							</td>
						</tr>
						<tr>
							<td>Duration</td>
							<td>{{financeData.parameters.periodValue}} months</td>
						</tr>
						<tr >
							<td>{{financeData.quote.monthlyPaymentText || '&nbsp;'}}</td>
							<td>{{financeData.quote.monthlyRental | currency:"£"}}</td>
						</tr>
						<tr>
							<td>Your deposit</td>
							<td>{{financeData.parameters.depositAmount | currency:"£"}}</td>
						</tr>
						<tr
							ng-if="financeData.quote.depositContribution && financeData.quote.depositContribution > 0">
							<td>Audi deposit contribution</td>
							<td>{{financeData.quote.depositContribution | currency:"£"}}</td>
						</tr>
						<tr >
							<td>Retail cash price</td>
							<td>{{financeData.quote.retailerCashPrice | currency:"£"}}</td>
						</tr>
						<tr>
							<td>Acceptance fee*</td>
							<td>{{financeData.quote.acceptanceFee | currency:"£"}}</td>
						</tr>
						<tr ng-if="params.productType == 'SOLUTIONS'">
							<td>Optional final payment</td>
							<td>{{financeData.quote.finalPayment | currency:"£"}}</td>
						</tr>
						<tr ng-if="params.productType == 'SOLUTIONS'">
							<td>Option to purchase fee**</td>
							<td>{{financeData.quote.purchaseOptionFee | currency:"£"}}</td>
						</tr>
						<tr>
							<td>Total amount payable</td>
							<td>{{financeData.quote.totalAmountPayable | currency:"£"}}</td>
						</tr>
						<tr>
							<td>Total amount of credit</td>
							<td>{{financeData.quote.amountFinanced | currency:"£"}}</td>
						</tr>
						<tr>
							<td>Representative APR</td>
							<td>{{financeData.quote.apr}}&#37; APR</td>
						</tr>
						<tr>
							<td>Rate of interest</td>
							<td>{{financeData.quote.customerRate}}&#37; fixed</td>
						</tr>
						<tr ng-if="params.productType == 'SOLUTIONS'" >
							<td>Average miles per year</td>
							<td>{{financeData.parameters.annualMileage * 1000 | number:0}}</td>
						</tr>
						<tr ng-if="params.productType == 'SOLUTIONS'">
							<td>Excess mileage (per mile)***</td>
							<td>{{financeData.quote.excessMileage}}p</td>
						</tr>
						<tr class="hidden-print tfoot">
							<td colspan="2">
								<div>
									<button
										class="btn btn-default btn-secondary"
										ng-click="openEmailQuoteModal()"
										ng-disabled="calcDisplayLoading || !financeAvailable">
										Email this quote
									</button>
									<button
										analytics-on="click"
										analytics-properties="{
											financeCalculatorFilters: ($state.params.productType === 'SOLUTIONS' ? 'pcp:' : 'hp:') + '{{model.name}}|{{trim.name}}|{{engine.engine}}|{{deposit}}|{{params.mileage*1000}}|{{params.period}}|Download quote as PDF',
											description: 'Finance calculator - quote PDF downloaded'
										}"
										class="btn btn-default btn-secondary"
										ng-click="getPDF()"
										ng-disabled="calcDisplayLoading || !financeAvailable">
										Download quote as PDF
									</button>
									<button
										analytics-on="click"
										analytics-properties="{
											financeCalculatorFilters: ($state.params.productType === 'SOLUTIONS' ? 'pcp:' : 'hp:') + '{{model.name}}|{{trim.name}}|{{engine.engine}}|{{deposit}}|{{params.mileage*1000}}|{{params.period}}|Print quote',
											description: 'Finance calculator - quote printed'
										}"
										class="btn btn-default btn-secondary"
										ng-click="printQuote()"
										ng-disabled="calcDisplayLoading || !financeAvailable">
										Print quote
									</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<!-- div class="col-xs-1"></div-->
				<div class="col-xs-7 right-side">
					<div class="row financeConfigOption">
						<div class="col-xs-12 range-engine-controls">
							<div
								class="hidden-print"
								ng-class="{invisible: loadingRangeData}"
								ng-hide="model.trimlines.length < 2">
								<h4>
									<label for="trimline">Trim line</label>
								</h4>
								<select
									class="form-control"
									name="trimline"
									ng-change="trimLineChange(trim.name)"
									ng-disabled="calcDisplayLoading"
									ng-model="trim"
									ng-options="trim.name for trim in model.trimlines" >
								</select>
							</div>
							<div class="hidden-print" ng-class="{invisible: loadingRangeData}">
								<h4>
									<label for="engine">Engine</label>
								</h4>
								<select
									class="form-control"
									name="engine"
									ng-change="engineChange(engine.modelCode)"
									ng-disabled="calcDisplayLoading"
									ng-model="engine"
									ng-options="engine.displayEngineName + (engine.gearType ? ' - ' + engine.gearType : '') for engine in trim.engines">
								</select>
							</div>
						</div>
					</div>
					<div
						class="row financeConfigOption deposit hidden-print"
						ng-class="{'loadingOpacity' : !financeAvailable, 'disabled' : !financeAvailable}">
						<div class="col-xs-12">
							<h4>Your deposit</h4>
							<span
								class="glyphicon glyphicon-info-sign glyphicon-spacing"
								popover="This is the amount that you wish to pay towards the value of your Audi at the beginning of your agreement. Some models may have deposit contributions provided by Audi in addition to your deposit, this will be shown separately in your finance example."
								popover-placement="right"
								popover-title="Your deposit"
								popover-trigger="mouseenter">
							</span>
							<div
								class="row depositInput"
								ng-class="{'has-error': invalidDeposit}">
								<div class="col-xs-4 input-group">
									<span class="input-group-addon">£</span>
									<input
										class="form-control"
										currency-mask
										name="deposit"
										ng-disabled="!financeAvailable || calcDisplayLoading"
										ng-enter="setDeposit(deposit)"
										ng-model="deposit"
										placeholder="0.00"
										sal-focus
										type="text"/>
									<span
										class="glyphicon glyphicon-remove form-control-feedback"
										ng-show="calcForm.deposit.$invalid"
										required>
									</span>
								</div>
								<div class="col-xs-3">
									<button
										class="btn btn-lg btn-primary"
										ng-click="setDeposit(deposit)"
										ng-show="deposit != depositPrevious && !calcDisplayLoading">
										Update
									</button>
								</div>
							</div>
							<div class="row depositError" ng-show="invalidDeposit">
								<div class="col-xs-12 has-error">
									<p class="control-label error">{{CQ5Properties.errorMessage[currentError.code] || currentError.errorDescription}}</p>
								</div>
							</div>
						</div>
					</div>
					<div
						class="row financeConfigOption mileage hidden-print"
						ng-class="{'loadingOpacity' : !financeAvailable, 'disabled' : !financeAvailable}"
						ng-if="params.productType == 'SOLUTIONS'">
						<div class="col-xs-12">
							<h4>Your average miles (per year)</h4>
							<span
								class="glyphicon glyphicon-info-sign"
								popover="At the beginning of your contract we agree your payments based on your predicted average mileage. An accurate mileage will mean that there will be no excess mileage charges at the end of the contract. If you exceed your predicted mileage there will be an excess mileage charge."
								popover-placement="right"
								popover-title="Your average miles (per year)"
								popover-trigger="mouseenter">
							</span>
							<div class="btn-group btn-group-justified">
								<a
									class="btn btn-lg btn-tertiary"
									ng-class="getClass('mileage','{{mileage}}')"
									ng-click="formChange('mileage', mileage)"
									ng-repeat="mileage in settings.mileage"
									role="button">
									{{mileage * 1000 | number:0}}
								</a>
							</div>
						</div>
						<!-- div class="col-xs-2">{{tempMileageSliderValue*1000||null}}</div>
						<div class="col-xs-10">
							<slider
								ng-change="formChange('mileage', params.mileage);"
								ng-disabled="!financeAvailable"
								ng-model="params.mileage"
								max="settings.mileageMax"
								min="settings.mileageMin"
								step="settings.mileageStep"
								tooltips="hide"
								tempslidervalue="tempMileageSliderValue">
							</slider>
						</div -->
					</div>
					<div
						class="row financeConfigOption repayments hidden-print"
						ng-class="{'loadingOpacity' : !financeAvailable, 'disabled' : !financeAvailable}">
						<div class="col-xs-12">
							<h4>Your repayment time (months)</h4>
							<span
								class="glyphicon glyphicon-info-sign"
								popover="The length of your agreement."
								popover-placement="right"
								popover-title="Your repayment time (months)"
								popover-trigger="mouseenter">
							</span>
							<div class="btn-group btn-group-justified">
								<a
									class="btn btn-lg btn-tertiary"
									ng-class="getClass('period','{{period}}')"
									ng-click="formChange('period', period)"
									ng-repeat="period in settings.period"
									role="button">
									{{period}}
								</a>
							</div>
							<!-- select
								class="form-control"
								name="period"
								ng-change="formChange('period', period)"
								ng-model="params.period"
								ng-options="period for period in settings.period">
								<option value="">-- Choose repayment time --</option>
							</select -->
						</div>
						<!-- div class="col-xs-2">{{tempPeriodSliderValue}} Months</div>
						<div class="col-xs-10">
							<slider
								ng-change="formChange('period', params.period)"
								ng-disabled="!financeAvailable"
								ng-model="params.period"
								max="settings.periodMax"
								min="settings.periodMin"
								step="settings.periodStep"
								tempslidervalue="tempPeriodSliderValue"
								tooltips="hide">
							</slider>
						</div -->
					</div>
					<div class="row termsAndConditions">
						<div class="col-xs-12">
							<p class="hidden-print learn-more-link">
								<a
									class="hidden-print"
									href="/content/audi/explore-models/finance.html"
									target="_blank">
									Learn more about finance
								</a>
							</p>

							<p ng-hide="calcDisplayLoading">{{financeData.quote.legalText}}</p>
							<span audi-loader class="tableLoader" ng-if="calcDisplayLoading">
	                        </span>

							<h4 class="hidden-print">
								Want to finance your car via Hire Purchase? Start owning the Audi you want, today.
							</h4>
							<p class="hidden-print">
								Pay a fixed deposit, depending on the price of the car you want. The rest is split into monthly payments over one to five years. At the end of your contract when you’ve made your final payment the car’s all yours. To get a quote please contact <a href="/locate-a-centre.html">your local Retailer</a>.
							</p>
							<!-- a
								analytics-on="click"
								analytics-properties="{
									pageTitle: 'Finance Terms and Conditions',
									url: 'finance-calculator/' + ($state.params.productType === 'SOLUTIONS' ? 'pcp' : 'hp') + '-terms-and-conditions',
									description: 'Finance calculator - full terms and conditions modal opened'}"
								class="hidden-print"
								ng-click="openTermsModal()">
								Click here for full terms and conditions
							</a -->
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>