<div id="email-quote-modal">
    <div class="quoteInput" ng-show="mode == 'input'">
        <div class="modal-header">
            <h1 class="display-ib">Email this quote</h1>
            <button
                class="close"
                ng-click="close()"
                type="button">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
        </div>

        <!-- INPUT SCREEN -->
        <form
            id="email-quote-form"
            name="emailQuoteForm"
            ng-submit="send(emailQuoteForm)"
            novalidate
            role="form">
            <div class="modal-body" ng-class="{'loading': busy}">
                <div
                    class="form-group"
                    ng-class="{
                        'has-error': emailQuoteForm.recipientEmail.$invalid && (emailQuoteForm.recipientEmail.$hadFocus || emailQuoteForm.submitted),
                        'has-feedback': (emailQuoteForm.recipientEmail.$hadFocus || emailQuoteForm.submitted),
                        'formGroupRemoveMargins': emailQuoteForm.recipientEmail.$invalid && (emailQuoteForm.recipientEmail.$hadFocus || emailQuoteForm.submitted)
                    }">
                    <label for="email-quote-email">Recipient's email</label>
                    <input
                        class="form-control"
                        emaillist
                        id="email-quote-email"
                        name="recipientEmail"
                        ng-disabled="busy"
                        ng-maxlength="4096"
                        ng-model="formData.recipientEmail"
                        required
                        sa-focus
                        type="email"/>
                    <label
                        class="control-label error"
                        for="myaudilogin-signup-title"
                        ng-show="emailQuoteForm.recipientEmail.$invalid && (emailQuoteForm.recipientEmail.$hadFocus || emailQuoteForm.submitted)">
                        Please enter a valid email address
                    </label>
                </div>
                <div
                    class="form-group"
                    ng-class="{
                        'has-error': emailQuoteForm.recipientName.$invalid && (emailQuoteForm.recipientName.$hadFocus || emailQuoteForm.submitted),
                        'has-feedback': (emailQuoteForm.recipientName.$hadFocus || emailQuoteForm.submitted),
                        'formGroupRemoveMargins': emailQuoteForm.recipientName.$invalid && (emailQuoteForm.recipientName.$dirty) || (emailQuoteForm.submitted && emailQuoteForm.recipientName.$pristine)
                    }">
                    <label for="email-quote-name">Your name</label>
                    <input
                        class="form-control"
                        id="email-quote-name"
                        name="recipientName"
                        ng-disabled="busy"
                        ng-maxlength="50"
                        ng-minlength="1"
                        ng-model="formData.recipientName"
                        required
                        sa-focus
                        type="text" />
                    <label
                        class="control-label error"
                        for="myaudilogin-signup-title"
                        ng-show="emailQuoteForm.recipientName.$invalid && (emailQuoteForm.recipientName.$hadFocus || emailQuoteForm.submitted)"
                        >
                        Please enter your name
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <button
                            analytics-if="!emailQuoteForm.recipientName.$invalid"
                            analytics-on="click"
                            analytics-properties="{
                              financeCalculatorFilters: (params.productType === 'SOLUTIONS' ? 'pcp:' : 'hp:') + '{{parentScopeData.model.name}}|{{parentScopeData.trim.name}}|{{parentScopeData.engine.engine}}|{{parentScopeData.deposit}}|{{params.mileage*1000}}|{{params.period}}|Email this quote'
                            }"
                            class="btn btn-primary"
                            ng-disabled="busy"
                            type="submit">
                            Send
                        </button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a
                            class="display-ib"
                            href="/content/audi/footer/secondary/terms-and-conditions.html"
                            id="email-quote-privacy-policy"
                            ng-class="{'loading': busy}"
                            target="_blank">
                            Privacy policy
                        </a>
                    </div>
                </div>
            </div>
            <span audi-loader ng-show="busy"></span>
        </form>
    </div>

    <!-- SENT SUCCESSFULLY SCREEN -->
    <div class="quoteSent" ng-show="mode == 'success'">
        <div class="modal-header">
            <h1 class="display-ib">Your quote has been sent</h1>
            <button
                class="close"
                ng-click="close()"
                type="button">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
        </div>
        <div class="modal-body">
            <p>
                We have sent your quote to {{formData.recipientEmail}}
            </p>
            <p class="no-margins">
                Please check your spam folder if it doesn't arrive in the next few minutes.
            </p>
        </div>
        <div class="modal-footer">
            <button
                class="btn btn-tertiary"
                ng-click="locateACentre()"
                type="button">
                Locate a Centre
            </button>
            <button
                class="btn btn-tertiary"
                ng-click="arrangeTestDrive()"
                type="button">
                Arrange a test drive
            </button>
        </div>
    </div>

    <!-- ERROR SCREEN -->
    <div class="quoteError" ng-show="mode == 'error'">
        <div class="modal-header">
            <h1 class="display-ib">Something went wrong...</h1>
            <button
                class="close"
                ng-click="close()"
                type="button">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="no-margins">We are sorry but there has been an error sending your quote. Please try again shortly.</p>
        </div>
        <div class="modal-footer">
            <button
                class="btn btn-tertiary"
                ng-click="close()"
                type="button">
                Close
            </button>
        </div>
    </div>
</div>