<div id="terms-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()">
			<span aria-hidden="true">×</span>
			<span class="sr-only">Close</span>
		</button>
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12">
				<h2>Terms & Conditions</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-8">
				<h3>{{currentSection.title}}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<ul>
					<li ng-repeat="section in terms | orderBy:id" ng-click="changeSection(section)">
						{{section.title}} >
					</li>
				</ul>
			</div>
			<div class="col-xs-8">
				<p>{{currentSection.text}}</p>
			</div>
		</div>
	</div>

	<div class="modal-footer"></div>
</div>