#myaudi-login {

	// form icons inside a grid column
	//
	//   <div class="row form-group">
	//     <div class="col-sm-8">
	//       <div class="feedback-icons">
	//         <input class="form-control" type="text">
	//         <span class="glyphicon glyphicon-ok form-control-feedback"></span>
	//       </div>
	//     </div>
	//   </div>
	//
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12 {
		> .feedback-icons > .form-control-feedback {
			right: 15px;
		}
	}
}
