#learn-more {

	h2, h3, h4 {margin-top:0}
	h2 {margin-bottom:30px}
	h3 {
		margin-bottom:40px;
		color:$text-color-secondary;
		font-family:'audiType_extended_normal'
	}
	.feature {margin-bottom:30px}

	.featureIntro {
		padding-left:20px;
		span {
			color:$text-color-secondary;
			font-family:'audiType_extended_normal';
		}
	}
}