.message-area {
	margin-bottom:30px;

	.title,
	.message {
		display: block;
		font-size: $font-size-h3;
	}

	.title {
		font-family:'audiType_extended_bold';
		color: $headings-color;
	}
	.message {
		font-family:'audiType_normal';
	}

	.btn { margin-top:5px; }

}