#myaudi-login {

	.form-control-signup-title {
		width: 50%;
	}

	.show-password-label {
		color: $text-color;
	}

	.password-popover-content {
		min-width: 200px;
		h3 {
			font-size: 15px;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 10px;
		}
		.glyphicon-remove {
			color: $state-danger-text;
		}
		.glyphicon-ok {
			color: $state-success-text;
		}
	}
}
