@import "../../../../global/styles/scss/partials/_includesForApps";
@import "forms.scss";

#myaudi-login {

	.myaudi-login-width {
		// calculate width based upon container width
		// login app should be 5 columns wide [minus padding]
		width:round(($container-fixed-width / 12) * 5) - 40;
	}

	.audi-loader {
		margin:auto;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		top:0;
	}

	#myaudi-login-wrapper {
		@include border-radius(5px, 5px);
		@include box-shadow(#ccc 0px 0px 10px);
		border:1px solid #ccc;
		padding:20px;
		margin-bottom:20px;
		background:#fff url('/etc/audi-ui/apps/myaudi-login/img/chequerboard.png') no-repeat right 0;

		ul li {
			margin-bottom:5px;
		}
		.sign-up-button {
			margin-bottom:10px;
		}
		.forgotten-password {
			padding-top:10px;
		}
		#existing-or-new-user {
			padding-top:25px;
			margin-top:25px;
			border-top:solid 1px #ccc;
		}
	}

	#forgotPassword-messageSent {
		p {font-size: 16px}
	}
}

/* Have to set height explicity on ui-view to prevent collapsing during animation*/
.well[ui-view] {
	height: 65px;
}

.ui-view-container {
	position: relative;
}

@import "_signup.scss";
@import "_messageArea.scss";
@import "_learnMore.scss";
@import "../../../../global/styles/scss/partials/_hacks";
