
Select a range


  <div class="row" style="margin-bottom:20px;" ng-repeat="rows in rangeData | orderBy:'rangeName' |partition:4"><!--  -->
  	<div class="col-sm-6 col-md-2" ng-repeat="range in rows">
    <div class="thumbnail">
     <a  ui-sref="ranges.range({ range:'{{range.rangeName}}' })"><img ng-src="{{range.modelDetails[0].cdnImageFrontPath}}" width="350" />
      <div class="caption">
        <h3>{{range.rangeName}}</h3>
       
      </div>
      </a>
    </div>
    </div>
  </div>
