// Placeholder styling
@mixin placeholder($color: $input-color-placeholder) {
	// Firefox
	&::-moz-placeholder	{
		color: $color;
		opacity: 1;  // See https://github.com/twbs/bootstrap/pull/11526
		font-style: italic;
	}
	// Internet Explorer 10+
	&:-ms-input-placeholder	{
		color: $color;
		font-style: italic;
	}
	// Safari and Chrome
	&::-webkit-input-placeholder {
		color: $color;
		font-style: italic;		
	}
}


/*	IE9 and lower + modern browser 
	placeholder support styling	*/
form .empty {
	color: $input-color-placeholder;
	font-style: italic;
	opacity: 1;
}