<div class="container">

	<div ng-show="isAlertVisible()" class="alert alert-danger" role="alert">
		{{alertMessage}}
	</div>

	<div class="row">
		<div class="col-xs-12" ui-view></div>
	</div>

</div>
