<div id="addCar" class="myaudi-modal" ng-controller="addCarCtrl">

    <div id="addCar-carLookup" ng-if="isCurentView('carLookup')">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h2>Add my car to myAudi</h2>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                </div>
            </div>
        </div>
        <div class="modal-body">

            <form
                id="carLookupForm"
                name="carLookupForm"
                method="post"
                role="form"
                ng-submit="doCarLookup(this)"
                novalidate
                >

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="form-group">
                            <label class="control-label" for="myaudi-carLookup-registration">Registration number</label>
                            <i
                                class="glyphicon glyphicon-info-sign"
                                popover-trigger="mouseenter"
                                popover-placement="right"
                                popover-title="Registration Example"
                                popover-html-unsafe='<img src="/etc/audi-ui/apps/myaudi-login/img/number-plate-visual.png" alt="Number plate visual example" height="40" width="200">'
                                ></i>
                            <div
                                class="form-group control-group"
                                ng-class="{
                                    'has-error':    fieldHasError('carLookupForm', 'registration', this),
                                    'has-feedback': fieldHasFeedback('carLookupForm', 'registration', this)
                                }">
                                <input
                                    id="myaudi-carLookup-registration"
                                    type="text"
                                    name="registration"
                                    class="form-control"
                                    spellcheck="false"
                                    placeholder="NL55 LWS"
                                    spellcheck="false"
                                    ng-model="carLookupFormData.carReg"
                                    ng-pattern="/^[a-zA-Z0-9 ]{1,8}$/"
                                    maxlength="8"
                                    required
                                    sa-focus
                                    >
                                <div class="feedback-icons" ng-show="fieldHasError('carLookupForm', 'registration', this)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                                <label
                                    class="control-label error"
                                    for="myaudi-carLookup-modal-registration"
                                    ng-show="fieldHasError('carLookupForm', 'registration', this)"
                                    id="addCar-carLookup-error-registration"
                                    >
                                    Please enter the car registration in the correct format.
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="myaudi-carLookup-postcode">Postcode</label>
                            <i
                                class="glyphicon glyphicon-info-sign"
                                popover-trigger="mouseenter"
                                popover-placement="right"
                                popover-title="Postcode"
                                popover='This is the postcode you used when ordering your car at the dealership'
                                ></i>
                            <div
                                class="form-group"
                                ng-class="{
                                    'has-error':    fieldHasError('carLookupForm', 'carPostcode', this),
                                    'has-feedback': fieldHasFeedback('carLookupForm', 'carPostcode', this)
                                }"
                                >
                                <input
                                    id="myaudi-carLookup-postcode"
                                    type="text"
                                    name="carPostcode"
                                    class="form-control"
                                    placeholder="WD17 1HA"
                                    spellcheck="false"
                                    ng-model="carLookupFormData.postcode"
                                    ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
                                    maxlength="8"
                                    required
                                    sa-focus
                                    >
                                <div class="feedback-icons" ng-show="fieldHasError('carLookupForm', 'carPostcode', this)">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                                <label
                                    class="control-label error"
                                    for="myaudi-carLookup-postcode"
                                    ng-show="fieldHasError('carLookupForm', 'carPostcode', this)"
                                    id="addCar-carLookup-error-postcode"
                                    >
                                    Please enter a postcode in the correct format
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Find my car">
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div id="addCar-carFound" ng-if="isCurentView('carFound')">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h2>We have found a car matching your details.</h2>
                    <p class="myAudiExtendedNormal myAudiDefaultGreyText">Please check the details and confirm this is your car.</p>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <h3 id="addCar-carFound-carDetails">
                        <span class="carMake">{{carLookupResponse.make}}</span> <span class="carMmodel">{{carLookupResponse.model}}</span><br>
                        <span class="myAudiExtendedNormal myAudiDefaultGreyText carVariant">{{carLookupResponse.modelVariant}}</span><br>
                        <span class="myAudiExtendedNormal myAudiDefaultGreyText carColour">{{carLookupResponse.exteriorColour}}</span>
                    </h3>
                </div>
                <div class="col-xs-6">
                    <img ng-src="{{carImageUrl}}" img-loader width="248" height="100"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row buttonMargins">
                <div class="col-xs-12">
                    <button id="addCar-carFound-addCarBtn" class="btn btn-primary pull-left" ng-click="doAddCar()">Yes, add to my account</button>
                    <button id="addCar-carFound-notMyBtn" class="btn btn-tertiary pull-right" ng-click="doNotMyCar()">No, this is not my car</button>
                </div>
            </div>
        </div>
    </div>

    <div id="addCar-carNotFound" ng-if="isCurentView('carNotFound')">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h2 class="no-margins">No matches found</h2>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <p class="no-margins">The registration number doesn't match any of our records. Please try again with a different registration number.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12">
                    <button id="addCar-carFound-goToLookupBtn" class="btn btn-primary" ng-click="goToCarLookup()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="addCar-carOnAccount" ng-if="isCurentView('carOnAccount')">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h2>This car has already been added to myAudi</h2>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                </div>
            </div>
        </div>
        <div class="modal-body" id="error-car-on-account">
            <div class="row">
                <div class="col-xs-6">
                    <h3 id="addCar-carOnAccount-carDetails">
                        <span class="carMake">{{carLookupResponse.make}}</span> <span class="carMmodel">{{carLookupResponse.model}}</span><br>
                        <span class="myAudiExtendedNormal myAudiDefaultGreyText carVariant">{{carLookupResponse.modelVariant}}</span><br>
                        <span class="myAudiExtendedNormal myAudiDefaultGreyText carColour">{{carLookupResponse.exteriorColour}}</span>
                    </h3>
                    <p>
                        <button id="addCar-carOnAccount-goToCarBtn" class="btn btn-primary" ng-click="goToCarDetails()">View car details</button>
                    </p>
                    <p>
                        <a id="addCar-carOnAccount-addAnotherBtn" ng-click="goToCarLookup()">Add another car</a>
                    </p>
                </div>
                <div class="col-xs-6">
                    <img ng-src="{{carImageUrl}}" img-loader width="248" height="100"/>
                </div>
            </div>
        </div>
    </div>

    <div id="addCar-carAdded" ng-if="isCurentView('carAdded')">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h2 class="no-margins">Car added to myAudi</h2>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <span>Your {{carLookupResponse.make}} {{carLookupResponse.model}} {{carLookupResponse.carReg}} has been succefully add to your account.</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row buttonMargins">
                <div class="col-xs-12">
                    <button id="addCar-carAdded-closeBtn" ng-click="modalClose()" class="btn btn-secondary">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="addCar-confirmOwnership" ng-if="isCurentView('confirmOwnership')">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h2>Your details don't match those on our systems.</h2>
                    <p class="myAudiExtendedNormal myAudiDefaultGreyText">Please select your relationship with the car</p>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <h3 id="addCar-confirmOwnership-carDetails">
                        <span class="carMake">{{carLookupResponse.make}}</span> <span class="carMmodel">{{carLookupResponse.model}}</span><br>
                        <span class="myAudiExtendedNormal myAudiDefaultGreyText carVariant">{{carLookupResponse.modelVariant}}</span><br>
                        <span class="myAudiExtendedNormal myAudiDefaultGreyText carColour">{{carLookupResponse.exteriorColour}}</span>
                    </h3>
                </div>
                <div class="col-xs-6">
                    <img ng-src="{{carImageUrl}}" img-loader width="248" height="100"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row buttonMargins">
                <div class="col-xs-12">
                    <button id="addCar-confirmOwnership-isOwnerBtn" class="btn btn-primary" ng-click="showView('unableToVerify')">I am the registered owner</button>
                    <button id="addCar-confirmOwnership-notOwnerBtn" class="btn btn-secondary pull-right" ng-click="doOwnedByAnotherPerson()">Someone in my household owns the car</button>
                </div>
            </div>
        </div>
    </div>

    <div id="addCar-companyCar" ng-if="isCurentView('companyCar')">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h2>Your details don't match those on our systems.</h2>
                    <p class="myAudiExtendedNormal myAudiDefaultGreyText">Please select your relationship with the car</p>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <h3 id="addCar-confirmOwnership-carDetails">
                        <span class="carMake">{{carLookupResponse.make}}</span> <span class="carMmodel">{{carLookupResponse.model}}</span><br>
                        <span class="myAudiExtendedNormal myAudiDefaultGreyText carVariant">{{carLookupResponse.modelVariant}}</span><br>
                        <span class="myAudiExtendedNormal myAudiDefaultGreyText carColour">{{carLookupResponse.exteriorColour}}</span>
                    </h3>
                </div>
                <div class="col-xs-6">
                    <img ng-src="{{carImageUrl}}" img-loader width="248" height="100"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row buttonMargins">
                <div class="col-xs-12">
                    <button id="addCar-companyCar-isOwnerBtn" class="btn btn-primary" ng-click="showView('unableToVerify')">I am the registered owner</button>
                    <button id="addCar-companyCar-notOwnerBtn" class="btn btn-secondary pull-right" ng-click="doAddCompanyCar()">This is my company car</button>
                </div>
            </div>
        </div>
    </div>

    <div id="addCar-unableToVerify" ng-if="isCurentView('unableToVerify')">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h2>We are unable to verify your details, please visit your local Centre with a copy of your V5 form.</h2>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">
                        <img src="/etc/audi-ui/apps/myAudi/img/v5-form.jpg">
                    </p>
                    <p class="text-center">
                        <button id="addCar-unableToVerify-closeBtn" class="btn btn-primary" ng-click="modalDismiss()">OK</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a id="addCar-findAudiCentreLink" ui-sref="myAudi.mycentres" ng-click="modalDismiss()">Find an Audi Centre</a>
        </div>
    </div>

    <div id="addCar-confirmPostcode" ng-if="isCurentView('confirmPostcode')">
         <form
            name="postcodeForm"
            id="postcodeForm"
            role="form"
            method="post"
            ng-submit="doAddCarNewPostcode()"
            novalidate
            >
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-11">
                        <h2>Please enter the postcode of the owner</h2>
                    </div>
                    <div class="col-xs-1">
                        <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">
                        <span>Postcode</span>
                        <i
                            class="glyphicon glyphicon-info-sign"
                            popover-trigger="mouseenter"
                            popover-placement="right"
                            popover-title="Postcode"
                            popover='This is the postcode you used when ordering your car at the dealership'
                            ></i>
                    </div>
                    <div class="col-xs-6">
                        <div
                            class="form-group"
                            ng-class="{
                                'has-error':    fieldHasError('postcodeForm', 'postcode', this),
                                'has-feedback': fieldHasFeedback('postcodeForm', 'postcode', this)
                            }"
                            >
                            <input
                                type="text"
                                name="postcode"
                                class="form-control"
                                placeholder="WD17 1HA"
                                spellcheck="false"
                                ng-model="postcodeFormData.postcode"
                                id="myaudi-postcodeForm-postcode"
                                ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
                                maxlength="8"
                                required
                                sa-focus
                                >
                            <div
                                class="feedback-icons"
                                ng-show="(postcodeForm.postcode.$hadFocus || postcodeForm.submitted) && postcodeForm.$invalid">
                                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                            </div>
                            <label
                                class="control-label error"
                                for="myaudi-addcar-postcode-validation"
                                ng-show="(postcodeForm.postcode.$hadFocus || postcodeForm.submitted) && postcodeForm.$invalid"
                                id="addCar-confirmPostcode-error"
                                >
                                Please enter a postocde in the correct format
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12">
                    <input
                        type="submit"
                        class="btn btn-primary"
                        id="postcodeForm-submit"
                        value="Submit"
                        ng-disabled="postcodeLookupLoading"
                        id="addCar-confirmPostcode-submitBtn"
                        >
                </div>
            </div>
        </form>
    </div>

    <div id="addCar-loading" ng-if="loading">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-1 col-xs-offset-11">
                    <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row" ng-show="loadingCarSearch1">
                <div class="col-xs-8 col-xs-offset-2 text-center">
                    <h2>Please wait a few moments while we find your car</h2>
                </div>
            </div>
            <div class="row" ng-show="loadingCarSearch2">
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    <h2>Please wait a few moments while we check our records again</h2>
                </div>
            </div>
            <div class="row text-center">
                <span audi-loader></span>
            </div>
        </div>
    </div>

</div>