<div id="addOrder" class="myaudi-modal" ng-controller="addOrderCtrl">

	<div id="addOrder-orderLookup" ng-if="isCurentView('orderLookup')">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-11">
					<h2 ng-show="!showOrderNotFound">I want to track my Audi order</h2>
					<h2 ng-show="showOrderNotFound">Your order details don't match any of our records. Please try again or contact your local Audi Centre.</h2>
				</div>
				<div class="col-xs-1">
					<button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<form
				id="orderLookupForm"
				name="orderLookupForm"
				method="post"
				role="form"
				ng-submit="doOrderLookup(this)"
				novalidate
				>
				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<div class="form-group">
							<label class="control-label" for="addOrder-orderNum">Your Order Number</label>
							<i
								class="glyphicon glyphicon-info-sign"
								popover-trigger="mouseenter"
								popover-placement="right"
								popover-title="Order Number"
								popover='Your order number can be found by viewing your invoice'
								></i>
							<div
								class="form-group control-group"
								ng-class="{
									'has-error':    fieldHasError('orderLookupForm', 'orderNum', this),
									'has-feedback': fieldHasFeedback('orderLookupForm', 'orderNum', this)
								}">
								<input
									id="addOrder-orderNum"
									type="text"
									name="orderNum"
									class="form-control"
									placeholder="23456789"
									spellcheck="false"
									ng-model="orderLookupFormData.orderNumber"
									ng-pattern="/^2[0-9]{7}$/"
									maxlength="8"
									required
									sa-focus
									>
								<div class="feedback-icons" ng-show="fieldHasError('orderLookupForm', 'orderNum', this)">
									<span class="glyphicon glyphicon-remove form-control-feedback"></span>
								</div>
								<label
									class="control-label error"
									for="addOrder-orderNum"
									ng-show="fieldHasError('orderLookupForm', 'orderNum', this)"
									id="myaudi-addOrder-error-orderNum"
									>
									Your order number should be 8 characters long and start with a '2' (i.e. 23456789)
								</label>
								<p class="text-right">
									<a href="" ng-click="toggleDontKnowOrderNum()" class="orderUnknown">
										<span ng-show="!dontKnowOrderNumVisible">I don't know my order number</span>
										<span ng-show="dontKnowOrderNumVisible">Hide</span>
									</a>
								</p>
								<div ng-show="dontKnowOrderNumVisible">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, metus quis vehicula maximus, ipsum libero pellentesque ante, ut interdum felis libero at orci. Aenean pharetra euismod mattis. Fusce pretium, ex quis imperdiet pharetra, urna sapien placerat nunc, non elementum est nisi non sapien. Quisque nec fermentum magna, non faucibus neque. Mauris eros sem, dignissim at nisi sed, venenatis efficitur dolor.</p>
									<p>Vestibulum ac elementum turpis. Aliquam nec lacus quis tellus interdum auctor et eu lorem. Ut eget suscipit nulla, et suscipit ante. In eu congue dolor, non vehicula felis. Fusce eu commodo turpis, ac laoreet est.</p>
									<p>Integer aliquam, justo efficitur consectetur aliquet, est lorem vestibulum turpis, posuere gravida nunc dui eget nisl. Pellentesque nunc mauris, mollis facilisis facilisis et, vestibulum non lorem.</p>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="addOrder-postcode">Postcode</label>
							<i
								class="glyphicon glyphicon-info-sign"
								popover-trigger="mouseenter"
								popover-placement="right"
								popover-title="Postcode"
								popover='This is the postcode you used when ordering your car at the dealership'
								></i>
							<div
								class="form-group"
								ng-class="{
									'has-error':    fieldHasError('orderLookupForm', 'postcode', this),
									'has-feedback': fieldHasFeedback('orderLookupForm', 'postcode', this)
								}"
								>
								<input
									id="addOrder-postcode"
									type="text"
									name="postcode"
									class="form-control"
									placeholder="WD17 1HA"
									spellcheck="false"
									ng-model="orderLookupFormData.postcode"
									ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
									maxlength="8"
									required
									sa-focus
									>
								<div class="feedback-icons" ng-show="fieldHasError('orderLookupForm', 'postcode', this)">
									<span class="glyphicon glyphicon-remove form-control-feedback"></span>
								</div>
								<label
									class="control-label error"
									for="addOrder-postcode"
									ng-show="fieldHasError('orderLookupForm', 'postcode', this)"
									id="addOrder-error-postcode"
									>
									Please enter a postcode in the correct format
								</label>
							</div>
						</div>
						<div class="form-group">
							<p>
								<input type="submit" class="btn btn-primary" value="Find my order">
							</p>
							<p ng-show="showOrderNotFound">
							    <a id="addOrder-findAudiCentreLink" ui-sref="myAudi.mycentres" ng-click="modalDismiss()">Find an Audi Centre</a>
							</p>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="addOrder-orderFound" ng-if="isCurentView('orderFound')">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-11">
					<h2>We've found your order</h2>
				</div>
				<div class="col-xs-1">
					<button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-6">
					<h3 id="addOrder-orderFound-carDetails">
						<span class="carMake">{{orderDetails.make}}</span> <span class="carMmodel">{{orderDetails.model}}</span><br>
						<span class="myAudiExtendedNormal myAudiDefaultGreyText carVariant">{{orderDetails.modelVariant}}</span><br>
						<span class="myAudiExtendedNormal myAudiDefaultGreyText carColour">{{orderDetails.exteriorColour}}</span><br><br>
						<span class="myAudiExtendedNormal myAudiDefaultGreyText orderNumber">Order {{orderDetails.orderNumber}}</span>
					</h3>
				</div>
				<div class="col-xs-6">
					<img ng-src="{{carImageUrl}}" img-loader width="248" height="100"/>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row buttonMargins">
				<div class="col-xs-12">
					<button id="addOrder-orderFound-addOrderBtn" class="btn btn-primary pull-left" ng-click="doAddToAccount()">Add to my account</button>
					<button id="addOrder-orderFound-notMyBtn" class="btn btn-tertiary pull-right" ng-click="goToOrderLookup()">This is not my order</button>
				</div>
			</div>
		</div>
	</div>

	<div id="addOrder-orderOnAccount" ng-if="isCurentView('orderOnAccount')">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-11">
					<h2>This order is already registered to your account</h2>
				</div>
				<div class="col-xs-1">
					<button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-6">
					<h3 id="addOrder-orderOnAccount-carDetails">
						<span class="carMake">{{orderDetails.make}}</span> <span class="carMmodel">{{orderDetails.model}}</span><br>
						<span class="myAudiExtendedNormal myAudiDefaultGreyText carVariant">{{orderDetails.modelVariant}}</span><br>
						<span class="myAudiExtendedNormal myAudiDefaultGreyText carColour">{{orderDetails.exteriorColour}}</span><br><br>
						<span class="myAudiExtendedNormal myAudiDefaultGreyText orderNumber">Order {{orderDetails.orderNumber}}</span>
					</h3>
					<p>
						<button id="addOrder-viewOrderDetailsBtn" class="btn btn-primary" ng-click="goToManageOrder()">View order details</button>
					</p>
					<p>
					    <a id="addOrder-addAnotherBtn" ng-click="goToOrderLookup()">Add another order</a>
					</p>
				</div>
				<div class="col-xs-6">
					<img ng-src="{{carImageUrl}}" img-loader width="248" height="100"/>
				</div>
			</div>
		</div>
	</div>

	<div id="addOrder-orderAdded" ng-if="isCurentView('orderAdded')">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-11">
                    <h2 class="no-margins">Order added to your account</h2>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <span>Your order {{orderDetails.orderNumber}} has been succefully add to your account.</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row buttonMargins">
                <div class="col-xs-12">
                    <button id="addOrder-orderAdded-closeBtn" ng-click="modalClose()" class="btn btn-secondary">Close</button>
                </div>
            </div>
        </div>
    </div>

	<div id="addOrder-loading" ng-if="loading">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-1 col-xs-offset-11">
					<button type="button" class="close modal-close-btn" ng-click="modalDismiss()"><span aria-hidden="true">&times;</span><span class="accessibility">Close</span></button>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row" ng-show="loadingSearch">
				<div class="col-xs-8 col-xs-offset-2 text-center">
					<h2>Please wait a few moments while we find your order</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
				   <img src="/etc/audi-ui/apps/myAudi/img/loader-sm.gif">
				</div>
			</div>
		</div>
	</div>

</div>
