<div id="communicationPreferences">
	<h2>myAudi Preferences</h2>
	<h3>System specifications</h3>
	<p>From time to time this gets changed. Please change this when we have the right info...</p>
	<div class="row">
		<div class="col-xs-12">
			<div class="btn-group pull-right">
				<button 
					class="btn btn-default"
					ng-click="checkAll(true);" 
					type="button"> 
					Select all
				</button>
				<button 
					class="btn btn-default"
					ng-click="checkAll(false)" 
					type="button">
					Deselect all
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul class="preferences list-group">
				<li class="list-group-item">
					<input 
						class="pull-right"
						ng-change="updatePreferences()"
						ng-model="preferences.addedToMyGarage"
						type="checkbox"/> 
					<span>Notify me when a car was added to myAudi account</span>
				</li>
				<li class="list-group-item">
					<input 
					class="pull-right"
					ng-change="updatePreferences()"
					ng-model="preferences.removedFromMyGarage"
					type="checkbox"/> 
					<span>Notify me when a car was removed from myAudi account</span>
				</li>
				<li class="list-group-item">
					<input 
					class="pull-right"
					ng-change="updatePreferences()"
					ng-model="preferences.orderStatusChange"
					type="checkbox" />
					<span>Notify me of order status changes </span>
				</li>
				<li class="list-group-item">
					<input 
					class="pull-right"
					ng-change="updatePreferences()"
					ng-model="preferences.orderStatusComplete"
					type="checkbox" />
					<span>Notify me when an order is complete </span>
				</li>
			</ul>	
		</div>
	</div>
	<a ui-sref="myAudi.communicationPreferences.deleteAccount">Delete my account</a>
</div>