<div id="dashboard">

	 <div class="panel"  ng-if="loading">
        <div class="text-center">
        	<h2>Your dashboard is loading... </h2>
            <span audi-loader></span> 
        </div>
    </div>

	<div  ng-if="!hasOrders() && !hasCars() && !loading">
		<h1 class="h1 text-center">Welcome to your<span>Audi</span>
		</h1>
		<h2 class="text-center">To get started, add a car to your account <br />or track an order</h2>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-1">
				<div add-car narrow ng-model="addCar"></div>
			</div>
			<div class="col-xs-2 col-centered">
				<div class="divider h1">or</div>
			</div>
			<div class="col-xs-4">
				<div add-order narrow ng-model="addOrder"></div>
			</div>
		</div>
	</div>
	<div ng-if="hasOrders()">
		<a ui-sref="myAudi.dashboard.addOrder">+ Track another order</a>
		<div ng-repeat="order in orders" >
			<div order-summary="order"></div>
		</div>
	</div>
	<div ng-if="hasCars()">
		<a ui-sref="myAudi.dashboard.addCar">+ Add another car</a>
		<div ng-repeat="car in cars" >
			<div car-summary="car"></div>
		</div>
	</div>
	<div class="row" ng-if="hasCars() && !hasOrders()">
		<div class="col-xs-12">
			<div add-order ng-model="addOrderSlim"></div>
		</div>
	</div>
	<div class="row" ng-if="hasOrders() && !hasCars()">
		<div class="col-xs-12">
			<div add-car ng-model="addCarSlim"></div>
		</div>
	</div>
</div>