<div class="modal-body">
	<button 
		class="close modal-close-btn" 
		ng-click="modalDismiss()"
		type="button">
		<span aria-hidden="true">&times;</span>
		<span class="accessibility">Close</span>
	</button>
	<div ng-show="accountDeleting">
		<h2>Deleting your account</h2>
		<p>We are sorry to see you go</p>
	</div>
	<div ng-hide="accountDeleting">
	<h2 ng-if="deleteMsgError" class="alert alert-danger">Something went wrong, please try again</h2>
		<h2>Are you sure you want to delete your myAudi account?</h2>
		<p>Deleting your account will delete all of your data from myAudi. However data will still be held about you by our Customer Services team.</p>
		<p>If you wish for the data to be deleted, view our <a href="/footer/secondary/terms-and-conditions.html">privacy policy</a>.</p>
		<div class="row">
			<div class="col-xs-3">
				<button class="btn btn-primary" ng-click="deleteAccount()">Yes, delete my account</button>
			</div>
			<div class="col-xs-3">
				<button class="btn btn-secondary" ng-click="modalDismiss()">No, dont delete</button>
			</div>
		</div>
	</div>
</div>