<div id="manageOrder" class="myaudi-modal">
    <h1 class="accessibility">Manage Order Details</h1>
    <div class="row breadcrumbLinks">
        <div class="col-xs-12">
       <a class="myAudiExtendedNormal no-underline backToMyAudi" href="#" ui-sref="myAudi.dashboard">Back to yourAudi</a>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 orderHeader cq5ContentPadding">
            <h2>We've received your order</h2>
            <p class="myAudiExtendedNormal">We're preparing the factory line for your car's construction</p>
            <!-- <div class="socialIcons">
                <p>Tell your friends</p>
                <a
                    class="display-ib"
                    href="https://twitter.com/home?status=My%20car%20is%20in%20the%20factory%20being%20built!"
                    target="_blank">
                    <img src='/etc/audi-ui/apps/myAudi/img/twitter-logo.png'/>
                </a>
                <a
                    class="display-ib"
                    href="https://www.facebook.com/sharer/sharer.php?u=My%20car%20is%20in%20the%20factory%20being%20built!"
                    target="_blank">
                    <img src='/etc/audi-ui/apps/myAudi/img/facebook-logo.png'/>
                </a>
            </div> -->
        </div>
    </div>

    <div order-summary="order" mini></div>

    <div class="panel panel-default orderJourney">
        <div class="row">
            <div class="col-xs-12">
                <ul class="unstyled-list tabs">
                    <span indicator ng-model="currentPartial" />
                    <li  ng-class="{'currentStep' :  currentPartial == 'orderReceived'}">
                        <a href=""
                            id="manageorder-order-received"
                            ng-click="loadPartial('orderReceived')">Order received</a>
                    </li>
                    <li ng-class="{'currentStep' :  currentPartial == 'bodyShop'}">
                        <a href=""
                            id="manageorder-body-shop"
                            ng-click="loadPartial('bodyShop')">Body shop</a>
                    </li>
                    <li  ng-class="{'currentStep' :  currentPartial == 'paintShop'}">
                        <a href=""
                            id="manageorder-paint-shop"
                            ng-click="loadPartial('paintShop')">Paint shop</a>
                    </li>
                    <li  ng-class="{'currentStep' :  currentPartial == 'finalAssembly'}">
                        <a href=""
                            id="manageorder-final-assembly"
                            ng-click="loadPartial('finalAssembly')">Final assembly</a>
                    </li>
                    <li  ng-class="{'currentStep' :  currentPartial == 'qualityControl'}">
                        <a href=""
                            id="manageorder-quality-control"
                            ng-click="loadPartial('qualityControl')">Quality control</a>
                    </li>
                    <li  ng-class="{'currentStep' :  currentPartial == 'inTransit'}">
                        <a href=""
                            id="manageorder-in-transit"
                            ng-click="loadPartial('inTransit')">In transit</a>
                    </li>
                    <li  ng-class="{'currentStep' :  currentPartial == 'readyToCollect'}">
                        <a href=""
                            id="manageorder-ready-to-collect"
                            ng-click="loadPartial('readyToCollect')">Ready to collect</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="manageOrderPadding cq5Content">
            <div id="manageorder-content" content-loader ng-model="modalMode" info="modelInfo"> </div>
        </div>
        <div class="carDetails">
            <img src='/etc/audi-ui/apps/myAudi/img/audi-tt-roadster.png' width="235" height="125"/>
            <div class="carPerformance manageOrderPadding">
                <div class="row">
                    <div class="col-xs-3">
                        <h4 class="myAudiExtendedBold">Performance</h4>
                    </div>
                    <ul class="no-margins hideOverflow list-unstyled">
                        <li class="col-xs-2 text-center">
                            <span>180</span>ps
                            </br>
                            <span>Power</span>
                        </li>
                        <li class="col-xs-2 text-center">
                            <span>50.4</span>mpg
                            </br>
                            <span>Fuel consumption</span>
                        </li>
                         <li class="col-xs-2 text-center">
                            <span>129</span>g/km
                            </br>
                            <span>Emissions</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="carConfiguration manageOrderPadding">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="myAudiExtendedBold">
                            Configuration
                            <span class="myAudiExtendedNormal">
                                TT 2.0TFSI quattro S tronic
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <h3>Exterior</h3>
                        <dl class="no-margins hideOverflow">
                            <dt>Paint:</dt>
                            <dd>Rallye cloth</dd>
                            <dt>Seats:</dt>
                            <dd>Black</dd>
                            <dt>Dashboard:</dt>
                            <dd>Black-Black</dd>
                            <dt>Carpet:</dt>
                            <dd>Black</dd>
                            <dt>Headliner:</dt>
                            <dd>Lunar silver</dd>
                        </dl>
                    </div>
                    <div class="col-xs-4">
                        <h3>Interior</h3>
                        <dl class="no-margins hideOverflow">
                            <dt>Material:</dt>
                            <dd>Rallye cloth</dd>
                            <dt>Seats:</dt>
                            <dd>Black</dd>
                            <dt>Dashboard:</dt>
                            <dd>Black-Black</dd>
                            <dt>Carpet:</dt>
                            <dd>Black</dd>
                            <dt>Headliner:</dt>
                            <dd>Lunar silver</dd>
                        </dl>
                    </div>
                    <div class="col-xs-4">
                        <h3>Equipment</h3>
                        <ul class="unstyled-list">
                            <li>
                                <a href="#">Adaptive cruise control</a>
                            </li>
                            <li>
                                <a href="#">Audi Parking System Plus</a>
                            </li>
                            <li>
                                <a href="#">Comfort Package</a>
                            </li>
                            <li>
                                <a href="#">Technology Package</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

