<div id="manageCar" class="myaudi-modal">
    <h1 class="accessibility">Manage car details</h1>
    <div class="row breadcrumbLinks">
        <div class="col-xs-6">
            <a class="myAudiExtendedNormal no-underline backToMyAudi" href="#" ui-sref="myAudi.dashboard">Back to yourAudi</a>
        </div>
        <div class="col-xs-6">
            <a class="pull-right myAudiExtendedNormal no-underline" previous-car car-info="carInfo">No longer your car?</a>
        </div>
    </div>
    </br>
    <div ng-if="loading" class="row">
        <div class="col-xs-12 text-center" ng-if="loading">
            <h2 ng-bind-html="loadingMessage"></h2>
            <span audi-loader></span> 
        </div>
    </div>

    <div ng-if="!loading" car-summary="carInfo"></div>
    <div ng-if="!loading && carInfo.age < 1095 && carInfo.isAudi" class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-7">
                    <h2>Your Audi warranty</h2>
                    <p class="myAudiExtendedNormal audiWarranty lightgrey">
                        <span>3 years or 60,000 miles</span>
                        <span>Expires: {{carInfo.warrantyStartDate | date:'dd MMMM yyyy'}} </span>
                    </p>
                     <p>
                        Your Audi is covered by an authorised network warranty. You can contact your local
                        <a href="#">Audi Centre</a>
                        or any member of the
                        <a href="#">Audi authorised network</a>
                        , who will be able to carry out the necessary work, free of charge.
                    </p>
                     <a class="lead audiDifference link-bullet no-underline myAudiExtendedBold" href="#">
                        Experience
                        <span>The <span>Audi</span> Difference</span>
                    </a>
                </div>
                <div class="col-xs-5">
                    <div class="panel-body extraWarranty">
                        <h3>Want cover for longer</h3>
                        <ul class="unstyled-list list-style-audi">
                            <li>All repairs by Audi Authorised Dealers</li>
                            <li>Audi trained technicians</li>
                            <li>Audi genuine parts and specialist tools</li>
                        </ul>
                        <a class="link-bullet no-underline myAudiExtendedBold" href="#">Get a quotation online</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!loading && carInfo.age < 730 && carInfo.isAudi" class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-7">
                    <h2>Breakdown Cover</h2>
                    <p class="myAudiExtendedNormal lightgrey">
                        <span>Audi Roadside Assistance </span>
                        <span>Expires: {{carInfo.warrantyStartDate | date:'dd MMMM yyyy'}} </span>
                    </p>
                     <p>
                        Through our partnership with the AA, you have access to qualified Volkswagen Group dedicated Technicians, all in specially equipped vehicles. We’re also supported by the AA who have more dedicated patrols than all other UK breakdown services combined*, whose aim is to get you back on the road as fast as possible.
                    </p>
                    <p>
                        By working in conjunction with the AA, your call will be covered anywhere in the UK and across Europe 24 hours a day, 365 days a year. See terms and conditions for a full list of countries covered.

                    </p>
                    <p>
                        So in the unlikely event of a breakdown, we aim to get you back on the road in no time.
                    </p>
                    <p>
                        For more information read our <a href="#">Roadside Assistance handbook.</a>
                    </p>
                </div>
                <div class="col-xs-5">
                    <div class="panel-body extraWarranty">
                        <h3>Useful Numbers</h3>
                        <p> UK Breakdown <br/><strong>0800 699 999*</strong> </p>
                        <p>Alternative number for mobiles <br/> <strong>0800 699 999*</strong> </p>
                        <p>European Breakdown <br/> <strong>0800 699 999*</strong> </p>
                        <p>Alternative number for mobiles <br/> <strong>0800 699 999*</strong> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--
    <div ng-if="!loading" class="panel panel-default carPerformance">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3">
                    <h2>Performance</h2>
                </div>
                <ul class="no-margins hideOverflow list-unstyled">
                    <li class="col-xs-2 text-center" ng-if="carInfo.power">
                        <span>{{carInfo.power}}</span>ps
                        </br>
                        <span>Power</span>
                    </li>
                    <li class="col-xs-2 text-center" ng-if="carInfo.feulConsumptionAverage">
                        <span>{{carInfo.feulConsumptionAverage}}</span>mpg
                        </br>
                        <span>Fuel consumption</span>
                    </li>
                     <li class="col-xs-2 text-center" ng-if="carInfo.co2EmissionsAverage">
                        <span>{{carInfo.co2EmissionsAverage}}</span>g/km
                        </br>
                        <span>Emissions</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

-->

    <div ng-if="!loading && carInfo.isAudi" class="panel panel-default" id="fullSpecification">
        <div class="panel-body">
            <div class="row" id="fullSpec">
                <div class="col-xs-12">
                    <h2
                        class="pull-left"
                        ng-class="{'no-margins': !showSpec}">
                        Full Specification
                    </h2>
                    <span
                        class="glyphicon glyphicon-chevron-down pull-right"
                        ng-click="displaySpec()"
                        ng-if="!showSpec">
                    </span>
                    <span
                        class="glyphicon glyphicon-chevron-up pull-right"
                        ng-click="hideSpec()"
                        ng-if="showSpec">
                    </span>
                </div>
            </div>
            <div class="row" ng-if="showSpec">
                <div class="col-xs-12">
                    <table class="table table-striped">
                        <tbody>

                            <tr ng-repeat="(key, value) in carInfo">
                                <th ng-if="key !== 'equipmentList' &&  value !== '' && value !== null" >{{key}}</th>
                                <td ng-if="key !== 'equipmentList' &&  value !== '' && value !== null">{{ value }}</td>
                            </tr>

                            <tr ng-repeat="(key, value) in carInfo.equipmentList[0].salesFamilies[0].options[0]">
                                <th ng-if="value !== '' && value !== null" >{{key}}</th>
                                <td ng-if="value !== '' && value !== null" >{{ value }}</td>
                            </tr>
                            <tr ng-repeat="(key, value) in carInfo.equipmentList[0].salesFamilies[0].options[1]">
                                <th ng-if="value !== '' && value !== null" >{{key}}</th>
                                <td ng-if="value !== '' && value !== null" >{{ value }}</td>
                            </tr>

                            <tr ng-repeat="(key, value) in carInfo.equipmentList[0].salesFamilies[0].packages.options[0]">
                                <th ng-if="value !== '' && value !== null" >{{key}}</th>
                                <td ng-if="value !== '' && value !== null" >{{ value }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

