<div id="messages">
	<h2>My Messages
		<small 
			ng-show="unreadMessagesInfo.totalCount > 0">
			{{unreadMessagesInfo.totalCount}} new
		</small>
	</h2>
	<span 
		class="glyphicon glyphicon-refresh rotate360 loading" 
		ng-show="appLoading"
		ng-hide="authenticatedUser != true">
	</span>	

	<p ng-show="messagesListInfo.totalCount < 1">
		No messages at the moment.<br />Why not find out about some of Audi's latest innovations.
	</p>

	<p ng-show="authenticatedUser != true">
		Please log in to view your messages.
	</p>

	<ul 
		class="messageList" 
		ng-class="{'loadingState' : messagesLoading}"
		ng-hide="messagesListInfo.totalCount < 1 || appLoading" >
		<li>
			<div class="checkbox">
				<label>
					<input 
						ng-click="toggleAllMessages()"
						ng-model="checkAllValue"
						type="checkbox"/>
						Select all
				</label>
				<span ng-click="deleteMessages()">Delete selected</span>					
			</div>
		</li>
		<li 
			class="col-xs-12" 
 			ng-class="{'message-viewed': message.viewed, 'message-unread': !message.viewed}"
			ng-if="!message.deleted" 
			ng-model="messageIsopen"
			ng-repeat="message in messages"
			>
			<div class="row message-section">
				<div class="col-xs-1">
					<input 
						ng-click="toggleMessage(message)" 
						ng-model="message.checked" 
						type="checkbox"/>
					<i 
						class="glyphicon glyphicon-flag pull-right"
						ng-class="{'message-flagged': message.flagged}"
						ng-click="toggleFlag(message)">
					</i>
				</div>
				<div class="col-xs-9" ng-click="getMessage(message)">
					<h4>{{message.title}}</h4>
					<div collapse="!messageIsopen" class="message-body">
						<span>{{message.message}}</span>
					</div>							
				</div>
				<div class="col-xs-2">
					<span class="pull-right">
						<span ng-if="message.messageDateTime == today">Today</span>
						<span ng-if="message.messageDateTime == yesterday">Yesterday</span>
						<span ng-if="message.messageDateTime != today && message.messageDateTime != yesterday">{{message.messageDateTime}}</span>
					</span>
				</div>
			</div>
		</li>
	</ul>

	<div 
		class="text-center" 
		ng-hide="messagesListInfo.totalCount < 1 || appLoading">
		<pagination 
			boundary-links="true" 
			class="pagination-sm" 
			items-per-page="messagesListInfo.pageSize" 
			ng-change="getMessages(messagesListInfo.pageNumber)"
			ng-model="messagesListInfo.pageNumber"
			num-pages="numPages" 
			rotate="false" 
			total-items="messagesListInfo.totalCount">
		</pagination>
	</div>
</div>