<div class="myAccount">

    <div class="row">
        <div class="col-xs-6">
            <h2>Account Settings {{activeSection}}</h2>
        </div>
        <div class="col-xs-6">
            <span audi-loader  ng-show="appLoading || savingInProgress" class="pull-right"></span>
            <span ng-if="saveError" class="pull-right alert alert-danger">Something went wrong, please try saving again</span>
        </div>
    </div>

    <div ng-show="!appLoading">
        <div class="row section" ng-class="{'activeSection' : sections.personalInfo.edit}">
            <div class="col-xs-3">
                <h3>Personal information</h3>
            </div>
            <div class="col-xs-9">
                <div class="row" ng-hide="sections.personalInfo.edit">
                    <div class="col-xs-7">
                        <div id="sectionPersonalInfo-fullName">Full name: {{profileData.title}} {{profileData.forename}} {{profileData.surname}}</div>
                        <div id="sectionPersonalInfo-dob">Date of birth: {{profileData.dateOfBirth || 'Unknown' | date : 'dd MMMM yyyy' }}</div>
                       <!-- <div id="sectionPersonalInfo-profileImage">Profile image: {{profileData.profileVehicleVIN }}</div> -->
                    </div>
                    <div class="col-xs-5">
                        <p class="text-right" ng-hide="editing">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <a id="sectionPersonalInfo-editBtn" ng-click="editSectionStart('personalInfo')">Edit</a>
                        </p>
                    </div>
                </div>
                <div class="row" ng-show="sections.personalInfo.edit">
                    <div class="col-xs-12">
                        <!-- Edit personalInfoForm -->
                        <form
                            role="form"
                            name="personalInfoForm"
                            ng-submit="editSectionSave('personalInfo')"
                            novalidate
                            >
                            <div class="row">
                                <div class="col-xs-7">
                                    <label for="profile-title">Title*</label>
                                    <div
                                        class="form-group"
                                        ng-class="{
                                        'has-error': fieldHasError('personalInfoForm','title'),
                                        'has-success': fieldHasSuccess('personalInfoForm','title'),
                                        'has-feedback': fieldHasFeedback('personalInfoForm','title')
                                        }"
                                        >
                                        <select
                                            id="profile-title"
                                            name="title"
                                            class="form-control form-control-title"
                                            ng-model="profileData.title"
                                            ng-options="t as t for t in sections.personalInfo.titles"
                                            required
                                            sa-focus
                                        ></select>
                                        <div sal-form-feedback-icons form-name="personalInfoForm" field-name="title"></div>
                                    </div>
                                    <label for="profile-forename">First name*</label>
                                    <div
                                        class="form-group"
                                        ng-class="{
                                        'has-error': fieldHasError('personalInfoForm','forename'),
                                        'has-success': fieldHasSuccess('personalInfoForm','forename'),
                                        'has-feedback': fieldHasFeedback('personalInfoForm','forename')
                                        }"
                                        >
                                        <input
                                        id="profile-forename"
                                        name="forename"
                                        type="text"
                                        class="form-control"
                                        placeholder=""
                                        ng-model="profileData.forename"
                                        maxlength="60"
                                        ng-maxlength="60"
                                        ng-pattern="/^[a-zA-Z '\-]{2,}$/"
                                        required
                                        sa-focus
                                        >
                                        <div sal-form-feedback-icons form-name="personalInfoForm" field-name="forename"></div>
                                        <label
                                            id="personalInfoForm-error-forename"
                                            class="control-label error"
                                            for="profile-forename"
                                            ng-show="fieldHasError('personalInfoForm','forename')"
                                            >
                                            Please enter your first name, which must contain 2 or more characters
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label for="profile-surname">Last name*</label>
                                        <input
                                        id="profile-surname"
                                        name="surname"
                                        type="text"
                                        class="form-control"
                                        value="{{profileData.surname}}"
                                        disabled
                                        >
                                    </div>
                                    <div
                                        class="form-group"
                                        ng-class="{'has-error': personalInfoForm.submitted && personalInfoForm.dateOfBirth.$invalid}"
                                        >
                                        <label for="profile-dob-day">Date of birth</label>
                                        <input
                                        name="dateOfBirth"
                                        type="text"
                                        style="display:none"
                                        ng-model="profileData.dateOfBirth"
                                        >
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select
                                                    id="profile-dob-day"
                                                    class="form-control"
                                                    ng-options="day for day in sections.personalInfo.dob.options.days"
                                                    ng-model="profileData.dobFormated.day"
                                                    ng-change="changeDOB()"
                                                    >
                                                    <option value="">Day</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4" id="profile-dob-month-col">
                                                <select
                                                    id="profile-dob-month"
                                                    class="form-control"
                                                    ng-options="month as (month | monthName)  for month in sections.personalInfo.dob.options.months"
                                                    ng-model="profileData.dobFormated.month"
                                                    ng-change="changeDOB()"
                                                    >
                                                    <option value="">Month</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select
                                                    id="profile-dob-year"
                                                    class="form-control"
                                                    ng-options="year for year in sections.personalInfo.dob.options.years"
                                                    ng-model="profileData.dobFormated.year"
                                                    ng-change="changeDOB()"
                                                    >
                                                    <option value="">Year</option>
                                                </select>
                                            </div>
                                        </div>
                                        <label><small>You must be 16 or older to use myAudi</small></label>
                                        <label
                                            id="personalInfoForm-error-dob"
                                            class="control-label error"
                                            for="profile-dob-day"
                                            ng-show="personalInfoForm.submitted && personalInfoForm.dateOfBirth.$error.invalidDate"
                                            >
                                            Please select a valid date
                                        </label>
                                        <label
                                            id="personalInfoForm-error-age"
                                            class="control-label error"
                                            for="profile-dob-day"
                                            ng-show="personalInfoForm.submitted && personalInfoForm.dateOfBirth.$error.invalidAge"
                                            >
                                            You must be 16 years or older
                                        </label>
                                    </div>
                                  <!--  <div class="form-group">
                                        <label for="profile-image">Profile image</label>
                                    </div> -->
                                    <div class="form-group">
                                        <p>
                                        <input
                                        id="sectionPersonalInfo-submitBtn"
                                        type="submit"
                                        class="btn btn-primary"
                                        value="Save changes"
                                        ng-disabled="personalInfoForm.$waiting"
                                        >
                                        </p>
                                        <p>
                                        <a
                                            id="sectionPersonalInfo-cancelBtn"
                                            ng-click="editSectionCancel('personalInfo')"
                                        >Cancel</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section" ng-class="{'activeSection' : sections.address.edit}">
            <div class="col-xs-3">
                <h3>Address</h3>
            </div>
            <div class="col-xs-9">
                <div class="row" ng-hide="sections.address.edit">
                    <div class="col-xs-12" ng-show="isAddressEmpty()">
                        <button
                        id="sectionAddress-addAddrBtn"
                        type="button"
                        class="btn btn-primary"
                        ng-click="editSectionStart('address')"
                        ng-disabled="editing"
                        >
                        Add address
                        </button>
                    </div>
                    <div class="col-xs-7" ng-hide="isAddressEmpty()">
                        <address>
                            <div class="address1-address2">
                                <span id="sectionAddress-address1" class="address1">{{profileData.address1}}</span>
                                <br ng-show="profileData.address2 && profileData.address1.length > 4">
                                <span id="sectionAddress-address2" class="address2">{{profileData.address2}}</span>
                            </div>
                            <div id="sectionAddress-city" class="city">{{profileData.city}}</div>
                            <div id="sectionAddress-county" class="county" ng-show="profileData.county">{{profileData.county}}</div>
                            <div id="sectionAddress-postcode" class="postcode">{{profileData.postcode}}</div>
                        </address>
                    </div>
                    <div class="col-xs-5" ng-hide="isAddressEmpty()">
                        <p class="text-right" ng-hide="editing">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <a ng-click="editSectionStart('address')">Edit</a>
                        </p>
                    </div>
                </div>
                <div class="row" ng-show="sections.address.edit">
                    <div class="col-xs-7">
                        <!-- Lookup address by postcode - step 1 -->
                        <form
                            role="form"
                            name="addrLookup1"
                            ng-submit="doLookupAddressStep1()"
                            ng-show="sections.address.lookupForm.step1.visible"
                            novalidate
                            >
                            <div class="row">
                                <div class="col-xs-7">
                                    <label for="addr-lookup-house">House name / number</label>
                                    <div
                                        class="form-group"
                                        ng-class="{
                                        'has-error': fieldHasError('addrLookup1','house') && (addrLookup1.house.$viewValue != ''),
                                        'has-success': fieldHasSuccess('addrLookup1','house') && (addrLookup1.house.$viewValue != ''),
                                        'has-feedback': fieldHasFeedback('addrLookup1','house') && (addrLookup1.house.$viewValue != '')
                                        }"
                                        >
                                        <input
                                        id="addr-lookup-house"
                                        name="house"
                                        type="text"
                                        class="form-control"
                                        placeholder=""
                                        ng-model="profileData.address1"
                                        ng-pattern="/^[0-9a-zA-Z ',\-]+$/"
                                        >
                                        <div
                                            sal-form-feedback-icons
                                            ng-show="addrLookup1.house.$viewValue != ''"
                                            form-name="addrLookup1"
                                        field-name="house"></div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <label for="addr-lookup-postcode">Postcode *</label>
                                    <div
                                        class="form-group"
                                        ng-class="{
                                        'has-error': fieldHasError('addrLookup1','postcode'),
                                        'has-success': fieldHasSuccess('addrLookup1','postcode'),
                                        'has-feedback': fieldHasFeedback('addrLookup1','postcode')
                                        }"
                                        >
                                        <input
                                        id="addr-lookup-postcode"
                                        name="postcode"
                                        type="text"
                                        class="form-control"
                                        placeholder=""
                                        ng-model="profileData.postcode"
                                        ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
                                        required
                                        >
                                        <div sal-form-feedback-icons form-name="addrLookup1" field-name="postcode"></div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="form-group has-error"
                                ng-show="fieldHasError('addrLookup1','house') || fieldHasError('addrLookup1','postcode')"
                                >
                                <label
                                    id="addrLookup1-error-address1"
                                    class="control-label error"
                                    for="addr-house"
                                    ng-show="fieldHasError('addrLookup1','house') && addrLookup1.house.$error.pattern"
                                    >
                                    House name / number can only contain letters, numbers, spaces, hyphens and apostrophes.
                                </label>
                                <label
                                    id="addrLookup1-error-postcode-required"
                                    class="control-label error"
                                    for="addr-lookup-postcode"
                                    ng-show="fieldHasError('addrLookup1','postcode') && !addrLookup1.postcode.$error.pattern"
                                    >
                                    Please enter your postcode.
                                </label>
                                <label
                                    id="addrLookup1-error-postcode"
                                    class="control-label error"
                                    for="addr-lookup-postcode"
                                    ng-show="fieldHasError('addrLookup1','postcode') && addrLookup1.postcode.$error.pattern"
                                    >
                                    Please enter a valid postcode.
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <p>
                                        <input
                                        id="sectionAddress-lookup1-submitBtn"
                                        type="submit"
                                        class="btn btn-primary"
                                        value="Find my address"
                                        >
                                        <a
                                            id="sectionAddress-lookup1-editBtn"
                                            ng-click="editAddrManualClick()"
                                            ng-hide="sections.address.lookupForm.step2.visible"
                                            style="margin-left:10px"
                                        >Edit address manually</a>
                                        <a
                                            id="sectionAddress-lookup1-editBtn"
                                            ng-click="editAddrManualFromLookupClick()"
                                            ng-show="sections.address.lookupForm.step2.visible"
                                            style="margin-left:10px"
                                        >Edit address manually</a>
                                        </p>
                                        <p>
                                        <a
                                            id="sectionAddress-lookup1-cancelBtn"
                                            ng-click="editSectionCancel('address')"
                                            ng-hide="sections.address.lookupForm.step2.visible"
                                        >Cancel</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Lookup address by postcode - step 2 -->
                        <form
                            role="form"
                            name="addrLookup2"
                            ng-submit="doLookupAddressStep2()"
                            ng-if="sections.address.lookupForm.step2.visible"
                            >
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <select
                                            class="form-control"
                                            size="8"
                                            autocomplete="off"
                                            name="selectAddr"
                                            ng-model="sections.address.lookupForm.selectedAddr"
                                            ng-options="a.full for a in sections.address.lookupForm.foundAddresses track by a.ID"
                                            sa-focus-on="focusAddrSelect"
                                        ></select>
                                    </div>
                                    <div class="form-group">
                                        <p>
                                        <input
                                        id="sectionAddress-lookup2-submitBtn"
                                        type="submit"
                                        class="btn btn-primary"
                                        value="Save address"
                                        >
                                        </p>
                                        <p>
                                        <a
                                            id="sectionAddress-lookup2-cancelBtn"
                                            ng-click="editSectionCancel('address')"
                                        >Cancel</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Edit address manually -->
                        <form
                            role="form"
                            name="addrEditForm"
                            ng-show="sections.address.editForm.visible"
                            ng-submit="editSectionSave('address')"
                            novalidate
                            >
                            <label for="addr-house">House name / number *</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('addrEditForm','address1'),
                                'has-success': fieldHasSuccess('addrEditForm','address1'),
                                'has-feedback': fieldHasFeedback('addrEditForm','address1')
                                }"
                                >
                                <input
                                id="addr-house"
                                type="text"
                                name="address1"
                                class="form-control"
                                placeholder=""
                                ng-model="profileData.address1"
                                ng-pattern="/^[0-9a-zA-Z ',\-]+$/"
                                required
                                sa-focus
                                >
                                <div sal-form-feedback-icons form-name="addrEditForm" field-name="address1"></div>
                                <label
                                    id="addrEditForm-error-address1-required"
                                    class="control-label error"
                                    for="addr-house"
                                    ng-show="fieldHasError('addrEditForm','address1') && !addrEditForm.address1.$error.pattern"
                                    >
                                    Please enter your house name / number
                                </label>
                                <label
                                    id="addrEditForm-error-address1"
                                    class="control-label error"
                                    for="addr-house"
                                    ng-show="fieldHasError('addrEditForm','address1') && addrEditForm.address1.$error.pattern"
                                    >
                                    Allowed characters: letters, numbers, spaces, hyphens and apostrophes
                                </label>
                            </div>
                            <label for="addr-line2">Address line 2</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('addrEditForm','address2') && (addrEditForm.address2.$viewValue != ''),
                                'has-success': fieldHasSuccess('addrEditForm','address2') && (addrEditForm.address2.$viewValue != ''),
                                'has-feedback': fieldHasFeedback('addrEditForm','address2') && (addrEditForm.address2.$viewValue != '')
                                }"
                                >
                                <input
                                id="addr-line2"
                                type="text"
                                name="address2"
                                class="form-control"
                                placeholder=""
                                ng-model="profileData.address2"
                                ng-pattern="/^[0-9a-zA-Z ',\-]+$/"
                                sa-focus
                                >
                                <div
                                    sal-form-feedback-icons
                                    ng-show="addrEditForm.address2.$viewValue != ''"
                                    form-name="addrEditForm"
                                field-name="address2"></div>
                                <label
                                    id="addrEditForm-error-address2"
                                    class="control-label error"
                                    for="addr-line2"
                                    ng-show="fieldHasError('addrEditForm','address2') && addrEditForm.address2.$error.pattern && (addrEditForm.address2.$viewValue != '')"
                                    >
                                    Allowed characters: letters, numbers, spaces, hyphens and apostrophes
                                </label>
                            </div>
                            <label for="addr-city">City *</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('addrEditForm','city'),
                                'has-success': fieldHasSuccess('addrEditForm','city'),
                                'has-feedback': fieldHasFeedback('addrEditForm','city')
                                }"
                                >
                                <input
                                id="addr-city"
                                type="text"
                                name="city"
                                class="form-control"
                                placeholder=""
                                ng-model="profileData.city"
                                ng-pattern="/^[a-zA-Z '\-]{2,}$/"
                                required
                                sa-focus
                                >
                                <div sal-form-feedback-icons form-name="addrEditForm" field-name="city"></div>
                                <label
                                    id="addrEditForm-error-city-required"
                                    class="control-label error"
                                    for="addr-city"
                                    ng-show="fieldHasError('addrEditForm','city') && !addrEditForm.city.$error.pattern"
                                    >
                                    Please enter the city
                                </label>
                                <label
                                    id="addrEditForm-error-city"
                                    class="control-label error"
                                    for="addr-city"
                                    ng-show="fieldHasError('addrEditForm','city') && addrEditForm.city.$error.pattern"
                                    >
                                    Minimum 2 characters. Allowed characters: letters, spaces, hyphens and apostrophes
                                </label>
                            </div>
                            <label for="addr-county">County</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('addrEditForm','county') && (addrEditForm.county.$viewValue != ''),
                                'has-success': fieldHasSuccess('addrEditForm','county') && (addrEditForm.county.$viewValue != ''),
                                'has-feedback': fieldHasFeedback('addrEditForm','county') && (addrEditForm.county.$viewValue != '')
                                }"
                                >
                                <input
                                id="addr-county"
                                type="text"
                                name="county"
                                class="form-control"
                                placeholder=""
                                ng-model="profileData.county"
                                ng-pattern="/^[a-zA-Z ]*$/"
                                sa-focus
                                >
                                <div
                                    sal-form-feedback-icons
                                    ng-show="addrEditForm.county.$viewValue != ''"
                                    form-name="addrEditForm"
                                field-name="county"></div>
                                <label
                                    id="addrEditForm-error-county"
                                    class="control-label error"
                                    for="addr-county"
                                    ng-show="fieldHasError('addrEditForm','county') && addrEditForm.county.$error.pattern && (addrEditForm.county.$viewValue != '')"
                                    >
                                    Allowed characters: letters and spaces
                                </label>
                            </div>
                            <label for="addr-postcode">Postcode *</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('addrEditForm','postcode'),
                                'has-success': fieldHasSuccess('addrEditForm','postcode'),
                                'has-feedback': fieldHasFeedback('addrEditForm','postcode')
                                }"
                                >
                                <input
                                id="addr-postcode"
                                type="text"
                                name="postcode"
                                class="form-control"
                                placeholder=""
                                ng-model="profileData.postcode"
                                ng-pattern="/^([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? ?[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i"
                                required
                                sa-focus
                                >
                                <div sal-form-feedback-icons form-name="addrEditForm" field-name="postcode"></div>
                                <label
                                    id="addrEditForm-error-postcode-required"
                                    class="control-label error"
                                    for="addr-postcode"
                                    ng-show="fieldHasError('addrEditForm','postcode') && !addrEditForm.postcode.$error.pattern"
                                    >
                                    Please enter your postcode
                                </label>
                                <label
                                    id="addrEditForm-error-postcode"
                                    class="control-label error"
                                    for="addr-postcode"
                                    ng-show="fieldHasError('addrEditForm','postcode') && addrEditForm.postcode.$error.pattern"
                                    >
                                    Please enter a valid postcode
                                </label>
                            </div>
                            <div class="form-group">
                                <p>
                                <input
                                id="sectionAddress-edit-submitBtn"
                                type="submit"
                                class="btn btn-primary"
                                value="Save address"
                                ng-disabled="addressForm.$waiting"
                                >
                                <a
                                    id="sectionAddress-edit-lookupBtn"
                                    ng-click="goToLookupClick()"
                                    style="margin-left:10px"
                                >Go to postcode lookup</a>
                                </p>
                                <p>
                                <a
                                    id="sectionAddress-edit-cancelBtn"
                                    ng-click="editSectionCancel('address')"
                                >Cancel</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section" ng-class="{'activeSection' : sections.contact.edit}">
            <div class="col-xs-3">
                <h3>Contact</h3>
            </div>
            <div class="col-xs-9">
                <div class="row" ng-hide="sections.contact.edit">
                    <div class="col-xs-7">
                        <div id="sectionContact-homeNumber">Home: {{profileData.homePhoneNumber || 'Unknown'}}</div>
                        <div id="sectionContact-workNumber">Work: {{profileData.workPhoneNumber || 'Unknown'}}</div>
                        <div id="sectionContact-mobileNumber">Mobile: {{profileData.mobilePhoneNumber || 'Unknown'}}</div>
                        <div id="sectionContact-email">Email: {{profileData.email || 'Unknown'}}</div>
                    </div>
                    <div class="col-xs-5">
                        <p class="text-right" ng-hide="editing">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <a id="sectionContact-editBtn" ng-click="editSectionStart('contact')">Edit</a>
                        </p>
                    </div>
                </div>
                <div class="row" ng-show="sections.contact.edit">
                    <div class="col-xs-7">
                        <!-- Edit contactForm -->
                        <form
                            role="form"
                            name="contactForm"
                            ng-submit="editSectionSave('contact')"
                            novalidate
                            >
                            <label for="contactForm-homeTel">Home number</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('contactForm','homeTel') && (contactForm.homeTel.$viewValue != ''),
                                'has-success': fieldHasSuccess('contactForm','homeTel') && (contactForm.homeTel.$viewValue != ''),
                                'has-feedback': fieldHasFeedback('contactForm','homeTel') && (contactForm.homeTel.$viewValue != '')
                                }"
                                >
                                
                                <input ng-model="profileData.homePhoneNumber"
                                id="contactForm-homeTel"
                                type="text"
                                name="homeTel"
                                class="form-control"
                                placeholder="02081234567"
                                
                                ng-pattern="/^0[0-9]{10,}$/"
                                sa-focus
                                >
                                <div
                                    sal-form-feedback-icons
                                    ng-show="contactForm.homeTel.$viewValue != ''"
                                    form-name="contactForm"
                                field-name="homeTel"></div>
                                <label
                                    id="contactForm-error-homeTel"
                                    class="control-label error"
                                    for="addr-line2"
                                    ng-show="fieldHasError('contactForm','homeTel') && contactForm.homeTel.$error.pattern && (contactForm.homeTel.$viewValue != '')"
                                    >
                                    Home number must begin with 0 and consist of at least 11 digits
                                </label>
                            </div>
                            <label for="contactForm-workTel">Work number</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('contactForm','workTel') && (contactForm.workTel.$viewValue != ''),
                                'has-success': fieldHasSuccess('contactForm','workTel') && (contactForm.workTel.$viewValue != ''),
                                'has-feedback': fieldHasFeedback('contactForm','workTel') && (contactForm.workTel.$viewValue != '')
                                }"
                                >
                                <input
                                id="contactForm-workTel"
                                type="text"
                                name="workTel"
                                class="form-control"
                                placeholder="02081234567"
                                ng-model="profileData.workPhoneNumber"
                                ng-pattern="/^0[0-9]{10,}$/"
                                sa-focus
                                >
                                <div
                                    sal-form-feedback-icons
                                    ng-show="contactForm.workTel.$viewValue != ''"
                                    form-name="contactForm"
                                field-name="workTel"></div>
                                <label
                                    id="contactForm-error-workTel"
                                    class="control-label error"
                                    for="addr-line2"
                                    ng-show="fieldHasError('contactForm','workTel') && contactForm.workTel.$error.pattern && (contactForm.workTel.$viewValue != '')"
                                    >
                                    Work number must begin with 0 and consist of at least 11 digits
                                </label>
                            </div>
                            <label for="contactForm-mobile">Mobile number</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('contactForm','mobile') && (contactForm.mobile.$viewValue != ''),
                                'has-success': fieldHasSuccess('contactForm','mobile') && (contactForm.mobile.$viewValue != ''),
                                'has-feedback': fieldHasFeedback('contactForm','mobile') && (contactForm.mobile.$viewValue != '')
                                }"
                                >
                                <input
                                id="contactForm-mobile"
                                type="text"
                                name="mobile"
                                class="form-control"
                                placeholder="07123456789"
                                ng-model="profileData.mobilePhoneNumber"
                                ng-pattern="/^0[0-9]{10}$/"
                                sa-focus
                                >
                                <div
                                    sal-form-feedback-icons
                                    ng-show="contactForm.mobile.$viewValue != ''"
                                    form-name="contactForm"
                                field-name="mobile"></div>
                                <label
                                    id="contactForm-error-mobile"
                                    class="control-label error"
                                    for="contactForm-mobile"
                                    ng-show="fieldHasError('contactForm','mobile') && contactForm.mobile.$error.pattern && (contactForm.mobile.$viewValue != '')"
                                    >
                                    Mobile number must begin with 0 and consist of 11 digits
                                </label>
                            </div>
                            <label for="contactForm-email">Email *</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('contactForm','email'),
                                'has-success': fieldHasSuccess('contactForm','email'),
                                'has-feedback': fieldHasFeedback('contactForm','email')
                                }"
                                >
                                <input
                                id="contactForm-email"
                                name="email"
                                type="email"
                                class="form-control"
                                placeholder=""
                                maxlength="60"
                                ng-model="profileData.email"
                                ng-minlength="2"
                                ng-maxlength="60"
                                sa-focus
                                required
                                sal-email-unique
                                >
                                <div sal-form-feedback-icons form-name="contactForm" field-name="email"></div>
                                <label
                                    id="contactForm-error-email"
                                    class="control-label error"
                                    for="contactForm-email"
                                    ng-show="fieldHasError('contactForm','email') && !contactForm.email.$error.emailUsed"
                                    >
                                    Please enter a valid email address
                                </label>
                                <label
                                    id="contactForm-error-email-used"
                                    class="control-label error"
                                    for="contactForm-email"
                                    ng-show="fieldHasError('contactForm','email') && contactForm.email.$error.emailUsed"
                                    >
                                    This email address is already in use, would you like to <a href="http://www.audi.co.uk.5.uat.nativ-systems.com/content/audi/ui-testapps/myaudi-login.html#!/account/forgotpassword">reset the password</a>?
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>
                                    <input
                                    id="sectionContact-submitBtn"
                                    type="submit"
                                    class="btn btn-primary"
                                    value="Save changes"
                                    ng-disabled="contactForm.$waiting"
                                    >
                                    </p>
                                    <p>
                                    <a
                                        id="sectionContact-cancelBtn"
                                        ng-click="editSectionCancel('contact')"
                                    >Cancel</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row section" ng-class="{'activeSection' : sections.password.edit}">
            <div class="col-xs-3">
                <h3>Password</h3>
            </div>
            <div class="col-xs-9">
                <div class="row" ng-hide="sections.password.edit">
                    <div class="col-xs-7">
                        <span class="webSafeFont">
                        &#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;
                        </span>
                    </div>
                    <div class="col-xs-5">
                        <p class="text-right" ng-hide="editing">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <a id="sectionPassword-editBtn" ng-click="editSectionStart('password')">Edit</a>
                        </p>
                    </div>
                </div>
                <div class="row" ng-show="sections.password.edit">
                    <div class="col-xs-7">
                        <!-- Edit passwordForm -->
                        <form
                            role="form"
                            name="passwordForm"
                            ng-submit="editSectionSave('password')"
                            novalidate
                            >
                            <label for="passwordForm-passwordOld">Enter your existing password</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('passwordForm','passwordOld'),
                                'has-success': fieldHasSuccess('passwordForm','passwordOld'),
                                'has-feedback': fieldHasFeedback('passwordForm','passwordOld')
                                }"
                                >
                                <input
                                id="passwordForm-passwordOld"
                                name="passwordOld"
                                type="password"
                                class="form-control"
                                ng-model="profileData.passwordOld"
                                required
                                sa-focus
                                >
                                <div sal-form-feedback-icons form-name="passwordForm" field-name="passwordOld"></div>
                                <label
                                    id="passwordForm-error-old-required"
                                    class="control-label error"
                                    for="passwordForm-passwordOld"
                                    ng-show="fieldHasError('passwordForm','passwordOld')"
                                    >
                                    Please enter your password
                                </label>
                            </div>
                            <label for="passwordForm-password">Enter your new password</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('passwordForm','password'),
                                'has-success': fieldHasSuccess('passwordForm','password'),
                                'has-feedback': fieldHasFeedback('passwordForm','password')
                                }"
                                >
                                <input
                                id="passwordForm-password"
                                name="password"
                                type="password"
                                class="form-control"
                                ng-model="profileData.password"
                                required
                                sal-password-popover="passwordPopoverContent"
                                popover-html-unsafe="{{passwordPopoverContent}}"
                                popover-placement="right"
                                popover-trigger="focus"
                                popover-append-to-body
                                sal-password-validate=""
                                sa-focus
                                >
                                <div sal-form-feedback-icons form-name="passwordForm" field-name="password"></div>
                                <label
                                    id="passwordForm-error-new-required"
                                    class="control-label error"
                                    for="passwordForm-password"
                                    ng-show="fieldHasError('passwordForm','password')"
                                    >
                                    Please enter a new password
                                </label>
                            </div>
                            <label for="passwordForm-passwordRepeat">Repeat your new password</label>
                            <div
                                class="form-group"
                                ng-class="{
                                'has-error': fieldHasError('passwordForm','passwordRepeat'),
                                'has-success': fieldHasSuccess('passwordForm','passwordRepeat'),
                                'has-feedback': fieldHasFeedback('passwordForm','passwordRepeat')
                                }"
                                >
                                <input
                                id="passwordForm-passwordRepeat"
                                name="passwordRepeat"
                                type="password"
                                class="form-control"
                                ng-model="profileData.passwordRepeat"
                                sal-password-repeat="profileData.password"
                                required
                                sa-focus
                                >
                                <div sal-form-feedback-icons form-name="passwordForm" field-name="passwordRepeat"></div>
                                <label
                                    id="passwordForm-error-repeat-required"
                                    class="control-label error"
                                    for="passwordForm-passwordRepeat"
                                    ng-show="fieldHasError('passwordForm','passwordRepeat') && !passwordForm.passwordRepeat.$error.different"
                                    >
                                    Please re-enter a password
                                </label>
                                <label
                                    id="passwordForm-error-repeat"
                                    class="control-label error"
                                    for="passwordForm-passwordRepeat"
                                    ng-show="fieldHasError('passwordForm','passwordRepeat') && passwordForm.passwordRepeat.$error.different"
                                    >
                                    Passwords don't match
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p>
                                    <input
                                    id="sectionPassword-submitBtn"
                                    type="submit"
                                    class="btn btn-primary"
                                    value="Save changes"
                                    ng-disabled="passwordForm.$waiting"
                                    >
                                    </p>
                                    <p>
                                    <a
                                        id="sectionPassword-cancelBtn"
                                        ng-click="editSectionCancel('password')"
                                    >Cancel</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section" ng-class="{'activeSection' : sections.marketingPermissions.edit}">
            <div class="col-xs-3">
                <h3>Marketing permissions</h3>
            </div>
            <div class="col-xs-9">
                <div class="row" ng-hide="sections.marketingPermissions.edit">
                    <div class="col-xs-10">
                        <p>By giving Audi your contact details, you're agreeing that Volkswagen Group UK Ltd (trading as Audi UK), our Authorised Dealer Network, or our agents, may contact you from time to time, by email, post, or telephone regarding our other Audi products, services and offers which may be of interest to you. We may also contact you for market research purposes</p>
                        <p>We do not sell or share your information with third parties.</p>
                        <div class="checkbox-inline cursor-no-pointer">
                            <span class="glyphicon"
                            ng-class="{
                                'glyphicon-ok'     : commPrefData.mailOptIn,
                                'glyphicon-remove' : !commPrefData.mailOptIn
                            }"></span> Post
                        </div>
                        <div class="checkbox-inline cursor-no-pointer">
                            <span class="glyphicon"
                            ng-class="{
                                'glyphicon-ok'     : commPrefData.phoneOptIn,
                                'glyphicon-remove' : !commPrefData.phoneOptIn
                            }"></span> Telephone
                        </div>
                        <div class="checkbox-inline cursor-no-pointer">
                            <span class="glyphicon" ng-class="{
                                'glyphicon-ok'     : commPrefData.emailOptIn,
                                'glyphicon-remove' : !commPrefData.emailOptIn
                            }"></span> Email
                        </div>
                        <div class="checkbox-inline cursor-no-pointer">
                            <span class="glyphicon" ng-class="{
                                'glyphicon-ok'     : commPrefData.smsOptIn,
                                'glyphicon-remove' : !commPrefData.smsOptIn
                            }"></span> SMS
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <p class="text-right" ng-hide="editing">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <a id="sectionPersonalInfo-editBtn" ng-click="editSectionStart('marketingPermissions')">Edit</a>
                        </p>
                    </div>
                </div>
                <div class="row" ng-show="sections.marketingPermissions.edit">
                    <div class="col-xs-10">
                        <p>By giving Audi your contact details, you're agreeing that Volkswagen Group UK Ltd (trading as Audi UK), our Authorised Dealer Network, or our agents, may contact you from time to time, by email, post, or telephone regarding our other Audi products, services and offers which may be of interest to you. We may also contact you for market research purposes</p>
                        <p>We do not sell or share your information with third parties.</p>
                        <p>If you wish to receive information about Audi products, services and offers please select the relevant box:</p>
                        <form
                            role="form"
                            name="marketingPermissionsForm"
                            ng-submit="editSectionSave('marketingPermissions')"
                            novalidate
                            >
                            
                            
                            
                            <div class="form-group" >
                                <div class="checkbox-inline">
                                    <label>
                                        <input type="checkbox" ng-model="commPrefData.mailOptIn">Post
                                    </label>
                                </div>
                                <div class="checkbox-inline">
                                    <label>
                                        <input type="checkbox" ng-model="commPrefData.phoneOptIn">Telephone
                                    </label>
                                </div>
                                <div class="checkbox-inline">
                                    <label>
                                        <input type="checkbox" ng-model="commPrefData.emailOptIn">Email
                                    </label>
                                </div>
                                <div class="checkbox-inline">
                                    <label>
                                        <input type="checkbox" ng-model="commPrefData.smsOptIn">SMS
                                    </label>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <p>
                                <input
                                id="sectionPersonalInfo-submitBtn"
                                type="submit"
                                class="btn btn-primary"
                                value="Save changes"
                                ng-disabled="marketingPermissionsForm.$waiting"
                                >
                                </p>
                                <p>
                                <a
                                    id="sectionPersonalInfo-cancelBtn"
                                    ng-click="editSectionCancel('marketingPermissions')"
                                >Cancel</a>
                                </p>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Marketing permissions -->
        <div class="row section" ng-class="{'activeSection' : sections.systemNotifications.edit}">
            <div class="col-xs-3">
                <h3>System notifications</h3>
            </div>
            <div class="col-xs-9">
                <div class="row" ng-hide="sections.systemNotifications.edit">
                    <div class="col-xs-10">
                        <p>From time to time myAudi UK may send you system notifications about your account to your message inbox. If your wish to recieve these notifcations through other channels</p>
                        
                        
                        
                        <div class="checkbox-inline cursor-no-pointer"   >
                            <span class="glyphicon" ng-class="
                            {'glyphicon-ok':commPrefData.sysMsgEmail,
                            'glyphicon-remove':!commPrefData.sysMsgEmail
                            }"></span> Email
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <p class="text-right" ng-hide="editing">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <a id="sectionPersonalInfo-editBtn" ng-click="editSectionStart('systemNotifications')">Edit</a>
                        </p>
                    </div>
                </div>
                <div class="row" ng-show="sections.systemNotifications.edit">
                    <div class="col-xs-10">
                        <p>From time to time myAudi UK may send you system notifications about your account to your message inbox. If your wish to recieve these notifcations through other channels, please select the relevant box:</p>
                        <form
                            role="form"
                            name="systemNotificationsForm"
                            ng-submit="editSectionSave('systemNotifications')"
                            novalidate
                            >
                            
                            
                            
                            <div class="form-group" >
                                
                                <div class="checkbox-inline">
                                    <label>
                                        <input type="checkbox" ng-model="commPrefData.sysMsgEmail">Email
                                    </label>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <p>
                                <input
                                id="sectionPersonalInfo-submitBtn"
                                type="submit"
                                class="btn btn-primary"
                                value="Save changes"
                                ng-disabled="systemNotificationsForm.$waiting"
                                >
                                </p>
                                <p>
                                <a
                                    id="sectionPersonalInfo-cancelBtn"
                                    ng-click="editSectionCancel('systemNotifications')"
                                >Cancel</a>
                                </p>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <a ui-sref="myAudi.mydetails.deleteAccount">Delete my account</a>
        </div>
    </div>
</div>