@import "../../../../global/styles/scss/bootstrap-custom/variables";

#myAudiHeader {

	.myAudiHeaderBG {
		background:#EBEFF0;
		padding:10px 0;
	}
	.display-table {display:table}

	.profile-img,
	.profile,
	.message-info {
		display:table-cell;
		vertical-align:bottom;
	}

	.profile {padding:0 20px 0 10px}

	.dropdown-menu {
		padding:0 10px;

		li {border-top:1px solid #ddd}
		li:first-child {border-top:none}

		.dropdown-links {
			text-decoration:none;
			padding:0
		}
		.dropdown-links:hover {
			color:$audi-red-color;
			background:none;
		}
		.btn-primary {
			color:#fff;
			margin:10px 0;
		}
		li:first-child,
		.dropdown-links {padding:10px 0}
	}

	.logo {font-family: "audiType_extended_bold"}

	.logo,
	.alternative-color {color:#222}

	.alternative-color:hover {color:$audi-red-color}

	.no-underline {text-decoration:none}

	.glyphicon-play,
	.logo span {color:$audi-red-color}

	.glyphicon-play,
	.glyphicon-chevron-down {font-size:8px}

	.glyphicon-envelope,
	.glyphicon-play,	
	.check-messages {padding-right:5px}
	
	.glyphicon-chevron-down {padding-left:5px}

	.logo,
	.login-register {display:inline-block}

	.logo {padding-right:10px}
	.login-register {padding-left:10px}

}