<div class="myAudiHeaderBG">
	<div class="container">
		<div class="display-table" ng-show="authenticatedUser">
			<img class="profile-img" src="/etc/audi-ui/apps/myaudi-header/img/profile-car.jpg" />

			<div class="profile">
				<span class="text-muted">Welcome back,</span> 

				<span class="dropdown" on-toggle="toggled(open)">
					<a href class="dropdown-toggle alternative-color">
						{{profileData.forename}}<i class="glyphicon glyphicon-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>{{profileData.forename}} {{profileData.surname}}</li>
						<li>
							<a class="btn btn-primary btn-block" href="{{accountURL}}" target="_parent">yourAudi</a>
						</li>					
						<li>
							<a class="dropdown-links" href="{{accountSettingsURL}}" target="_parent">Account settings</a>
						</li>
						<li>
							<a class="dropdown-links" href="" target="_parent" ng-click="logout()">Logout</a>		
						</li>
					</ul>
				</span>
			</div>

			<div class="message-info clearfix">
				<a href="{{messagesURL}}" class="check-messages text-muted no-underline" target="_parent"><i class="glyphicon glyphicon-envelope"></i>Messages</a>
				<a href="{{messagesURL}}" class="alternative-color" ng-if="unreadMessagesInfo.totalCount > 0" target="_parent">
					{{unreadMessagesInfo.totalCount}} unread
				</a>
			</div>
		</div>

		<div ng-show="!authenticatedUser">
			<div class="logo">your<span>Audi</span></div>
			<span class="text-muted">Track your order and view your details</span>
			<div class="login-register">
				<a href="{{loginURL}}" class="alternative-color no-underline" target="_parent"><i class="glyphicon glyphicon-play"></i>Log in / register</a>
			</div>
		</div>
	</div>
</div>
