<div
  class="modelCarousel" ng-class="{'carouselOff' :carouselMode == false}"
  >
  <div ng-class="{'container' :carouselMode }">
    <div class="row">
      <div class="col-xs-12">
        <ul class="classificationNodes pull-left" ng-if="!navOverrideText">
          
          <li
            ng-repeat="classificationNode in classificationNodes"
            class="selector {{classificationNode.code}}"
            ng-class="{'active': classificationNode.active}"
            >
            <a href="#" ng-click="setCars(classificationNode,$event)"
              analytics-on="click"
              analytics-properties="{
              modelCarousel: '{{carouselname}}__{{classificationNode.code}}'
              }">
              {{classificationNode.title}}
            </a>
            
          </li>
          
        </ul>
        <div ng-if="navOverrideText" class="pull-left">
          <strong>{{navOverrideText}}</strong>
        </div>
        
        <div class="pull-right" ng-if="ctaButton">
          <a href="{{ctaButton.url}}" class="btn btn-primary">{{ctaButton.text}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="slideContainer">
        <div class="carCarousel" ng-class="{'carCarousel': carouselMode}" id="{{carouselID}}">
          <div>
            <ul ng-if="carouselMode">
              <li ng-repeat="item in currentItems">
                <a ng-href="{{item.url}}"   analytics-on="click"
                  analytics-properties="{
                  modelCarousel: '{{carouselname}}__{{item.itemType}}__{{item.name}}'
                  }"
                  ><img   ng-src="{{item.cdnImageSidePath}}" width="210" height="85" >
                  <div class="modelLabel"><span ng-if="item.itemType=='range'">Range </span>{{item.name}}</div>
                </a></li>
              </ul>
              <div  ng-if="!carouselMode">
                <div  class="row"  ng-repeat="rows in currentItems | partition:3">
                  <div class="col-xs-4" ng-repeat="item in rows">
                    <a ng-href="{{item.url}}"  analytics-on="click"
                      analytics-properties="{
                      modelCarousel: '{{carouselname}}__{{item.itemType}}__{{item.name}}'
                      }"
                      ><img ng-src="{{item.cdnImageSidePath}}" width="210" height="85" >
                      <div class="modelLabel"><span ng-if="item.itemType=='range'">Range </span>{{item.name}}</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>