<div class="container">

	<div ng-show="isAlertVisible()" class="alert alert-danger" role="alert">
		{{alertMessage}}
	</div>

	<div class="myaudi-login-width" ng-class="{'center-block': !isLandingPage()}">
		<h1 class="text-hide">yourAudi
			<img src="/etc/audi-ui/apps/myaudi-login/img/logo.png">
		</h1>
	</div>

	<div class="row">
		<div id="learn-more" class="col-xs-7" ng-show="isLandingPage()">
			<div ui-view="learnMoreView"></div>
		</div>

	 	<div ng-class="{'col-xs-5': isLandingPage()}">
			<div id="myaudi-login-wrapper" class="myaudi-login-width center-block">
				<div class="row">
					<div class="col-xs-12">
						<div ui-view="messageView"></div>
					</div>
				</div>

				<div class="row" ui-view></div>
			</div>
		</div>		
	</div>

</div>