<div class="btn-group">
             				<button ng-if="item.hidden" type="button"  ng-click="hideRow(item,false)" class="btn btn-default btn-xs btn-xs" title="Show"><i class="glyphicon glyphicon-ok-sign"></i></button>
                            <button ng-if="!item.hidden" type="button"  ng-click="hideRow(item,true)" class="btn btn-default btn-xs" title="Hide item"><i class="glyphicon glyphicon-ban-circle"></i></button>
                            <button ng-if="!item.delete"type="button" ng-click="deleteRow(item,true)" class="btn btn-default btn-xs"  title="Delete"><i class="glyphicon glyphicon-trash"></i></button>
                            <button ng-if="item.delete" type="button" ng-click="deleteRow(item,false)" class="btn btn-default btn-xs"  title="Un-delete"><i class="glyphicon glyphicon-ok"></i></button>
                
</div>