<div class="btn-group">
                         <button type="button" ng-disabled="indx==0"  ng-click="sortOrder(base,item,'up')" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-arrow-up"></i></button>

                            <button type="button"  ng-disabled="indx==base.length-1"  ng-click="sortOrder(base,item,'down')" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-arrow-down"></i></button>
                
</div>