<div id="directionInput">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-11">
                <h2>Enter your location</h2>
            </div>
            <div class="col-xs-1">
                <button type="button" class="close" ng-click="close()">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
            	<p ng-show="(origin != null && origin != ' ')" class="ng-hide">
                    {{origin}} is not found. please try another location or postcode.
                </p>
            	<p ng-show="(origin == ' ')" class="ng-hide">
                    Please enter some location or postcode to see the directions.
                </p>
                <input 
                    class="form-control" 
                    ng-model="obj.origin" 
                    placeholder="Enter your postcode or location"/>
                {{obj.origin}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-tertiary" ng-click="submit()">Ok</button>
            </div>
        </div>
    </div>
</div>

