<div class="container error-screen">
	<div class="row">
		<div class="col-xs-12">
			<h2>
				Sorry, this service is not currently working. <br/>
				Please contact your local centre for a quote.
			</h2>
		</div>
	</div>
	<div class="row buttons">
		<div class="col-xs-12">
			<button
				type="button"
				class="btn btn-default btn-lg btn-secondary"
				ng-click="backToRanges()"
			>
				Go back to ranges
			</button>
			<button type="button" class="btn btn-default btn-lg btn-secondary" ng-click="findLocalDealer()">
				Find a local dealer
			</button>
			<button type="button" class="btn btn-default btn-lg btn-secondary" ng-click="arrangeTestDrive()">
				Arrange a test drive
			</button>
			<button
				type="button"
				class="btn btn-default btn-lg btn-secondary"
				ng-click="learnMore()"
                analytics-on="click"
                analytics-properties="{
                  pageTitle: 'Learn more about Finance',
                  url: 'finance-calculator/error-terms-and-conditions'
                }"
			>
				Learn more about finance
			</button>
		</div>
	</div>
</div>