<div class="row">
    <div class="col-xs-5">
        <h4 class="myAudiExtendedBold">your {{info.model}} is {{info.description}}</h4>
    </div>
    <div class="col-xs-7">
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        <p>Audi ultra brings together specialist Audi knowledge and the latest innovations to create our most optimised models yet.</p>
    </div>
</div>
<div class="row cq5ContentPadding">
    <div class="col-xs-12 text-center">
        <img src="/etc/audi-ui/apps/myAudi/img/cq5-test-content.png"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5 contentBorder no-padding">
        <h5 class="myAudiExtendedBold">Ultra lightweight chassis</h5>
        <p>Audi ultra brings together specialist Audi knowledge and the latest innovations to create our most optimised models yet.</p>
    </div>
    <div class="col-xs-5 no-padding">
        <img class="imgWidth" src="/etc/audi-ui/apps/myAudi/img/cq5-test-content-1.png"/>
    </div>
    <div class="col-xs-1">
    </div>
</div>
<div class="row cq5ContentPadding">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5 no-padding">
        <img class="imgWidth" src="/etc/audi-ui/apps/myAudi/img/cq5-test-content-2.png"/>
    </div>
    <div class="col-xs-5 contentBorder no-padding topContentMargin">
        <div class="contentIndent">
            <h5 class="myAudiExtendedBold">Aerodynamics</h5>
            <p>A car's shape can have a significant effect on its efficiency. It's why we've worked to make the Audi TT as aerodynamic as possible</p>
        </div>
    </div>
    <div class="col-xs-1">
    </div>
</div>
<div class="brochureInfo">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8 text-center">
                 <p class="myAudiExtendedBold">Download the TT roadster brochure, then explore even further with the Audi Vision app</p>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <img src="/etc/audi-ui/apps/myAudi/img/cq5-test-content-3.png"/>
                <div class="contentIndent display-ib text-right">
                    <h5 class="myAudiExtendedBold">The TT Brochure</h5>
                    <a
                        class="no-underline myAudiExtendedNormal"
                        href="https://www.audi.co.uk/content/dam/audi/production/PDF/PriceAndSpecGuides/tt-coupe-roadster.pdf"
                        target="_blank">
                        Download PDF
                    </a>
                </div>
            </div>
            <div class="col-xs-6 ">
                <img src="/etc/audi-ui/apps/myAudi/img/cq5-test-content-3.png"/>
                <div class="contentIndent display-ib text-right">
                    <h5 class="myAudiExtendedBold">The Audi Vision app</h5>
                    <a href="" class="no-underline myAudiExtendedNormal downloadAppLink">Download</a>
                    <span class="display-ib">
                        <img src="/etc/audi-ui/apps/myAudi/img/apple-logo.png"/>
                    </span>
                    <span class="display-ib" >
                        <img src="/etc/audi-ui/apps/myAudi/img/android-logo.png"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>