//@import "../../../../global/styles/scss/partials/_includesForApps";

/* Transitions */
// ****
// Temporarily disabled transitions as requested by Andy (abirchwood@salmon.com)
// ~ Michal (mwilkosinski@salmon.com)
// ****
//[ui-view] {
//	&.ng-enter, &.ng-leave {
//		@include transition-property(all);
//		@include transition-duration(.5s);
//		@include transition-timing-function(ease-in-out);
//	}
//
//	&.ng-enter {
//		opacity: 0;
//		@include scale3d(0.5, 0.5, 0.5);
//	}
//
//	&.ng-enter-active {
//		opacity: 1;
//		@include scale3d(1, 1, 1);
//	}
//
//	&.ng-leave {
//		opacity: 1;
//		@include translate3d(0, 0, 0);
//	}
//
//	&.ng-leave-active {
//		opacity: 0;
//		@include translate3d(-100%, 0, 0);
//	}
//
//	/* This makes the transitions happen over the top of one another */
//	[ui-view].ng-leave {
//		position: absolute;
//	}
//}




@keyframes rotateSpinner{
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 359deg ); }
}

@-webkit-keyframes rotateSpinner {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}


.rotate360 {
    animation-name: rotateSpinner;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation: rotateSpinner 0.8s infinite linear;    
    -webkit-animation: rotateSpinner 0.8s infinite linear;    
}

.spinner {
	display: inline-block;
	opacity: 0;
	width: 0;
	@include transition(opactiy, width); 
	@include transition-duration(0.25s);

}

.has-spinner {
	&.active {
		cursor: progress;

		.spinner {
			opacity: 1;
			width: auto; /* This doesn't work, just fix for unkown width elements */
		}
	}

	&.btn-mini.active .spinner {
		width: 10px;
	}

	&.btn-small.active .spinner {
		width: 13px;
	}

	&.btn.active .spinner {
		width: 16px;
	}

	&.btn-large.active .spinner {
		width: 19px;
	}
}
.audi-loader {
	background-image: url('/etc/audi-ui/global/img/loader-sprite.png');  
	display:inline-block;
	width: 80px;
	height: 28px;
}
