/* AudiType Normal
*****************************/
@font-face {
	font-family: 'audiType_normal';
	src: url("/etc/audi-ui/global/fonts/audiType_normal.eot");
	src: url("/etc/audi-ui/global/fonts/audiType_normal.eot?#iefix") format("embedded-opentype"),
	url("/etc/audi-ui/global/fonts/audiType_normal.woff") format("woff"),
	url("/etc/audi-ui/global/fonts/audiType_normal.ttf") format("truetype"),
	url("/etc/audi-ui/global/fonts/audiType_normal.svg#audiType") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* AudiType Bold
*****************************/
@font-face {
	font-family: 'audiType_bold';
	src: url("/etc/audi-ui/global/fonts/audiType_bold.eot");
	src: url("/etc/audi-ui/global/fonts/audiType_bold.eot?#iefix") format("embedded-opentype"),
	url("/etc/audi-ui/global/fonts/audiType_bold.woff") format("woff"),
	url("/etc/audi-ui/global/fonts/audiType_bold.ttf") format("truetype"),
	url("/etc/audi-ui/global/fonts/audiType_bold.svg#audiType") format("svg");
	font-weight: bold;
	font-style: bold;
}

/* AudiType Extended Normal
*****************************/
@font-face {
	font-family: 'audiType_extended_normal';
	src: url("/etc/audi-ui/global/fonts/audiType_extended_normal.eot");
	src: url("/etc/audi-ui/global/fonts/audiType_extended_normal.eot?#iefix") format("embedded-opentype"),
	url("/etc/audi-ui/global/fonts/audiType_extended_normal.woff") format("woff"),
	url("/etc/audi-ui/global/fonts/audiType_extended_normal.ttf") format("truetype"),
	url("/etc/audi-ui/global/fonts/audiType_extended_normal.svg#audiType") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* AudiType Extended Bold
*****************************/
@font-face {
	font-family: 'audiType_extended_bold';
	src: url("/etc/audi-ui/global/fonts/audiType_extended_bold.eot");
	src: url("/etc/audi-ui/global/fonts/audiType_extended_bold.eot?#iefix") format("embedded-opentype"),
	url("/etc/audi-ui/global/fonts/audiType_extended_bold.woff") format("woff"),
	url("/etc/audi-ui/global/fonts/audiType_extended_bold.ttf") format("truetype"),
	url("/etc/audi-ui/global/fonts/audiType_extended_bold.svg#audiType") format("svg");
	font-weight: bold;
	font-style: bold;
}