// icon css
.icon { display:table-cell; }

// icon sizes
.icon-no-border {
	padding:0px !important;
}
.icon-xs {
	font-size:15px;
	padding:5px;		
}
.icon-sm {
	font-size:25px;
	padding:10px;		
}
.icon-lg {
	font-size:35px;
	padding:10px;
}


// notification type	
.icon-success { color:$state-success-text; }
.icon-warning { color:$state-warning-text; }
.icon-grey { color:#888; }

// icon attributes
.icon-border {
	border-style:solid;
	border-width:2px;
}
.icon-border.icon-xs {
	@include border-radius(15px, 15px);
	font-size:15px;
}	
.icon-border.icon-sm {
	@include border-radius(25px, 25px);	
	font-size:25px;
}
.icon-border.icon-lg {
	@include border-radius(35px, 35px);	
	font-size:35px;
}
