// this file contains any css overrides for old legacy code / templates
// these fixes are for old IE browsers only


/* IE footer height fix */
#footer1 {height:auto !important}
#footer1 dl:first-child {
	line-height: 2.2em !important;
}

#footer1 .login-logout a {
	height:20px;
}

/* IE8 navigation fixes */
.ie8 #main-nav li {
	background-repeat:no-repeat;
	background-position:0 6px !important;
}
.ie8 #mn-flyover li {background: url("/etc/designs/audi/img/bgs/li-red-arrow.gif") no-repeat}