// this file contains any css overrides for old legacy code / templates
// these fixes are for modern browsers

// Fix hover colours on top-nav links
#main-nav, #top-nav {
	a:hover {
		color: #000;
	}
}

// legacy buttons fix
// to ovveride /etc/designs/audi/salmon/css/legacy.css
a.btn {
	text-indent:0;
	display:inline-block;
}

//Footer item fixes - height fix, vertical align
#footer1 {
	a {
		height: 17px;
		display: table-cell;
		vertical-align: middle;
	}

	dd.login-logout {
		background: none;

		a {
			background: url(/etc/designs/audi/img/bgs/footer-login-logout.gif) no-repeat scroll 0 0 transparent;
			display: table-cell;
		}
	}
}


/* navigation-fixes */

body{
	font-size: 13px !important;
}
body, body:before, body:after,
#navigation *, #navigation *:before, #navigation *:after,
.footer *, .footer *:before, .footer *:after {
	-webkit-box-sizing: initial;
		-moz-box-sizing: initial;
	box-sizing : initial !important;
}

/* ovveride #navigation height as its hardcoded to a value in live legacy.css */
/* which then prevents .appContainer's top margin to not take visible effect */
#navigation {
	height: auto;
}
#navigation a {
	text-decoration: none;
}
#navigation ul {
	padding-left: 0px;
}


/* */
.fixed.row {
	margin: 0px auto;
	width:970px;
}


#navigation dt, 
#navigation a span, 
.flyover .spirit-of-audi h2 span, 
#navigation h2 span,
#main-nav label, .footer dt, 
#footer1 .audi-channel span, 
#footer1 .audi-heritage span, 
#product-details h1 span, 
#quick-links h2 span, 
.panel-accordion h2 span, 
.specifications-tabs dt, 
a.closeflyover {
    left: -10000px !important;
    position: absolute !important;
}