@import "../../../../global/styles/scss/bootstrap-custom/variables";

h1, .h1, h2, .h2, h3, .h3 { font-family:'audiType_extended_bold' }
h4, .h4, h5, .h5, h6, .h6, .popover-title { font-family:'audiType_normal' }

.list-style-audi li:before,
input[type='password'],
.webSafeFont {
	font-family:Verdana, Geneva, sans-serif;
}
a { text-decoration:underline; }
a.btn { text-decoration:none; }
a:hover{ cursor:pointer; color:#BE1331;}
a.has-error { color:$audi-red-color; }
a.no-underline { text-decoration: none; }
label { font-weight: normal }
.text-color-secondary {color:$text-color-secondary}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {

	small,
	.small {
		font-size:85%;
		font-family:'audiType_normal';
		padding-left:10px;
	}

}

b,
strong {
  font-weight: normal;
  font-family:"audiType_bold", Verdana, Geneva, sans-serif;
}

.no-margin{
	margin:0;
}

.accessibility {
   position: absolute;
   left: -99999px;
 }
.red-text{
	color:$audi-red-color;
}

//myAudi fonts

@mixin myAudiDefaultGreyText {
	font-family:"audiType_normal", Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#888;
}

.myAudiDefaultGreyText {
	@include myAudiDefaultGreyText;
}
.myAudiGreyText {
		font-family:"audiType_normal", Verdana, Geneva, sans-serif;

	color:#888;
}
.myAudiExtendedNormal {
	font-family:"audiType_extended_normal";
}
.myAudiExtendedBold {
	font-family:"audiType_extended_bold";
}
.myAudiNormal {
	font-family:"audiType_normal";
}
.myAudiBold {
	font-family:"audiType_bold";
}
.warningMessage {
	color:#B61742;
}