/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm {
	.container {
	  position: relative;
		.nav, .collapse, .dropup, .dropdown {
	 		 position: static;	
		}
		.dropdown.yamm-fw {
			.dropdown-menu {
				border:none;
				left:10px;
				padding:0;
				right:0;
				width: $container-fixed-width;
				.yamm-content {
				  padding:60px;
				}
			}
		}
	}
}
.navbar-default {
	border:none;
}	
