<div id="results">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-7">
                <h2>Select your preferred centre</h2>
            </div>
            <div class="col-xs-5"> 
                <button 
                    class="close modal-close-btn"
                    ng-click="close()"
                    type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 
                    class="pull-right myAudiExtendedNormal" 
                    ng-model="location" 
                    ng-if="centres.length > 0"> 
                    <i class="icon-location"></i>
                    {{location}}
                </h3>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row buttonMargins">
            <div class="col-xs-12">
                <p  class="ng-scope warning" 
                    ng-if="centres.length < 1"> 
                    <strong> 
                        {{location}} 
                    </strong> 
                    postcode or location you are searching for is not found. <br/> 
                    Please try another postcode or location. 
                </p>
                <ul class="list-group">
                    <li id="{{centre.dealerCode}}" 
                        ng-class="{'active': centre.showWindow}"
                        ng-cloak class="list-group-item"
                        ng-repeat="centre in centres">
                        <div class="row" ng-class="{'loadingOpacity': centre.loadingData}">
                            <div class="col-xs-2 miles">
                                <div class="pull-left">
                                    <h4 class="myAudiExtendedBold">{{centre.distance | number:1 }} </h4>
                                    <span> miles </span>
                                </div>
                                <span class="chevronRight pull-right"></span>
                            </div>
                            <div class="col-xs-5">
                                <h4 class="myAudiExtendedBold">{{centre.name}}</h4>
                            </div>
                            <div class="col-xs-5 centreButtons">
                                <div class="pull-right">
                                    <button 
                                        class="btn btn-tertiary" 
                                        ng-click="viewCentre(centre)" 
                                        ng-disabled="loadingData"> 
                                        More Details
                                    </button>
                                    <button 
                                        class="btn btn-primary" 
                                        ng-click="selectCentre(centre)" 
                                        ng-disabled="loadingData">
                                        Select Centre
                                    </button>
                                </div>
                            </div> 
                        </div>
                        <span ng-if="centre.loadingData" audi-loader></span> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <form 
                    class="new-location-search-form pull-right" 
                    name="searchCenterLocatorForm" 
                    ng-submit="centreSearch(newLocation)" 
                    novalidate>
                    <div 
                        class="form-group" 
                        ng-class="{ 'has-error' : (searchCenterLocatorForm.newLocation.$invalid &&  searchCenterLocatorForm.newLocation.$hadFocus)}">                    
                        <label 
                            class="myAudiExtendedBold locationLabel" 
                            for="newLocation">
                            Check another area
                        </label>
                        <div class="display-ib">
                            <input 
                                class="form-control " 
                                formatted
                                id="newLocation"
                                maxlength="35"  
                                name="newLocation" 
                                ng-disabled="loadingData"
                                ng-model="newLocation" 
                                placeholder="Enter postcode or town" 
                                required 
                                sa-focus
                                type="formatted text"/>
                                  
                            <button 
                                class="btn btn-tertiary" 
                                ng-disabled="loadingData"
                                type="submit"
                                ng-click="searchCenterLocatorForm.newLocation.$hadFocus = true">
                                Find a Centre 
                            </button>
                            <label 
                                class="warningMessage"
                                for="newLocation"
                                id="locate-centre-results-error"
                                ng-hide="searchCenterLocatorForm.$valid" 
                                ng-if="warning"> 
                                 {{warningMessage}}
                            </label>
                            <label 
                                class="warningMessage no-margins" 
                                for="newLocation"
                                id="locate-centre-results-no-entry"
                                ng-if="searchCenterLocatorForm.newLocation.$hadFocus &&searchCenterLocatorForm.$invalid">
                                Please enter location to search.
                            </label>                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

